<!DOCTYPE html>

<html lang="vi">

<head>
    <meta charset="utf-8">

    <title>Công ty TNHH Giải pháp Công Nghệ IT-Global</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Công ty TNHH Giải pháp Công Nghệ IT-Global">
    <meta name="author" content="IT-Global">
    <meta name="keywords" content="website, mobile app, technology, design">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="canonical" href="trangchu.html">
    <link rel="icon" href="~/Content/User/public/main/img/icon.svg">
    <link href="~/Content/User/public/main/img/icon.svg" rel="shortcut icon">
    <link rel="stylesheet" href="~/Content/User/public/main/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/iconfonts.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/plugins.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/style.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/color.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/frontend.min.css">
    <link rel="stylesheet" href="~/Content/User/public/main/css/image-text-alignment-block.css">
    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">

    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />

</head>
<body _c_t_common="1" _c_t_j1="1">
    <div class="loader" id="AjaxLoader" style="display:none;"></div>
    <div id="dtr-wrapper" class="clearfix">
        <div class="dtr-responsive-header fixed-top" style="">
            <div class="container">

                <a href="@Url.Action("Index","TrangChu")">
                    <img src="~/Content/User/public/main/img/icon.svg" style="width: 20%" alt="logo">
                </a>

                <button id="dtr-menu-button" class="dtr-hamburger" type="button">
                    <span class="dtr-hamburger-lines-wrapper">
                        <span class="dtr-hamburger-lines"></span>
                    </span>
                </button>
            </div>
            <div class="dtr-responsive-header-menu">
                <div class="slicknav_menu">
                    <ul class="slicknav_nav slicknav_hidden dtr-scrollspy" style="touch-action: pan-y; display: none;" aria-hidden="true" role="menu">
                        <li> <a class="nav-link " href="@Url.Action("Index","TrangChu")" role="menuitem" tabindex="-1">Trang chủ</a> </li>
                        <li> <a class="nav-link" href="@Url.Action("Index","GioiThieu")" role="menuitem" tabindex="-1">Về chúng tôi</a> </li>
                        <li> <a class="nav-link " href="@Url.Action("Index","DuAnThanhCong")" role="menuitem" tabindex="-1">Dự án thành công</a> </li>
                        <li> <a class="nav-link " href="@Url.Action("Index","HoiDap")" role="menuitem" tabindex="-1">Hỏi đáp</a> </li>
                        <li> <a class="nav-link " href="@Url.Action("Index","TinTuyenDung")" role="menuitem" tabindex="-1">Tin tuyển dụng</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="dtr-main-content">
            <header id="dtr-header-global" class="fixed-top trans-header">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">

                        <div class="dtr-header-left" style=" background-color: #fff; padding: 18px;  border-radius: 100%; ">

                            <a class="logo-default dtr-scroll-link" href="#">
                                <img src="~/Content/User/public/main/img/icon.svg" alt="logo">
                            </a>

                            <a class="logo-alt dtr-scroll-link" href="#">
                                <img src="~/Content/User/public/main/img/icon.svg" alt="logo">
                            </a>
                        </div>

                        <div class="dtr-header-right ml-auto">
                            <div class="main-navigation dtr-menu-light">
                                <ul class="sf-menu dtr-nav light-nav-on-load dark-nav-on-scroll sf-js-enabled sf-arrows dtr-menu-light"
                                    style="touch-action: pan-y;">
                                    @if (ViewBag.HeaderPages == "TrangChu")
                                    {
                                        <li> <a class="nav-link active" href="@Url.Action("Index","TrangChu")">TRANG CHỦ</a> </li>
                                    }
                                    else
                                    {
                                        <li> <a class="nav-link " href="@Url.Action("Index","TrangChu")">TRANG CHỦ</a> </li>

                                    }
                                    @if (ViewBag.HeaderPages == "GioiThieu")
                                    {
                                        <li><a class="nav-link active" href="@Url.Action("Index","GioiThieu")">GIỚI THIỆU</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="nav-link " href="@Url.Action("Index","GioiThieu")">GIỚI THIỆU</a></li>

                                    }
                                    @if (ViewBag.HeaderPages == "DuAnThanhCong")
                                    {
                                        <li> <a class="nav-link active" href="@Url.Action("Index","DuAnThanhCong")">DỰ ÁN THÀNH CÔNG</a> </li>
                                    }
                                    else
                                    {
                                        <li> <a class="nav-link " href="@Url.Action("Index","DuAnThanhCong")">DỰ ÁN THÀNH CÔNG</a> </li>

                                    }
                                    @if (ViewBag.HeaderPages == "HoiDap")
                                    {
                                        <li> <a class="nav-link active" href="@Url.Action("Index","HoiDap")">HỎI ĐÁP</a> </li>
                                    }
                                    else
                                    {
                                        <li> <a class="nav-link " href="@Url.Action("Index","HoiDap")">HỎI ĐÁP</a> </li>

                                    }
                                    @if (ViewBag.HeaderPages == "TinTuyenDung")
                                    {
                                        <li> <a class="nav-link active " href="@Url.Action("danhSachTinTuyenDung","TinTuyenDung")">TIN TUYỂN DỤNG</a> </li>
                                    }
                                    else
                                    {
                                        <li> <a class="nav-link " href="@Url.Action("danhSachTinTuyenDung","TinTuyenDung")">TIN TUYỂN DỤNG</a> </li>

                                    }

                                </ul>
                            </div>
                        </div>
                        <a href="@Url.Action("Index","LienHe")" class="dtr-btn btn-red dtr-btn-right-icon dtr-ml-30">LIÊN HỆ<i class="icon-send"></i></a>
                    </div>
                </div>
            </header>
            <div id="app">
                @RenderBody()
                @RenderSection("scripts", required: false)
                <input hidden value="@Url.Content("~")" id="requestPath" />
            </div>
            <footer id="dtr-footer">

                <!--== footer main starts ==-->
                <div class="dtr-footer-main">
                    <div class="container">

                        <!--== row starts ==-->
                        <div class="row">

                            <!-- column 1 starts -->
                            <div class="col-12 col-md-4 small-device-space">
                                <img src="~/Content/User/public/main/img/icon.svg" style="width: 30%" alt="logo">
                                <p class="dtr-mt-30">Công ty TNHH Giải pháp Công nghệ IT-Global<br>Mr.Tân: 0987613161</p>

                                <!-- social starts -->
                                <div class="dtr-social-large dtr-mt-30">
                                    <ul class="dtr-social dtr-social-list text-left">
                                        <li><a href="https://www.instagram.com/tancool_tn/" class="dtr-instagram" target="_blank" title="instagram"></a></li>
                                        <li><a href="skype:dvminhtan?chat" class="dtr-skype" target="_blank" title="skype"></a></li>
                                        <li><a href="mailto:info@it-global.net" class="dtr-google" target="_blank" title="google"></a></li>
                                        <li><a href="https://www.facebook.com/dauphaithaygiao" class="dtr-facebook" target="_blank" title="facebook"></a></li>
                                    </ul>
                                </div>
                                <!-- social ends -->

                            </div>
                            <!-- column 1 ends -->
                            <!-- column 2 starts -->
                            <div class="col-12 col-md-4 small-device-space">
                                <h4>Dịch vụ</h4>
                                <div class="spacer-30"></div>

                                <!-- nested row starts -->
                                <div class="row">
                                    <div class="col-12 col-lg-8 col-md-12">
                                        <ul class="dtr-list-border">
                                            <li><a href="#tab1">Thiết kế website</a></li>
                                            <li><a href="#tab2">Lập trình ứng dụng di động</a></li>
                                            <li><a href="#tab3">Tư vấn - thiết kế phần mềm</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-12">
                                        <ul class="dtr-list-border">
                                            <li><a href="@Url.Action("Index","DuAnThanhCong")" target="_blank">Dự án</a></li>
                                            <li><a href="@Url.Action("Index","HoiDap")" target="_blank">Hỏi đáp</a></li>
                                            <li><a href="@Url.Action("Index","LienHe")" target="_blank">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- nested row ends -->

                            </div>
                            <!-- column 2 ends -->
                            <!-- column 3 starts -->
                            <div class="col-12 col-md-4 small-device-space">
                                <h4>Liên hệ</h4>
                                <div class="spacer-30"></div>
                                <ul class="dtr-contact-widget">
                                    <li><i class="icon-phone-call"></i><a href="tel:098761361">+84 987.613.161</a></li>
                                    <li><i class="icon-envelope1"></i><a href="mailto:info@it-global.net">info@it-global.net</a></li>
                                    <li>
                                        <i class="icon-map-pin1"></i>2/1/15 đường 40, F Hiệp Bình Chánh, Tp. Thủ Đức
                                    </li>
                                </ul>
                            </div>
                            <!-- column 3 ends -->

                        </div>
                        <!--== row ends ==-->

                    </div>
                </div>
                <!--== footer main ends ==-->
                <!--== copyright starts ==-->
                <div class="dtr-copyright">
                    <div class="container">

                        <!--== row starts ==-->
                        <div class="row">

                            <!-- column 1 starts -->
                            <div class="col-12 text-center text-size-sm">
                                <p> Copyright © 2022, <a href="@Url.Action("Index", "TrangChu")">IT-Global .Ltd</a>.</p>
                            </div>
                            <!-- column 1 ends -->

                        </div>
                        <!--== row ends ==-->

                    </div>
                </div>
                <!--== copyright ends ==-->

            </footer>
        </div>
    </div>
    <!-- JS FILES -->

    <script src="~/Content/User/public/main/js/bootstrap.min.js"></script>
    <script src="~/Content/User/public/main/js/plugins.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/User/public/main/js/custom.js"></script>
    <script src="~/Content/User/public/js/app.js"></script>
    <script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <script src="~/ValidationAlert/User/LienHeValidation.js"></script>
</body>

</html>

