﻿
<!DOCTYPE html>
<html lang="en">
@using ITGlobalProject.Models
@{
    var notify = Session["Lst-ThongBaoDay"] as IEnumerable<Notification>;
}
<head>
    <!-- Required meta tags -->
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Công ty TNHH Giải pháp Công Nghệ IT-Global">
    <meta name="author" content="IT-Global">
    <meta name="keywords" content="website, mobile app, technology, design">
    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">

    <link href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" rel="stylesheet">
    <link rel="icon" href="~/Content/User/public/main/img/icon.svg">
    <link href="~/Content/User/public/main/img/icon.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Alert -->
    <!-- Libs CSS -->
    <link href="~/Content/Admin/assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/@("@mdi")/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/@("@yaireo")/tagify/dist/tagify.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link class="reloadMe" rel="stylesheet" href="~/Content/Admin/assets/css/theme.min.css">
    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="loader" id="AjaxLoader" style="display:none;"></div>
    <script>
        $('#AjaxLoader').fadeIn('slow');
    </script>
    <!-- Wrapper -->
    <div id="db-wrapper">
        <nav class="navbar-vertical navbar navbar-dark bg-dark">
            <div class="vh-100" data-simplebar>
                <!-- Brand logo -->
                <a style="text-align:center;" class="navbar-brand" href="@Url.Action("Overview", "Dashboard")">
                    <img style="width:60px; height:auto; margin-bottom:-8px; margin-top:5px" src="~/Content/User/public/main/img/icon.svg" />
                </a>
                <!-- Navbar nav -->
                <ul class="navbar-nav flex-column" id="sideNavbar">
                    @if (ViewBag.ShowActive == "Overview")
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" href="@Url.Action("Overview", "Dashboard")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-home me-2"></i> TRANG CHỦ
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("Overview", "Dashboard")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-home me-2"></i> TRANG CHỦ
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "danhSachNhanVien" || ViewBag.ShowActive == "TTChiTiet")
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-users me-2"></i> NHÂN SỰ
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-users me-2"></i> NHÂN SỰ
                            </a>
                        </li>
                    }


                    <li class="nav-item">
                        <a class="nav-link  " href="#" data-bs-toggle="collapse" data-bs-target="#navLoaiNghiPhep"
                           aria-expanded="false" aria-controls="navLoaiNghiPhep">
                            <i class="nav-icon fe fe-calendar me-2"></i> NGHỈ PHÉP
                        </a>
                        @if (ViewBag.ShowActive == "danhSachLoaiNghiPhep" || ViewBag.ShowActive == "ApplyNgayNghiPhep" || ViewBag.ShowActive == "danhSachDanhMucNgayNghiPhep" || ViewBag.ShowActive == "danhSachDonNghiPhep" || ViewBag.ShowActive == "taoDonNghiPhep")
                        {
                            <div id="navLoaiNghiPhep" class="collapse show" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    @if (ViewBag.ShowActive == "danhSachLoaiNghiPhep")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ĐƠN NGHỈ PHÉP
                                            </a>
                                        </li>

                                        <li class="nav-item ">
                                            <a class="nav-link active" href="@Url.Action("danhSachLoaiNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                LOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("ApplyNgayNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ÁP DỤNGLOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDanhMucNgayNghiPhep", "QuanLyDanhMucNgayNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                NGHỈ LỄ
                                            </a>
                                        </li>

                                    }
                                    else if (ViewBag.ShowActive == "ApplyNgayNghiPhep")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ĐƠN NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("danhSachLoaiNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                LOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="@Url.Action("ApplyNgayNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ÁP DỤNGLOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDanhMucNgayNghiPhep", "QuanLyDanhMucNgayNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                NGHỈ LỄ
                                            </a>
                                        </li>
                                    }
                                    else if (ViewBag.ShowActive == "danhSachDonNghiPhep" || ViewBag.ShowActive == "taoDonNghiPhep")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ĐƠN NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("danhSachLoaiNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                LOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("ApplyNgayNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ÁP DỤNGLOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDanhMucNgayNghiPhep", "QuanLyDanhMucNgayNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                NGHỈ LỄ
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ĐƠN NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("danhSachLoaiNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                LOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("ApplyNgayNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                ÁP DỤNGLOẠI NGHỈ PHÉP
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="@Url.Action("danhSachDanhMucNgayNghiPhep", "QuanLyDanhMucNgayNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                NGHỈ LỄ
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div id="navLoaiNghiPhep" class="collapse " data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            ĐƠN NGHỈ PHÉP
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="@Url.Action("danhSachLoaiNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            LOẠI NGHỈ PHÉP
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("ApplyNgayNghiPhep", "QuanLyLoaiNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            ÁP DỤNGLOẠI NGHỈ PHÉP
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("danhSachDanhMucNgayNghiPhep", "QuanLyDanhMucNgayNghiPhep")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            NGHỈ LỄ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>


                    <li class="nav-item">
                        <a class="nav-link  " href="#" data-bs-toggle="collapse" data-bs-target="#navKyNangChuyenMon"
                           aria-expanded="false" aria-controls="navKyNangChuyenMon">
                            <i class="nav-icon fe fe-award me-2"></i> KỸ NĂNG
                        </a>
                        @if (ViewBag.ShowActive == "danhSachDanhMucKyNang" || ViewBag.ShowActive == "danhSachKyNang")
                        {
                            <div id="navKyNangChuyenMon" class="collapse show" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    @if (ViewBag.ShowActive == "danhSachKyNang")
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link active" href="@Url.Action("danhSachKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                KỸ NĂNG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("danhSachDanhMucKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                DANH MỤC KỸ NĂNG
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("danhSachKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                KỸ NĂNG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="@Url.Action("danhSachDanhMucKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                DANH MỤC KỸ NĂNG
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        }
                        else
                        {
                            <div id="navKyNangChuyenMon" class="collapse " data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("danhSachKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            KỸ NĂNG
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("danhSachDanhMucKyNang", "QuanLyKyNangChuyenMon")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            DANH MỤC KỸ NĂNG
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  " href="#" data-bs-toggle="collapse" data-bs-target="#navluong"
                           aria-expanded="false" aria-controls="navluong">
                            <i class="nav-icon fe fe-dollar-sign me-2"></i> LƯƠNG
                        </a>
                        @if (ViewBag.ShowActive == "bangLuong" || ViewBag.ShowActive == "tinhLuong" || ViewBag.ShowActive == "danhSachKhoanTroCapVaPhuCap")
                        {
                            <div id="navluong" class="collapse show" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    @if (ViewBag.ShowActive == "bangLuong")
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link active" href="@Url.Action("bangLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                BẢNG LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("tinhLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TÍNH LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("danhSachKhoanTroCapVaPhuCap", "QuanLyTroCapVaPhuCap")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TRỢ CẤP & PHỤ CẤP
                                            </a>
                                        </li>
                                    }
                                    else if (ViewBag.ShowActive == "danhSachKhoanTroCapVaPhuCap")
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("bangLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                BẢNG LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="@Url.Action("tinhLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TÍNH LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link active" href="@Url.Action("danhSachKhoanTroCapVaPhuCap", "QuanLyTroCapVaPhuCap")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TRỢ CẤP & PHỤ CẤP
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link " href="@Url.Action("bangLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                BẢNG LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="@Url.Action("tinhLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TÍNH LƯƠNG
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="@Url.Action("danhSachKhoanTroCapVaPhuCap", "QuanLyTroCapVaPhuCap")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                                TRỢ CẤP & PHỤ CẤP
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div id="navluong" class="collapse " data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item ">
                                        <a class="nav-link " href="@Url.Action("bangLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            BẢNG LƯƠNG
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="@Url.Action("tinhLuong", "QuanLyLuong")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            TÍNH LƯƠNG
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="@Url.Action("danhSachKhoanTroCapVaPhuCap", "QuanLyTroCapVaPhuCap")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            TRỢ CẤP & PHỤ CẤP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>
                    @if (ViewBag.ShowActive == "danhSachDuAn" || ViewBag.ShowActive == "taoDuAnMoi")
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" href="@Url.Action("danhSachDuAn", "QuanLyDuAn")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-book me-2"></i> DỰ ÁN
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhSachDuAn", "QuanLyDuAn")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-book me-2"></i> DỰ ÁN
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "danhSachVaiTro")
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" href="@Url.Action("danhSachVaiTro", "QuanLyVaiTro")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-award me-2"></i> CHỨC DANH
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhSachVaiTro", "QuanLyVaiTro")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-award me-2"></i> CHỨC DANH
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "danhSachBoPhan")
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" href="@Url.Action("danhsachbophan", "quanlydanhmucbophan")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-briefcase me-2"></i> BỘ PHẬN
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhsachbophan", "quanlydanhmucbophan")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-briefcase me-2"></i> BỘ PHẬN
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "danhSachTinTuyenDung" || ViewBag.ShowActive == "themTinTuyenDung" || ViewBag.ShowActive == "chinhSuaTinTuyenDung")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active " href="@Url.Action("danhSachTinTuyenDung", "QuanLyTinTuyenDung")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-book-open me-2"></i> TIN TUYỂN DỤNG
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link  " href="@Url.Action("danhSachTinTuyenDung", "QuanLyTinTuyenDung")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-book-open me-2"></i> TIN TUYỂN DỤNG
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "danhSachDoiTac")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-user-check me-2"></i> THÔNG TIN ĐỐI TÁC
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-user-check me-2"></i> THÔNG TIN ĐỐI TÁC
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "thongTinLienHeTuVan")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("thongTinLienHeTuVan", "LienHeTuVan")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-phone-outgoing me-2"></i> THÔNG TIN TƯ VẤN
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("thongTinLienHeTuVan", "LienHeTuVan")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                <i class="nav-icon fe fe-phone-outgoing me-2"></i> THÔNG TIN TƯ VẤN
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div id="page-content">
            <div class="header">
                <!-- navbar -->
                <nav class="navbar-default navbar navbar-expand-lg">
                    <a id="nav-toggle" href="#">
                        <i class="fe fe-menu"></i>
                    </a>
                    <!--Navbar nav -->
                    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
                        <!-- List -->
                        <li class="dropdown ms-2">
                            <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    @if (Session["user-vatatar"] == null)
                                    {
                                        <img alt="avatar" src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                             class="rounded-circle" />
                                    }
                                    else
                                    {
                                        <img alt="avatar" src="@Session["user-vatatar"]"
                                             class="rounded-circle" />
                                    }
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                                <a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new {id = Session["user-id"]})" class="dropdown-item" onclick="$('#AjaxLoader').fadeIn('slow');">
                                    <div class="d-flex">
                                        <div class="avatar avatar-md avatar-indicators avatar-online">
                                            @if (Session["user-vatatar"] == null)
                                            {
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                     class="rounded-circle" />
                                            }
                                            else
                                            {
                                                <img alt="avatar" src="@Session["user-vatatar"]"
                                                     class="rounded-circle" />
                                            }
                                        </div>
                                        <div class="ms-3 lh-1">
                                            <h5 class="mb-1">@Session["user-fullname"]</h5>
                                            <p class="mb-0 text-muted">@Session["user-email"]</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li class="dropdown-submenu dropstart-lg">
                                        <a class="dropdown-item" href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new {id = Session["user-id"]})" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            <i class="fe fe-user me-2"></i> Trang cá nhân
                                        </a>
                                    </li>
                                </ul>

                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("DangXuat", "QuanLyTaiKhoan")" onclick="$('#AjaxLoader').fadeIn('slow');">
                                            <i class="fe fe-power me-2"></i> Đăng Xuất
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <script src="~/Content/Admin/assets/js/theme.min.js"></script>
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
            <script src="signalr/hubs"></script>
            @RenderSection("scripts", required: false)
        </div>
        <input hidden value="@Url.Content("~")" id="requestPath" />
    </div>
    <!-- Script -->
    <!-- Libs JS -->
    <script src="~/Content/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Admin/assets/libs/odometer/odometer.min.js"></script>
    <script src="~/Content/Admin/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/Content/Admin/assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
    <script src="~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Content/Admin/assets/libs/quill/dist/quill.min.js"></script>
    <script src="~/Content/Admin/assets/libs/file-upload-with-preview/dist/file-upload-with-preview.iife.js"></script>
    <script src="~/Content/Admin/assets/libs/dragula/dist/dragula.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script src="~/Content/Admin/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jQuery.print/jQuery.print.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/prism.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/components/prism-scss.min.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@yaireo")/tagify/dist/tagify.min.js"></script>
    <script src="~/Content/Admin/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@popperjs")/core/dist/umd/popper.min.js"></script>
    <script src="~/Content/Admin/assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
    <script src="~/Content/Admin/assets/libs/typed.js/lib/typed.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jsvectormap/dist/maps/world.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="~/Content/Admin/assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@lottiefiles")/lottie-player/dist/lottie-player.js"></script>
    <script src="~/Content/Admin/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/Admin/assets/libs/nouislider/dist/nouislider.min.js"></script>
    <script src="~/Content/Admin/assets/libs/wnumb/wNumb.min.js"></script>
    <script src="~/Content/Admin/assets/libs/glightbox/dist/js/glightbox.min.js"></script>
    <script src="~/assets/js/table2excel.js"></script>

    <!-- CDN File for moment -->
    <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js'></script>

    <!-- Theme JS -->
    <script src="~/Content/Admin/js/bootstrap-notify.min.js"></script>
    <script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    @if (ViewBag.Title == "Chi Tiết DỰ ÁN")
    {
        <script>
            $(document).ready(function () {
                if ($("#chartTongTheDuAn").length) {
                    e = {
                        series: [@ViewBag.TienDoTongTheDuAn],
                        chart: {
                            height: 350,
                            type: "radialBar",
                            toolbar: {
                                show: !1
                            }
                        },
                        colors: [window.theme.primary, window.theme.warning],
                        plotOptions: {
                            radialBar: {
                                startAngle: -135,
                                endAngle: 225,
                                hollow: {
                                    margin: 0,
                                    size: "70%",
                                    background: window.theme.white,
                                    image: void 0,
                                    imageOffsetX: 0,
                                    imageOffsetY: 0,
                                    position: "front",
                                    dropShadow: {
                                        enabled: !0,
                                        top: 3,
                                        left: 0,
                                        blur: 4,
                                        opacity: .24
                                    }
                                },
                                track: {
                                    background: window.theme.white,
                                    strokeWidth: "67%",
                                    margin: 0,
                                    dropShadow: {
                                        enabled: !0,
                                        top: -3,
                                        left: 0,
                                        blur: 4,
                                        opacity: .35
                                    }
                                },
                                dataLabels: {
                                    showOn: "always",
                                    name: {
                                        show: !1
                                    },
                                    value: {
                                        formatter: function (e) {
                                            return parseInt(e) + "%"
                                        },
                                        color: window.theme.dark,
                                        fontSize: "48px",
                                        fontWeight: "700",
                                        show: !0
                                    }
                                }
                            }
                        },
                        fill: {
                            type: "gradient",
                            gradient: {
                                shade: "dark",
                                type: "horizontal",
                                shadeIntensity: .5,
                                gradientToColors: [window.theme.warning],
                                inverseColors: !1,
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [0, 100]
                            }
                        },
                        stroke: {
                            lineCap: "round"
                        }
                    };
                    new ApexCharts(document.querySelector("#chartTongTheDuAn"), e).render()
                }
            });
        </script>
    }

    @if (ViewBag.ShowActive == "themTinTuyenDung"
        || ViewBag.ShowActive == "chinhSuaTinTuyenDung"
        || ViewBag.ShowActive == "danhSachNhanVien"
        || ViewBag.ShowActive == "taoDonNghiPhep")
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <link href="~/Content/Admin/css/Select2.css" rel="stylesheet" />
    }

    <script>
        $(window).on('load', function () {
            $('#AjaxLoader').fadeOut('slow');
            $.ajax({
                url: $('#requestPath').val() + 'Admins/ThongTinDoiTac/guiMail',
                type: "GET",
                success: function (result) {
                    if (result == "Ok") {
                        var content = {};
                        content.message = 'Đã thay đổi trạng thái Tính Thuế';
                        content.title = 'Thành công!';
                        content.icon = 'nav-icon fe fe-bell me-2';

                        $.notify(content, {
                            type: "success",
                            placement: {
                                from: "bottom",
                                align: "right"
                            },
                            time: 1000,
                            delay: 1000,
                        });
                    }
                }
            });
        });
    </script>
</body>
</html>