
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Đăng Nhập IT-GLOBAL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Công ty TNHH Giải pháp Công Nghệ IT-Global">
    <meta name="author" content="IT-Global">
    <meta name="keywords" content="website, mobile app, technology, design">

    <link rel="icon" href="~/Content/User/public/main/img/icon.svg">
    <link href="~/Content/User/public/main/img/icon.svg" rel="shortcut icon">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">
    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">
    <link href="~/Content/Admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-btn.css" rel="stylesheet" />
    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />
</head>

<body>
    <div class="loader" id="AjaxLoader" style="display:none;"></div>

    <div id="actionlinks" hidden data-request-url="@Url.Action("DangNhap", "QuanLyTaiKhoan")"></div>
    <div id="actionAdminSuccess" hidden data-request-url="@Url.Action("Analystics", "Dashboard")"></div>
    <div id="actionEmployeeSuccess" hidden data-request-url="@Url.Action("danhSachDuAn", "Employee/QuanLyCongViec")"></div>
    <input hidden id="requestPath" value="@Url.Content("~")" />

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img style="margin-top: -20px; margin-left: -20px" src="~/Content/Admin/images/intro.gif" alt="IMG">
                </div>
                <div id="frmLogin" style="margin-top: -100px" class="login100-form validate-form">

                    <span class="login100-form-title">
                        <img src="~/Content/Admin/images/icons/icon.svg" style="width:150px; height: auto;" alt="">
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Nhập vào tên tài khoản hoặc email đăng nhập của bạn">
                        <input class="input100" type="text" id="username" name="username" placeholder="Tài Khoản">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <p style="color: red; font-size: 13px; margin-top: -10px" hidden id="UsernameValidateResul"></p>
                    <div class="wrap-input100 validate-input" data-validate="Nhập vào mật khẩu với tối thiểu 8 ký tự và tối đa 20 ký tự">
                        <input class="input100" type="password" id="password" name="password" placeholder="Mật Khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <p style="color: red; font-size: 13px; margin-top: -10px" hidden id="PasswordValidateResul"></p>

                    <div id="frm-Captcha" style="display: none; background-color: white; height: 200px; border-style: dashed; margin-top: 20px" class="input100">
                        <p style="margin-left: -55px;padding-top: 10px;margin-bottom: 20px; font-weight:bold;"> Nhập mã xác thực để tiếp tục</p>
                        <div style="white-space: nowrap;" class="wrap-input100 validate-input" data-validate="Valid password reset is required: 000 000">
                            <div class="input100" style="width: 140%; margin-left: -58px; background-image: url( @Url.Content("~/content/images/bg-capcha.jpg") )">
                                <canvas style="margin-left: -30px" height="50" id="canvas"></canvas>
                            </div>
                            <button id="reload-button" style="padding-left: 175px;" class="symbol-input101">
                                <i style="color: brown; margin-top: 3px" class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input style="margin-left: -58px; width: 140%;" class="input100" type="text" id="user-input" placeholder="Nhập mã xác thực" />
                        <p style="color: red; font-size: 13px; width: 140%; margin-left: -50px;" hidden id="user-inputValidateResul"></p>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="subMitNe" class="login100-form-btn">
                            Đăng Nhập
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Quên
                        </span>
                        <a class="txt2" href="@Url.Action("QuenMatKhau", "QuanLyTaiKhoan")">
                            Mật khẩu?
                        </a>
                    </div>
                    <div style="margin-top: -30px" class="text-center p-t-136">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input hidden id="correct-number" type="number" value="0" />
    <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Admin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/Content/Admin/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--============================ Validation =============================-->
    <script src="~/ValidationAlert/Admin/QuanLyTaiKhoan/DangNhapValidation.js"></script>

</body>

</html>

