@{
    ViewBag.Title = "Xác Thực Tài Khoản";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Xác Thực Tài Khoản IT-GLOBAL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Công ty TNHH Giải pháp Công Nghệ IT-Global">
    <meta name="author" content="IT-Global">
    <meta name="keywords" content="website, mobile app, technology, design">

    <link rel="icon" href="~/Content/User/public/main/img/icon.svg">
    <link href="~/Content/User/public/main/img/icon.svg" rel="shortcut icon">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">
    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">
    <link href="~/Content/Admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-btn.css" rel="stylesheet" />
    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />
</head>

<body>
    <div class="loader" id="AjaxLoader" style="display:none;"></div>

    <div id="actionDatLaiMatKhau" hidden data-request-url="@Url.Action("QuenMatKhau", "QuanLyTaiKhoan")"></div>
    <div id="actionDatLaiMatKhauSuccess" hidden data-request-url="@Url.Action("XacThucQuenMatKhau", "QuanLyTaiKhoan")"></div>
    <div id="actionGuima" hidden data-request-url="@Url.Action("XacThucQuenMatKhau", "QuanLyTaiKhoan")"></div>
    <div id="actionSuccess" hidden data-request-url="@Url.Action("DatLaiMatKhau", "QuanLyTaiKhoan")"></div>
    <div id="actionFailed" hidden data-request-url="@Url.Action("DangNhap", "QuanLyTaiKhoan")"></div>

    <input hidden type="text" id="emailNe" name="emailNe" value="@Session["XacThucEmail"].ToString()" />
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    <img style="margin-bottom: -170px; margin-left: -400px" src="~/Content/Admin/images/icons/icon.svg" width="200px" height="auto" alt="">
                </span>
                <div id="frmMaXacThuc" style="margin-top: -130px; margin-left: 350px;" class="login100-form validate-form" form="get" action="pages/dashboard/admin-dashboard.html">
                    <div class="text-center">
                        <h2 style="font-weight: bold;">Xác Thực Tài Khoản</h2>
                    </div>
                    <div class="text-left p-t-12">
                        <p class="txt1">Một mã xác thực gồm 6 chữ số đã được gửi đến email: <b>@Session["XacThucEmail"].ToString()</b>.</p>
                        <p class="txt1">Mã xác thực sẽ hết hạn sau:  <b><span id="minutess" name="minutess">10</span> phút <span id="seconds" name="seconds">00</span></b></p>
                    </div>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="Valid password reset is required: 000 000">
                        <input class="input100" type="text" name="maXacThuc" id="maXacThuc" placeholder="Nhập mã xác thực">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </div>
                    <p style="color: red; font-size: 13px; margin-top: -10px" hidden id="UsernameValidateResul"></p>
                    <div class="container-login50-form-btn">
                        <button id="xacNhan" class="login100-form-btn">
                            Xác nhận
                        </button>
                    </div>
                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Chưa nhận được mã?
                        </span>
                        <a class="txt2" href="" id="guiLaiMa">
                            Gửi lại mã
                        </a>
                    </div>
                    <div style="margin-top: -30px" class="text-center p-t-136">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Admin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/Content/Admin/js/main.js"></script>

    <script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="~/ValidationAlert/Admin/QuanLyTaiKhoan/XacThucQuenMatKhauValidation.js"></script>


    <script type="text/javascript">
        document.write('<style type="text/css">html{padding-bottom:20px;}</style><a><img style="position:fixed;z-index:9999;top:0;left:0;" src="https://sharethuthuat.com/wp-content/uploads/2021/12/banner_left.png" _cke_saved_src="https://sharethuthuat.com/wp-content/uploads/2021/12/banner_right.png"/></a><a><img style="position:fixed;z-index:9999;top:0;right:0;" src="https://sharethuthuat.com/wp-content/uploads/2021/12/banner_right.png"/></a>'
            + '<div style="position:fixed;z-index:9999;bottom:-50px;left:0;width:100%;height:104px;background:url(https://sharethuthuat.com/wp-content/uploads/2021/12/nentet.png) repeat-x bottom left;"></div><a><img style="position:fixed;z-index:9999;bottom:20px;left:20px" src="https://sharethuthuat.com/wp-content/uploads/2021/12/banner_header.png"/></a>');
        var no = 10;
        if (matchMedia('only screen and (max-width: 767px)').matches) {
            no = 10
        }
        let hoaArgs = [
            [
                'https://sharethuthuat.com/wp-content/plugins/themetot-tet/images/hoadao.png',
                15],
            [
                'https://sharethuthuat.com/wp-content/plugins/themetot-tet/images/hoamai.png',
                30],
        ];
        let img_url = '';
        let imgW = 0;
        var hidesnowtime = 0;
        var color_snow = '#fff';
        var snowdistance = 'windowheight'; // windowheight or pageheight;
        var ie4up = (document.all) ? 1 : 0;
        var ns6up = (document.getElementById && !document.all) ? 1 : 0;

        function iecompattest() {
            return (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body
        }

        var dx, xp, yp;
        var am, stx, sty;
        var i, doc_width = 800, doc_height = 600;
        if (ns6up) {
            doc_width = self.innerWidth;
            doc_height = self.innerHeight
        } else if (ie4up) {
            doc_width = iecompattest().clientWidth;
            doc_height = iecompattest().clientHeight
        }
        dx = new Array();
        xp = new Array();
        yp = new Array();
        am = new Array();
        stx = new Array();
        sty = new Array();
        for (i = 0; i < no; ++i) {
            dx[i] = 0;
            xp[i] = Math.random() * (doc_width - 50);
            yp[i] = Math.random() * doc_height;
            am[i] = Math.random() * 20;
            stx[i] = 0.02 + Math.random() / 10;
            sty[i] = 0.7 + Math.random();
            if (ie4up || ns6up) {
                let hoaRandom = Math.floor(Math.random() * hoaArgs.length);
                img_url = hoaArgs[hoaRandom][0];
                imgW = hoaArgs[hoaRandom][1];
                let imgWith = 13;
                if (i % 2 == 0)
                    imgWith = 17;
                document.write('<div id="dot' + i + '" style="POSITION:fixed;Z-INDEX:' + (99 + i) + ';VISIBILITY:visible;TOP:15px;LEFT:15px;pointer-events: none;width:' + imgW + 'px"><span style="font-size:18px;color:' + color_snow + '"><img style="width: ' + imgWith + 'px" src="' + img_url + '" alt=""></span></div>');
            }
        }

        function snowIE_NS6() {
            doc_width = ns6up ? window.innerWidth - 10 : iecompattest().clientWidth - 10;
            doc_height = (window.innerHeight && snowdistance == 'windowheight') ? window.innerHeight : (ie4up && snowdistance == 'windowheight') ? iecompattest().clientHeight : (ie4up && !window.opera && snowdistance == 'pageheight') ? iecompattest().scrollHeight : iecompattest().offsetHeight;
            for (i = 0; i < no; ++i) {
                yp[i] += sty[i];
                if (yp[i] > doc_height - 50) {
                    xp[i] = Math.random() * (doc_width - am[i] - 30);
                    yp[i] = 0;
                    stx[i] = 0.02 + Math.random() / 10;
                    sty[i] = 0.7 + Math.random()
                }
                dx[i] += stx[i];
                document.getElementById('dot' + i).style.top = yp[i] + 'px';
                document.getElementById('dot' + i).style.left = xp[i] + am[i] * Math.sin(dx[i]) + 'px'
            }
            snowtimer = setTimeout('snowIE_NS6()', 10)
        }

        function hidesnow() {
            if (window.snowtimer) {
                clearTimeout(snowtimer)
            }
            for (i = 0; i < no; i++) document.getElementById('dot' + i).style.visibility = 'hidden'
        }

        if (ie4up || ns6up) {
            snowIE_NS6();
            if (hidesnowtime > 0) setTimeout('hidesnow()', hidesnowtime * 1000)
        }
    </script>

</body>

</html>