@model IEnumerable<ITGlobalProject.Models.LeaveApplication>
@{
    int i = 0;
}
<!-- Table -->
<div class="tab-content" id="tabContentsss">
    <!--Tab pane -->
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
        <div class="card">
            <!-- table -->
            <table id="dataTableBasic" class="table table-hover" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th hidden>STT</th>
                        <th scope="col" class="text-nowrap border-top-0">Ngày gửi</th>
                        <th scope="col" class="text-nowrap border-top-0">Nhân viên</th>
                        <th scope="col" class="text-nowrap  border-top-0">Loại nghỉ</th>
                        <th scope="col" class="text-nowrap border-top-0">Thời gian nghỉ</th>
                        <th scope="col" class="text-nowrap  border-top-0">Số ngày nghỉ</th>
                        <th scope="col" class="text-nowrap border-top-0">Nội dung</th>
                        <th scope="col" class="text-nowrap border-top-0">Nội dung phản hồi</th>
                        <th scope="col" class="text-nowrap border-top-0">Xác nhận</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td hidden>@i</td>
                            <td class="align-middle border-top-0">
                                @item.SendDate.ToString("HH:mm")
                                <br />
                                @item.SendDate.ToString("dd/MM/yyyy")
                            </td>
                            <td class="align-middle border-top-0">
                                <b>
                                    Tên:
                                </b>
                                <a class="text-dark" target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.ID})">
                                    @item.Employees.Name
                                </a>

                                <br />
                                <b>
                                    Mã:
                                </b>
                                <a class="text-dark" target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.ID})">
                                    @item.Employees.ID_Employee
                                </a>
                                <br />
                            </td>
                            <td class="align-middle border-top-0">
                                @item.ApplyLeaveType.LeaveType.Name
                            </td>
                            <td class="align-middle border-top-0">
                                <b>Từ:</b>  @item.StartDate.ToString("dd/MM/yyyy")
                                <br />
                                <b>Đến:</b> @item.EndDate.ToString("dd/MM/yyyy")
                            </td>
                            <td word-break: break-word" class="align-middle border-top-0">
                                @item.RealLeaveDate.ToString("0.0").Replace(",", ".") ngày
                            </td>
                            <td word-break: break-word" class="align-middle border-top-0">
                                @item.Contents
                            </td>

                            <td class="align-middle border-top-0">
                                <textarea rows="3" id="noidung-@item.ID" class="form-control form-control-sm" placeholder="Nhập nội dung phản hồi">@item.Reply</textarea>
                            </td>
                            <td class="align-middle border-top-0 text-nowrap">
                                @if (item.State == true)
                                {
                                    <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                    <a id="thaydoi@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Lưu Thay Đổi</a>
                                }
                                else if (item.State == false && item.ResponsiveDate != null)
                                {
                                    <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Được duyệt</a>
                                    <a id="thaydoi@(item.ID)" name="@item.ID" class="btn btn-outline-success btn-sm">Lưu Thay Đổi</a>
                                }
                                else
                                {
                                    <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                    <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Được duyệt</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyDonNghiPhep/TuchoiOrChapnhanValidation.js"></script>
</div>

