@model IEnumerable<ITGlobalProject.Models.LeaveApplication>
@{
    ViewBag.Title = "Danh Sách Đơn Nghỉ Phép";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Đơn Nghỉ Phép </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")">Quản Lý Đơn Nghỉ Phép</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Danh Sách Đơn Nghỉ Phép
                            </li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <a href="@Url.Action("taoDonNghiPhep", "QuanLyDonNghiPhep")" class="btn btn-primary me-2">
                        Thêm Mới
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div id="danhSachPartial" class="row">
        <!-- col -->
        <div class="col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card rounded-3">
                <!-- Card header -->
                <div class="card-header border-bottom-0 p-0 bg-white">
                    <div>
                        <input hidden id="typeTab" value="choduyet" />
                        <!-- Nav -->
                        <ul class="nav nav-lb-tab" id="tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="choduyetTab" data-bs-toggle="pill" href="#choduyetTab" role="tab" aria-controls="choduyetTab" aria-selected="false">
                                    Chờ Duyệt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="duocduyetTab" data-bs-toggle="pill" href="#duocduyetTab" role="tab" aria-controls="choduyetTab" aria-selected="false">
                                    Được Duyệt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="bituchoiTab" data-bs-toggle="pill" href="#bituchoiTab" role="tab" aria-controls="bituchoiTab" aria-selected="false">
                                    Đã Từ Chối
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="tabContentsss">
                    <!--Tab pane -->
                    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
                        <div class="card">
                            <!-- table -->
                            <table id="dataTableBasic" class="table table-hover" style="width:100%">
                                <thead class="table-light">
                                    <tr>
                                        <th hidden>STT</th>
                                        <th scope="col" class="text-nowrap border-top-0">Ngày gửi</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Nhân viên</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Loại nghỉ</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Thời gian nghỉ</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Nội dung</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Nội dung phản hồi</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Trừ lương</th>
                                        <th scope="col" class="text-nowrap  border-top-0">Xác nhận</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td hidden>@i</td>
                                            <td class="align-middle border-top-0">
                                                @item.SendDate.ToString("HH:mm")
                                                <br />
                                                @item.SendDate.ToString("dd/MM/yyyy")
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <b>
                                                    Tên:
                                                </b>
                                                <a class="text-dark" target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.Employees.ID})">
                                                    @item.Employees.Name
                                                </a>

                                                <br />
                                                <b>
                                                    Mã:
                                                </b>
                                                <a class="text-dark" target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.Employees.ID})">
                                                    @item.Employees.ID_Employee
                                                </a>
                                                <br />
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.ApplyLeaveType.LeaveType.Name
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <b>Từ:</b>  @item.StartDate.ToString("dd/MM/yyyy")
                                                <br />
                                                <b>Đến:</b> @item.EndDate.ToString("dd/MM/yyyy")
                                                <br />
                                                <b>Tổng:</b> @((Convert.ToDateTime(item.EndDate.ToString("yyyy-MM-dd")).AddDays(1) - Convert.ToDateTime(item.StartDate.ToString("yyyy-MM-dd"))).TotalDays) ngày
                                            </td>
                                            <td word-break: break-word" class="align-middle border-top-0">
                                                @item.Contents
                                            </td>

                                            <td class="align-middle border-top-0">
                                                <textarea rows="3" id="noidung-@item.ID" class="form-control form-control-sm" placeholder="Nhập nội dung phản hồi"></textarea>
                                            </td>
                                            <td class="align-middle text-center border-top-0">
                                                <div class="form-check form-switch">
                                                    @if (item.OnWage == false)
                                                    {
                                                        <input id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                                    }
                                                    else
                                                    {
                                                        <input checked id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                                    }
                                                </div>
                                            </td>
                                            <td class="align-middle border-top-0 text-nowrap">
                                                <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                                <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Được duyệt</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/QuanLyDonNghiPhep/DanhSachDonNghiPhepValidation.js"></script>
<script src="~/ValidationAlert/Admin/QuanLyDonNghiPhep/TuchoiOrChapnhanValidation.js"></script>