@model IEnumerable<ITGlobalProject.Models.LeaveApplication>
@{
    ViewBag.Title = "Danh Sách Đơn Nghỉ Phép";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Đơn Nghỉ Phép </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("danhSachDonNghiPhep", "QuanLyDonNghiPhep")">Quản Lý Đơn Nghỉ Phép</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Danh Sách Đơn Nghỉ Phép
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div id="danhSachPartial" class="row">
        <!-- col -->
        <div class="col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card rounded-3">
                <!-- Card header -->
                <div class="card-header border-bottom-0 p-0 bg-white">
                    <div>
                        <!-- Nav -->
                        <ul class="nav nav-lb-tab" id="tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="choduyetTab" data-bs-toggle="pill" href="#pending" role="tab" aria-controls="pending" aria-selected="false">
                                    Chờ Duyệt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="duocduyetTab" data-bs-toggle="pill" href="#approved" role="tab" aria-controls="approved" aria-selected="false">
                                    Được Duyệt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="bituchoiTab" data-bs-toggle="pill" href="#refuse" role="tab" aria-controls="refuse" aria-selected="false">
                                    Bị Từ Chối
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <!-- table -->
                    <table id="dataTableBasic" class="table table-hover" style="width:100%">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class=" border-top-0">ID Nhân viên</th>
                                <th scope="col" class=" border-top-0">Ngày bắt đầu nghỉ</th>
                                <th scope="col" class=" border-top-0">Ngày kết thúc</th>
                                <th scope="col" class=" border-top-0">Nội dung nghỉ phép</th>
                                <th scope="col" class=" border-top-0">Nội dung phản hồi</th>
                                <th scope="col" class=" border-top-0">Trạng thái</th>
                                <th scope="col" class=" border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td style="width: 120px" class="align-middle border-top-0">
                                            @item.Employees.ID_Employee
                                        </td>
                                        <td style="width: 170px" class="align-middle border-top-0">
                                            @item.StartDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="width: 130px" class="align-middle border-top-0">
                                            @item.EndDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="max-width: 250px; word-break: break-word" class="align-middle border-top-0">
                                            @item.Contents
                                        </td>
                                        <td class="align-middle border-top-0">
                                            <input style="width: 250px" class="form-control form-control-sm" placeholder="Nhập nội dung phản hồi" type="text" />
                                        </td>
                                        <td class="align-middle border-top-0 text-nowrap">
                                            <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                            <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Xác nhận</a>
                                        </td>
                                        <td class="align-middle border-top-0">
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="align-middle border-top-0 text-center">
                                        Không có dữ liệu để hiển thị.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyDonNghiPhep/DanhSachDonNghiPhepValidation.js"></script>
    <script src="~/ValidationAlert/Admin/QuanLyDonNghiPhep/TuchoiOrChapnhanValidation.js"></script>
