@model IEnumerable<ITGlobalProject.Models.LeaveApplication>
@using ITGlobalProject.Models
@{
    int i = 0;
    CP25Team06Entities models = new CP25Team06Entities();

}

<div class="tab-content" id="tabContentsss">
    <!--Tab pane -->
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
        <div class="card">
            <!-- table -->
            <table id="dataTableBasic" class="table table-hover" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class=" border-top-0">STT</th>
                        <th scope="col" class=" border-top-0">Ngày gửi</th>
                        <th scope="col" class=" border-top-0">Loại Nghỉ Phép</th>
                        <th scope="col" class=" border-top-0">Thời gian nghỉ</th>
                        <th scope="col" class=" border-top-0">Số ngày nghỉ</th>
                        <th scope="col" class=" border-top-0">Nội dung</th>
                        <th scope="col" class=" border-top-0"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        i++;
                        <input hidden id="startDate-@item.ID" value="@item.StartDate.ToString("yyyy-MM-dd")" />
                        <input hidden id="endDate-@item.ID" value="@item.EndDate.ToString("yyyy-MM-dd")" />
                        <input hidden id="content-@item.ID" value="@item.Contents" />
                        <input hidden id="leavetype-@item.ID" value="@item.ApplyLeaveType.ID_Leave_Type" />
                        <input hidden id="realleavedate-@item.ID" value="@item.RealLeaveDate.ToString("0.0").Replace(",",".")" />

                        int idleavetype = item.ApplyLeaveType.ID_Leave_Type;
                        int idemp = Int32.Parse(Session["user-id"].ToString());
                        var applyleavetype = models.ApplyLeaveType.FirstOrDefault(a => a.ID_Leave_Type == idleavetype && a.ID_Employee == idemp && a.LeavePeriod == DateTime.Now.Year);
                        var idapplyleavetype = applyleavetype.ID;
                        var tongSoNgayChoPhep = applyleavetype.Entitlement;

                        var lstSoNgayDaNghi = models.LeaveApplication.Where(l => l.ID_Employee == idemp && l.ID_ApplyLeaveType == idapplyleavetype).Sum(s => s.RealLeaveDate);
                        string contents = ((tongSoNgayChoPhep - lstSoNgayDaNghi) + item.RealLeaveDate) + " ngày";
                        <input hidden id="quantity-@item.ID" value="@contents" />
                        <tr>
                            <td class="align-middle border-top-0">@i</td>
                            <td class="align-middle border-top-0">
                                @item.SendDate.ToString("HH:mm")
                                <br />
                                @item.SendDate.ToString("dd-MM-yyyy")
                            </td>
                            <td class="align-middle border-top-0">@item.ApplyLeaveType.LeaveType.Name</td>

                            <td class="align-middle border-top-0">
                                <b>Từ:</b>  @item.StartDate.ToString("dd-MM-yyyy")
                                <br />
                                <b>Đến:</b> @item.EndDate.ToString("dd-MM-yyyy")
                            </td>
                            <td class="align-middle border-top-0">
                                @item.RealLeaveDate.ToString("0.0").Replace(",", ".") ngày
                            </td>
                            <td word-break: break-word" class="align-middle border-top-0">
                                @(string.IsNullOrEmpty(item.Contents) ? "Không có ghi chú nội dung" : item.Contents)
                            </td>
                            <td class="align-middle border-top-0 text-nowrap">
                                <a id="xoa@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Xóa đơn</a>
                                <a id="capnhat@(item.ID)" name="@item.ID" class="btn btn-outline-success btn-sm">Cập nhật</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <script src="~/ValidationAlert/Employee/QuanLyDonNghiPhep/XoaDonNghiPhep_Validation.js"></script>
        <script>
            $(document).ready(function () {
                $('[id^="capnhat"]').on('click', function () {
                    var id = $(this).attr('name');
                    $('#chinhsualoainghiphep').selectpicker('val', $('#leavetype-' + id).val());
                    $('#chinhsuangaybatdau').val($('#startDate-' + id).val());
                    $('#chinhsuangayketthuc').val($('#endDate-' + id).val());
                    $('#chinhsuanoidungcapnhat').val($('#content-' + id).val());
                    $('#chinhsuarealleavedate').val($('#realleavedate-' + id).val());
                    $('#chinhsuaquantityleavetype').text($('#quantity-' + id).val());

                    $('#idDonChinhSua').val(id);

                    $('#chinhsuadon').modal('toggle');
                });
            });
        </script>
    </div>
</div>
