@model IEnumerable<ITGlobalProject.Models.Consultation>
@{
    int i = 0;
}
<!-- Table -->
<div class="tab-content" id="tabContent">
    <!--Tab pane -->
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
        <div class="card" data-simplebar>
            <!-- table -->
            <table id="dataTableBasic" class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="border-0 text-uppercase">
                            #
                        </th>
                        <th scope="col" class="border-0 text-uppercase">
                            khách hàng
                        </th>
                        <th scope="col" class="border-0 text-uppercase">
                            Ngày gửi
                        </th>
                        <th scope="col" class="border-0 text-uppercase">
                            Nội dung
                        </th>
                        <th scope="col" class="border-0 text-uppercase">
                            Điện thoại
                        </th>
                        <th scope="col" class="border-0 text-uppercase">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td class="align-middle border-top-0">
                                    @i
                                </td>
                                <td class="align-middle border-top-0">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">@item.Name</h4>
                                            <span class="text-inherit">@item.Email</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle border-top-0  text-nowrap">
                                    @item.Date.ToString("HH:mm, dd-MM-yyyy")
                                </td>
                                <td style="max-width: 400px; word-break: break-word" class="align-middle border-top-0">
                                    @item.Contents
                                </td>
                                <td class="align-middle border-top-0 text-nowrap">
                                    <div class="d-flex align-items-center">
                                        <h5 class="mb-0"><i class="fe fe-phone-call"> </i> @item.Phone</h5>
                                    </div>
                                </td>
                                <td class="align-middle border-top-0 text-nowrap">
                                    <a id="xoabo@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                                    <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Đã liên hệ</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="align-middle border-top-0 text-center">
                                Không có dữ liệu để hiển thị.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/LienHeTuVan/XoaOrDuyetValidation.js"></script>
