@model IEnumerable<ITGlobalProject.Models.Consultation>
@{
    ViewBag.Title = "Thông Tin Tư Vấn";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Thông Tin Tư Vấn</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("thongTinLienHeTuVan", "LienHeTuVan")">Thông Tin Tư Vấn</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="pageContent" class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card rounded-3">
                <!-- Card header -->
                <div class="card-header border-bottom-0 p-0 bg-white">
                    <div>
                        <!-- Nav -->
                        <ul class="nav nav-lb-tab" id="tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="choduyetTab" data-bs-toggle="pill" href="#pending" role="tab" aria-controls="pending" aria-selected="false">
                                    Chờ Duyệt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dalienheTab" data-bs-toggle="pill" href="#approved" role="tab" aria-controls="approved" aria-selected="false">
                                    Đã Liên Hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <!-- Table -->
                    <div class="tab-content" id="tabContent">
                        <!--Tab pane -->
                        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="card">
                                <!-- table -->
                                <table id="dataTableBasic" class="table mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase">
                                                #
                                            </th>
                                            <th scope="col" class="border-0 text-uppercase">
                                                khách hàng
                                            </th>
                                            <th scope="col" class="border-0 text-uppercase">
                                                Ngày gửi
                                            </th>
                                            <th scope="col" class="border-0 text-uppercase">
                                                Nội dung
                                            </th>
                                            <th scope="col" class="border-0 text-uppercase">
                                                Điện thoại
                                            </th>
                                            <th scope="col" class="border-0 text-uppercase">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                i++;
                                                <tr>
                                                    <td class="align-middle border-top-0">
                                                        @i
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <h4 class="mb-0">@item.Name</h4>
                                                                <span class="text-inherit">@item.Email</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle border-top-0  text-nowrap">
                                                        @item.Date.ToString("HH:mm, dd-MM-yyyy")
                                                    </td>
                                                    <td style="max-width: 400px; word-break: break-word" class="align-middle border-top-0">
                                                        @item.Contents
                                                    </td>
                                                    <td class="align-middle border-top-0 text-nowrap">
                                                        <div class="d-flex align-items-center">
                                                            <h5 class="mb-0"><i class="fe fe-phone-call"> </i> @item.Phone</h5>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle border-top-0 text-nowrap">
                                                        <a id="xoabo@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                                                        <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Đã liên hệ</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" class="align-middle border-top-0 text-center">
                                                    Không có dữ liệu để hiển thị.
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/LienHeTuVan/DanhSachLienHeValidation.js"></script>
<script src="~/ValidationAlert/Admin/LienHeTuVan/XoaOrDuyetValidation.js"></script>
