<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Geeks is a fully responsive and yet modern premium bootstrap 5 template & snippets. Geek is feature-rich components and beautifully designed pages that help you create the best possible website and web application projects. Bootstrap Snippet " />
    <meta name="keywords" content="Geeks UI, bootstrap, bootstrap 5, Course, Sass, landing, Marketing, admin themes, bootstrap admin, bootstrap dashboard, ui kit, web app, dash ui, admin dashboard, HTML5, multipurpose" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Alert -->
    <link rel="stylesheet" href="~/Content/Admin/assets/css/atlantis.min.css">
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Admin/assets/images/favicon/favicon.ico">
    @*<script src="~/bundles/jquery"></script>*@
    <!-- Libs CSS -->
    <link href="~/Content/Admin/assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/@("@mdi")/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/@("@yaireo")/tagify/dist/tagify.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/libs/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/Content/Loader/Loader.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/Admin/assets/css/theme.min.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="loader" id="AjaxLoader" style="display:none;"></div>

    <!-- Wrapper -->
    <div id="db-wrapper">
        <nav class="navbar-vertical navbar navbar-dark bg-dark">
            <div class="vh-100" data-simplebar>
                <!-- Brand logo -->
                <a style="text-align:center;" class="navbar-brand" href="@Url.Action("Overview", "Dashboard")">
                    <img style="width:60px; height:auto; margin-bottom:-8px; margin-top:5px" src="~/Content/User/public/main/img/icon.svg" />
                </a>
                <!-- Navbar nav -->
                <ul class="navbar-nav flex-column" id="sideNavbar">
                    @if (ViewBag.ShowActive == "TTChiTiet")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("thongtinchitiet", "quanlytaikhoan", new {id = Session["user-id"]})">
                                <i class="nav-icon fe fe-user me-2"></i>Hồ Sơ Cá Nhân
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("thongtinchitiet", "quanlytaikhoan", new {id = Session["user-id"]})">
                                <i class="nav-icon fe fe-user me-2"></i>Hồ Sơ Cá Nhân
                            </a>
                        </li>
                    }
                    @if (ViewBag.ShowActive == "danhSachDuAn")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("danhSachDuAn", "QuanLyCongViec")">
                                <i class="nav-icon fe fe-book me-2"></i> Công Việc
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhSachDuAn", "QuanLyCongViec")">
                                <i class="nav-icon fe fe-book me-2"></i> Công Việc
                            </a>
                        </li>
                    }


                    @if (ViewBag.ShowActive == "bangLuong")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("bangLuong", "QuanLyLuong")">
                                <i class="nav-icon fe fe-dollar-sign me-2"></i> Lương
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("bangLuong", "QuanLyLuong")">
                                <i class="nav-icon fe fe-dollar-sign me-2"></i> Lương
                            </a>
                        </li>
                    }

                    @if (ViewBag.ShowActive == "ttdonnghiphep")
                    {
                        <li class="nav-item ">
                            <a class="nav-link  active" href="@Url.Action("danhsachdonnghiphep", "quanlydonnghiphep", new {id = Session["user-id"]})">
                                <i class="nav-icon fe fe-clock me-2"></i> Đơn Nghỉ Phép
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("danhsachdonnghiphep", "quanlydonnghiphep", new {id = Session["user-id"]})">
                                <i class="nav-icon fe fe-clock me-2"></i> Đơn Nghỉ Phép
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div id="page-content">
            <div class="header">
                <!-- navbar -->
                <nav class="navbar-default navbar navbar-expand-lg">
                    <a id="nav-toggle" href="#">
                        <i class="fe fe-menu"></i>
                    </a>
                    <!--Navbar nav -->
                    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
                        <li class="dropdown stopevent">
                            <a class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted"
                               href="#" role="button" id="dropdownNotification" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-bell"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg"
                                 aria-labelledby="dropdownNotification">
                                <div>
                                    <div class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center">
                                        <span class="h4 mb-0">Notifications</span>
                                        <a href="# " class="text-muted">
                                            <span class="align-middle">
                                                <i class="fe fe-settings me-1"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush" data-simplebar style="max-height: 300px;">
                                        <li class="list-group-item bg-light">
                                            <div class="row">
                                                <div class="col">
                                                    <a class="text-body" href="#">
                                                        <div class="d-flex">
                                                            <img src="~/Content/Admin/assets/images/avatar/avatar-1.jpg" alt=""
                                                                 class="avatar-md rounded-circle" />
                                                            <div class="ms-3">
                                                                <h5 class="fw-bold mb-1">Đặng Văn Tuấn:</h5>
                                                                <p class="mb-3">
                                                                    Ê Thông báo nè, đọc đi!
                                                                </p>
                                                                <span class="fs-6 text-muted">
                                                                    <span>
                                                                        <span class="fe fe-thumbs-up text-success me-1"></span>2
                                                                        giờ trước,
                                                                    </span>
                                                                    <span class="ms-1">2:19 PM</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center me-2">
                                                    <a href="#" class="badge-dot bg-info" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" title="Mark as read">
                                                    </a>
                                                    <div>
                                                        <a href="#" class="bg-transparent" data-bs-toggle="tooltip"
                                                           data-bs-placement="top" title="Remove">
                                                            <i class="fe fe-x text-muted"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    <a class="text-body" href="#">
                                                        <div class="d-flex">
                                                            <img src="~/Content/Admin/assets/images/avatar/avatar-2.jpg" alt=""
                                                                 class="avatar-md rounded-circle" />
                                                            <div class="ms-3">
                                                                <h5 class="fw-bold mb-1">Brooklyn Simmons</h5>
                                                                <p class="mb-3">
                                                                    Just launched a new Courses React for Beginner.
                                                                </p>
                                                                <span class="fs-6 text-muted">
                                                                    <span>
                                                                        <span class="fe fe-thumbs-up text-success me-1"></span>Oct
                                                                        9,
                                                                    </span>
                                                                    <span class="ms-1">1:20 PM</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center me-2">
                                                    <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" title="Mark as unread">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    <a class="text-body" href="#">
                                                        <div class="d-flex">
                                                            <img src="~/Content/Admin/assets/images/avatar/avatar-3.jpg" alt=""
                                                                 class="avatar-md rounded-circle" />
                                                            <div class="ms-3">
                                                                <h5 class="fw-bold mb-1">Jenny Wilson</h5>
                                                                <p class="mb-3">
                                                                    Krisitn Watsan like your comment on course
                                                                    Javascript Introduction!
                                                                </p>
                                                                <span class="fs-6 text-muted">
                                                                    <span>
                                                                        <span class="fe fe-thumbs-up text-info me-1"></span>Oct
                                                                        9,
                                                                    </span>
                                                                    <span class="ms-1">1:56 PM</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center me-2">
                                                    <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" title="Mark as unread">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    <a class="text-body" href="#">
                                                        <div class="d-flex">
                                                            <img src="~/Content/Admin/assets/images/avatar/avatar-4.jpg" alt=""
                                                                 class="avatar-md rounded-circle" />
                                                            <div class="ms-3">
                                                                <h5 class="fw-bold mb-1">Sina Ray</h5>
                                                                <p class="mb-3">
                                                                    You earn new certificate for complete the Javascript
                                                                    Beginner course.
                                                                </p>
                                                                <span class="fs-6 text-muted">
                                                                    <span>
                                                                        <span class="fe fe-award text-warning me-1"></span>Oct
                                                                        9,
                                                                    </span>
                                                                    <span class="ms-1">1:56 PM</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center me-2">
                                                    <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" title="Mark as unread">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="border-top px-3 pt-3 pb-0">
                                        <a href="~/Content/Admin/pages/notification-history.html" class="text-link fw-semi-bold">
                                            See all Notifications
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- List -->
                        <li class="dropdown ms-2">
                            <a href="@Url.Action("thongTinChiTiet", "QuanLyTaiKhoan", new {id = Session["user-id"]})" class="dropdown-item">

                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    @if (Session["user-vatatar"] == null)
                                    {
                                        <img alt="avatar" src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                             class="rounded-circle" />
                                    }
                                    else
                                    {
                                        <img alt="avatar" src="@Session["user-vatatar"]"
                                             class="rounded-circle" />
                                    }
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                                <a class="dropdown-item" href="@Url.Action("thongTinChiTiet", "QuanLyTaiKhoan", new {id = Session["user-id"]})">
                                    <div class="d-flex">
                                        <div class="avatar avatar-md avatar-indicators avatar-online">
                                            @if (Session["user-vatatar"] == null)
                                            {
                                                <img alt="avatar" src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                     class="rounded-circle" />
                                            }
                                            else
                                            {
                                                <img alt="avatar" src="@Session["user-vatatar"]"
                                                     class="rounded-circle" />
                                            }
                                        </div>
                                        <div class="ms-3 lh-1">
                                            <h5 class="mb-1">@Session["user-fullname"]</h5>
                                            <p class="mb-0 text-muted">@Session["user-email"]</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li class="dropdown-submenu dropstart-lg">
                                        <a class="dropdown-item" href="@Url.Action("thongTinChiTiet", "QuanLyTaiKhoan", new {id = Session["user-id"]})">
                                            <i class="fe fe-user me-2"></i> Trang cá nhân
                                        </a>
                                    </li>
                                </ul>

                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("DangXuat", "QuanLyTaiKhoan")">
                                            <i class="fe fe-power me-2"></i> Đăng Xuất
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
            <script src="~/signalr/hubs"></script>
            @RenderSection("scripts", required: false)
        </div>
    </div>
    <input hidden id="requestPath" value="@Url.Content("~")" />
    <!-- Libs JS -->
    <script src="~/Content/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Admin/assets/libs/odometer/odometer.min.js"></script>
    <script src="~/Content/Admin/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/Content/Admin/assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
    <script src="~/Content/Admin/assets/libs/quill/dist/quill.min.js"></script>
    <script src="~/Content/Admin/assets/libs/file-upload-with-preview/dist/file-upload-with-preview.iife.js"></script>
    <script src="~/Content/Admin/assets/libs/dragula/dist/dragula.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script src="~/Content/Admin/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jQuery.print/jQuery.print.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/prism.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/components/prism-scss.min.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@yaireo")/tagify/dist/tagify.min.js"></script>
    <script src="~/Content/Admin/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@popperjs")/core/dist/umd/popper.min.js"></script>
    <script src="~/Content/Admin/assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
    <script src="~/Content/Admin/assets/libs/typed.js/lib/typed.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jsvectormap/dist/maps/world.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Admin/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="~/Content/Admin/assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="~/Content/Admin/assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Content/Admin/assets/libs/@("@lottiefiles")/lottie-player/dist/lottie-player.js"></script>
    <script src="~/Content/Admin/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Content/Admin/assets/libs/nouislider/dist/nouislider.min.js"></script>
    <script src="~/Content/Admin/assets/libs/wnumb/wNumb.min.js"></script>
    <script src="~/Content/Admin/assets/libs/glightbox/dist/js/glightbox.min.js"></script>


    <!-- CDN File for moment -->
    <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js'></script>

    <!-- Theme JS -->
    <script src="~/Content/Admin/js/bootstrap-notify.min.js"></script>

    <script src="~/Content/Admin/assets/js/theme.min.js"></script>
    <script src="~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <script src="~/Scripts/jquery.loadscript.js"></script>
    <script src="~/Scripts/jquery.loadscript.min.js"></script>

    @if (ViewBag.ShowActive == "themTinTuyenDung"
        || ViewBag.ShowActive == "chinhSuaTinTuyenDung"
        || ViewBag.ShowActive == "danhSachNhanVien"
        || ViewBag.ShowActive == "taoDonNghiPhep")
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <link href="~/Content/Admin/css/Select2.css" rel="stylesheet" />
    }

    @if (ViewBag.Title == "Chi Tiết Dự Án")
    {
        <script>
            $(document).ready(function () {
                if ($("#chartTongTheDuAn").length) {
                    e = {
                        series: [@ViewBag.TienDoTongTheDuAn],
                        chart: {
                            height: 350,
                            type: "radialBar",
                            toolbar: {
                                show: !1
                            }
                        },
                        colors: [window.theme.primary, window.theme.warning],
                        plotOptions: {
                            radialBar: {
                                startAngle: -135,
                                endAngle: 225,
                                hollow: {
                                    margin: 0,
                                    size: "70%",
                                    background: window.theme.white,
                                    image: void 0,
                                    imageOffsetX: 0,
                                    imageOffsetY: 0,
                                    position: "front",
                                    dropShadow: {
                                        enabled: !0,
                                        top: 3,
                                        left: 0,
                                        blur: 4,
                                        opacity: .24
                                    }
                                },
                                track: {
                                    background: window.theme.white,
                                    strokeWidth: "67%",
                                    margin: 0,
                                    dropShadow: {
                                        enabled: !0,
                                        top: -3,
                                        left: 0,
                                        blur: 4,
                                        opacity: .35
                                    }
                                },
                                dataLabels: {
                                    showOn: "always",
                                    name: {
                                        show: !1
                                    },
                                    value: {
                                        formatter: function (e) {
                                            return parseInt(e) + "%"
                                        },
                                        color: window.theme.dark,
                                        fontSize: "48px",
                                        fontWeight: "700",
                                        show: !0
                                    }
                                }
                            }
                        },
                        fill: {
                            type: "gradient",
                            gradient: {
                                shade: "dark",
                                type: "horizontal",
                                shadeIntensity: .5,
                                gradientToColors: [window.theme.warning],
                                inverseColors: !1,
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [0, 100]
                            }
                        },
                        stroke: {
                            lineCap: "round"
                        }
                    };
                    new ApexCharts(document.querySelector("#chartTongTheDuAn"), e).render()
                }
            });
        </script>
    }

    <script>
        $(window).on('load', function () {
            $('#AjaxLoader').hide();
            $.ajax({
                url: $('#requestPath').val() + 'Admins/ThongTinDoiTac/guiMail',
                type: "GET",
                success: function (result) {
                    if (result == "Ok") {
                        var content = {};
                        content.message = 'Đã thay đổi trạng thái Tính Thuế';
                        content.title = 'Thành công!';
                        content.icon = 'nav-icon fe fe-bell me-2';

                        $.notify(content, {
                            type: "success",
                            placement: {
                                from: "bottom",
                                align: "right"
                            },
                            time: 1000,
                            delay: 1000,
                        });
                    }
                }
            });
        });
    </script>
</body>
</html>
