@model IEnumerable<ITGlobalProject.Models.Payroll>
@{
    ViewBag.Title = "Lương Tháng " + Model.First().PayrollCategory.Date.ToString("MM, yyyy");
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 d-lg-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Lương Tháng @Model.First().PayrollCategory.Date.ToString("MM, yyyy")</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("bangLuong", "quanLyLuong")">Quản Lý Lương</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("bangLuong", "quanLyLuong")">Bảng Lương</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Lương Tháng @Model.First().PayrollCategory.Date.ToString("MM, yyyy")
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div style="margin-right:-5px">
                    <a href="@Url.Action("bangLuong", "quanLyLuong")" class="btn btn-primary me-2" style="width:230px;"><i class="fe bi-file-earmark-excel"> </i> Xuất Danh Sách Lương</a>

                    <a href="@Url.Action("bangLuong", "quanLyLuong")" class="btn btn-primary me-2" style="width:230px;"><i class="fe fe-grid"> </i> Xem Bảng Lương</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <span class="fs-6 text-uppercase fw-semi-bold">Tổng thanh toán (VND)</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h2 class="h2 fw-bold mb-1 text-primary">@(Model.Sum(s => s.Total_Price).Value > 0 ? Model.Sum(s => s.Total_Price).Value.ToString("0,0").Replace(".",",") : "0")</h2>
                            <h5 style="margin-top: 32px"></h5>
                        </div>
                        <div>
                            <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary">
                                <i class="mdi mdi-credit-card-multiple mdi-24px "></i>

                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <span class="fs-6 text-uppercase fw-semi-bold"> Cần thanh toán (VND)</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <input hidden id="DataCanthanhtoan" value="@(Model.Where(m => m.State == false).Sum(s => s.Total_Price).Value > 0 ? Model.Where(m => m.State == false).Sum(s => s.Total_Price).Value.ToString("0,0").Replace(".","") : "0")" />
                            <h2 id="IDCanthanhtoan" class="h2 fw-bold mb-1 text-danger">@(Model.Where(m => m.State == false).Sum(s => s.Total_Price).Value > 0 ? Model.Where(m => m.State == false).Sum(s => s.Total_Price).Value.ToString("0,0").Replace(".",",") : "0")</h2>
                            <h5 style="margin-top: 32px"></h5>
                        </div>
                        <div>
                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                <i class="mdi mdi-credit-card-multiple mdi-24px "></i>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <span class="fs-6 text-uppercase fw-semi-bold">Đã nhận lương</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <input hidden id="IDdaNhanLuong" value="@Model.Where(m => m.State == true).Count()" />
                            <h2 id="daNhanLuong" class="h2 fw-bold mb-1 text-success">@Model.Where(m => m.State == true).Count()</h2>
                            <h5> Nhân viên</h5>
                        </div>
                        <div>
                            <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success">
                                <i class="mdi mdi-account-multiple mdi-24px text-dark-success "></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <span class="fs-6 text-uppercase fw-semi-bold">Chưa nhận lương</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <input hidden id="IDchuaNhanLuong" value="@Model.Where(m => m.State == false).Count()" />
                            <h2 id="chuaNhanLuong" class="h2 fw-bold mb-1 text-warning">@Model.Where(m => m.State == false).Count()</h2>
                            <h5> Nhân viên</h5>
                        </div>
                        <div>
                            <span class="bg-light-warning icon-shape icon-xl rounded-3 text-dark-warning">
                                <i class="mdi mdi-account-multiple mdi-24px"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12">
            <div class="card">
                <!-- table  -->
                <div id="dataTableBasic_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dataTableBasic" class="table dataTable no-footer dtr-inline" style="width: 100%;" aria-describedby="dataTableBasic_info">
                                <thead class="table-light">
                                    <tr>
                                        <th>Mã nhân viên</th>
                                        <th>Họ và Tên</th>
                                        <th>Ngày nhận</th>
                                        <th>Lương CB (VND)</th>
                                        <th>Thuế - BH (VND)</th>
                                        <th>Thực lãnh (VND)</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle ">
                                                <a target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.ID_Employee})" class="d-flex align-items-center">
                                                    @item.Employees.ID_Employee
                                                </a>
                                            </td>
                                            <td class="fw-semi-bold text-primary align-middle">
                                                <a target="_blank" href="@Url.Action("thongtinchitiet", "quanlynhansu", new {id = item.ID_Employee})" class="d-flex align-items-center">

                                                    @if (string.IsNullOrEmpty(item.Employees.Avatar))
                                                    {
                                                        <div class="avatar avatar-xs avatar-danger me-2">
                                                            <span class="avatar-initials rounded-circle ">@item.Employees.Name.Substring(0, 1)</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <img src="@item.Employees.Avatar" alt="" class="rounded-circle avatar-xs me-2" />
                                                    }

                                                    <h5 class="mb-0">@item.Employees.Name</h5>
                                                </a>
                                            </td>
                                            <td class="align-middle ">
                                                @(item.Histories.Where(h => h.Name.IndexOf("Thanh Toán") != -1).Count() > 0 ? item.Histories.FirstOrDefault(h => h.Name.IndexOf("Thanh Toán") != -1).Date.ToString("dd") + " Thg " + item.Histories.FirstOrDefault(h => h.Name.IndexOf("Thanh Toán") != -1).Date.ToString("MM ,yyyy") : "Chờ thanh toán")
                                            </td>
                                            <td class=" fw-bold mb-0 text-primary  align-middle">@item.Salary.ToString("0,0").Replace(".", ",") đ </td>
                                            <td class=" fw-bold mb-0 text-danger  align-middle">@(Convert.ToDecimal(item.TotalPriceTax.Value + item.TotalPriceInsurance + 0).ToString("0,0").Replace(".", ",")) đ </td>
                                            <td class=" fw-bold mb-0 text-warning  align-middle">
                                                <input hidden id="mucthanhtoan-@item.ID" value="@(item.Total_Price.Value != 0 ? item.Total_Price.Value.ToString("0,0").Replace(".", "") : "0")" />
                                                @(item.Total_Price.Value != 0 ? item.Total_Price.Value.ToString("0,0").Replace(".", ",") : "0") đ
                                            </td>
                                            <td id="tdTrangThai-@item.ID" class="border-top-0  align-middle">
                                                @if (item.State == true)
                                                {
                                                    <span style="width:110px" class="badge text-success bg-light-success ">Đã thanh toán</span>
                                                }
                                                else
                                                {
                                                    <span style="width:110px" class="badge text-danger bg-light-danger ">Chưa thanh toán</span>
                                                }
                                            </td>
                                            <td class="text-muted align-middle text-end">
                                                <div class="dropdown dropstart">
                                                    <a data-bs-toggle="tooltip" data-placement="top" title="Xem chi tiết" class="btn-icon btn btn-ghost rounded-circle text-primary" role="button" id="xemchiTietLuong-@item.ID" name="@item.ID">
                                                        <i class="fe fe-info"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/QuanLyLuong/chiTietLuongValidation.js"></script>
<div class="modal fade modal-xl" id="xemChiTietLuong" tabindex="-1" role="dialog" aria-labelledby="xemChiTietLuongLabel"
     aria-hidden="true" data-simplebar>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edittaskModalLabel"><i class="fe fe-dollar-sign"> </i>Chi Tiết Lương</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="modalchitietluong" class="modal-body" style="background-color: #F5F4F8">
            </div>
        </div>
    </div>
</div>