@model ITGlobalProject.Models.Partners

<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Chi Tiết
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")">Thông Tin Đối Tác</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")">Danh Sách Đối Tác</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Thông Tin Chi Tiết
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style="
								background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-doitac-bg.jpg")) no-repeat;
								background-size: cover;
							"></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde


                     rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }

                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="Đối tác"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Đối Tác</span>
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item active">
                                <a role="button" id="ttchiTiet" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án đang có
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thông Tin Cá Nhân  </h3>
                    <p class="mb-0">
                        Các thông tin về nhân viên được hiển thị dưới dạng xem.
                    </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <form class="row">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-3 mb-lg-0">
                                @if (string.IsNullOrEmpty(Model.Avatar))
                                {
                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xxl rounded-circle" alt="" id="previewImage" />
                                    <input hidden id="avaCu" value="~/Content/Admin/assets/images/avatar/default-avatar.png" />
                                }
                                else
                                {
                                    <img src="@Model.Avatar" class="avatar-xxl rounded-circle" alt="" id="previewImage" />
                                    <input hidden id="avaCu" value="@Model.Avatar" />
                                }
                                <div class="ms-3">
                                    <h4 class="mb-0">Hình đại diện (nếu có)</h4>
                                    <p class="mb-0">
                                        PNG hoặc JPG hình vuông không lớn hơn 800px.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                                <a id="clickFiles" style="width: 150px" role="button" class="btn btn-outline-primary btn-sm">Tải lên</a>
                                <a id="reloadButton" style="width: 150px" role="button" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="mb-3 col-12">
                            <label style="font-weight:bold" class="form-label">Tên Đơn vị / Doanh nghiệp</label>
                            <input hidden value="@Model.ID" id="idpart" />
                            <input value="@Model.Company" id="namedn" name="namedn" type="text" class="form-control" placeholder="Nhập vào tên doanh nghiệp của khách hàng (nếu có)" required>
                            <p hidden style="font-size: 13px; color:red;" id="namednvalidation"></p>
                        </div>
                        <!-- form group -->
                        <div class="mb-3 col-12  col-md-6">
                            <label style="font-weight:bold" class="form-label">Họ và Tên <span class="text-danger">*</span></label>
                            <input value="@Model.Name" id="hoten" name="hoten" type="text" class="form-control" placeholder="Nhập vào họ và tên của khách hàng" required>
                            <p hidden style="font-size: 13px; color:red;" id="hotenvalidation"></p>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label style="font-weight:bold" class="form-label" for="fname">Số CMND / CCCD <span class="text-danger">*</span></label>
                            <input value="@Model.IdentityCard" id="cmnd" name="cmnd" type="text" class="form-control" placeholder="Nhập vào số CMND/CCCD của khách hàng" data-inputmask="'mask': '9999 9999 9999'" inputmode="numeric" />
                            <p hidden style="font-size: 13px; color:red;" id="cmndvalidation"></p>
                        </div>
                        <!-- Phone -->
                        <div class="mb-3 col-12 col-md-6">
                            <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                            <input value="@Model.Phone" id="phone" name="phone" type="tel" class="form-control" placeholder="Nhập vào số điện thoại khách hàng" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" />
                            <p hidden style="font-size: 13px; color:red;" id="phonevalidation"></p>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label style="font-weight:bold" class="form-label" for="phone">Email <span class="text-danger">*</span></label>
                            <input value="@Model.Email" type="text" id="email" name="email" class="form-control" placeholder="example@itglobal.net" data-inputmask="'alias': 'email'" inputmode="numeric" />
                            <p hidden style="font-size: 13px; color:red;" id="emailvalidation"></p>
                        </div>
                        <!-- Birthday -->
                        <div class="mb-3 col-12 col-md-6">
                            <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh <span class="text-danger">*</span></label>
                            <input value="@Model.Birthday.ToString("yyyy-MM-dd")" id="ngaysinh" name="ngaysinh" class="form-control flatpickr" type="date" placeholder="Chọn ngày sinh" />
                            <p hidden style="font-size: 13px; color:red;" id="ngaysinhvalidation"></p>
                        </div>
                        <!-- Birthday -->
                        <div class="mb-3 col-12 col-md-6">
                            <label style="font-weight:bold" class="form-label">Giới tính <span class="text-danger">*</span></label>
                            <select id="gioitinh" name="gioitinh" style="color:black" class="selectpicker" data-width="100%">
                                @if (Model.Sex.Equals("Nam"))
                                {
                                    <option selected value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                }
                                else
                                {
                                    <option value="Nam">Nam</option>
                                    <option selected value="Nữ">Nữ</option>
                                }
                            </select>
                            <p hidden style="font-size: 13px; color:red;" id="gioitinhvalidation"></p>
                        </div>

                        <!-- Address -->
                        <div class="mb-3 col-12 col-md-12">
                            <label style="font-weight:bold" class="form-label" for="address">ĐC Doanh nghiệp / Nhà riêng</label>
                            <textarea id="diahchinha" name="diachinha" rows="5" class="form-control" placeholder="Nhập địa chỉ doanh nghiệp / nhà riêng khách hàng">@Model.Address</textarea>
                            <p hidden style="font-size: 13px; color:red;" id="diachinhavalidation"></p>
                        </div>

                        <div style="text-align: right; padding-top: 25px" class="mb-2 col-12 col-md-6">
                            <button id="resetdata" style="width: 230px" class="btn btn-outline-danger" type="reset">
                                Hủy
                            </button>
                        </div>
                        <div style=" padding-top: 25px" class="mb-2 col-12 col-md-6">
                            <a role="button" id="luuThongTin" style="width: 230px" class="btn btn-success">
                                Lưu
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Admin/ThongTinDoiTac/UpdateInfoPartnerValidation.js"></script>
</div>
