@using PagedList;
@using PagedList.Mvc;
@using ITGlobalProject.Models;
@model IPagedList<ITGlobalProject.Models.Partners>
@{
    CP25Team06Entities models = new CP25Team06Entities();
    ViewBag.Title = "Danh Sách Đối Tác";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Danh Sách Đối Tác
                        <b id="tongSoLuong" name="@Model.TotalItemCount" class="fs-5 text-muted">(@Model.TotalItemCount)</b>
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")">Thông Tin Đối Tác</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Danh Sách Đối Tác
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a class="btn btn-primary me-2" style="width:230px" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fe fe-user-plus"> </i> Thêm Đối Tác
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Tab -->
            <div class="tab-content">
                <!-- Tab pane -->
                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <input id="searchPartner" type="search" class="form-control" placeholder="Tìm kiếm với Email, Số điện thoại, Tên doanh nghiệp, Tên đối tác" />
                    </div>
                    <div class="mb-3 col-12 col-md-3">
                        <select id="trangthaiPartner" class="selectpicker" data-width="100%">
                            <option value="">Tất cả</option>
                            <option value="congno">Còn công nợ</option>
                            <option value="dangthuchien">Dự án đang thực hiện</option>
                        </select>
                    </div>
                    <div class="mb-3 col-12 col-md-3">
                        <select id="hienthiPartner" class="selectpicker" data-width="100%">
                            <option value="8">Hiển thị 8</option>
                            <option value="25">Hiển thị 25</option>
                            <option value="50">Hiển thị 50</option>
                            <option value="100">Hiển thị 100</option>
                        </select>
                    </div>
                </div>
                <div id="pagess2" class="row">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a href="@Url.Action("thongTinChiTiet", "ThongTinDoiTac", new { id = item.ID })">
                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                                else
                                                {
                                                    <img src="@item.Avatar"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                            </a>
                                            <a href="@Url.Action("thongTinChiTiet", "ThongTinDoiTac", new { id = item.ID })">
                                                <h4 class="mb-0" title="Xem trang cá nhân">@item.Name</h4>
                                            </a>
                                            <p class="mb-0">@item.Company</p>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 mt-4">
                                            <span>Dự án đang được phát triển</span>
                                            <b>
                                                <span class="text-warning">@item.Projects.Count()
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2">
                                            <span>Công nợ còn</span>
                                            <b>
                                                <span class="text-danger">
                                                    @(item.Projects.Sum(p => p.Debts.Where(d => d.State == false).Sum(s => s.Price)) > 0 ? item.Projects.Sum(p => p.Debts.Where(d => d.State == false).Sum(s => s.Price)).ToString("0,0").Replace(".", ",") : "0")  đ <i class="mdi mdi-"></i>
                                                </span>
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2">
                                            <span>Dự án đã tham gia</span>
                                            <b>
                                                <span class="text-success">
                                                    @item.Projects.Count()
                                                </span>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <div class="mb-3 col-12 col-md-12 text-center">
                            <label style="width: 100%" class="text-center">Không tìm thấy dữ liệu tương ứng.</label>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="pt-4">
                            <!-- Pagination -->
                            <nav>
                                <ul class="pagination justify-content-center mb-0">
                                    @if (Model.PageNumber == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="#" tabindex="-1">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachDoiTacPartial", "ThongTinDoiTac", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                <input hidden name="pageSize" value="@ViewBag.countListPartner" />
                                                <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </button>
                                            }
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (Model.PageNumber == i)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="@Url.Action("danhSachDoiTacPartial", new { page = i, pageSize = ViewBag.countListPartner })">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @using (Ajax.BeginForm("danhSachDoiTacPartial", "ThongTinDoiTac", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                {
                                                    <input hidden name="page" value="@i" />
                                                    <input hidden name="pageSize" value="@ViewBag.countListPartner" />
                                                    <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                }
                                            </li>
                                        }
                                    }
                                    @if (Model.PageNumber == Model.PageCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = ViewBag.countListPartner })">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachDoiTacPartial", "ThongTinDoiTac", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                <input hidden name="pageSize" value="@ViewBag.countListPartner" />
                                                <button class="page-link mx-1 rounded" type="submit">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </button>
                                            }
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="width: 65%; height:100%" data-simplebar>
    <div class="offcanvas-body">
        <div class="offcanvas-header px-2 pt-0">
            <div style="height:30px" class="row">
                <h4 class="offcanvas-title" id="offcanvasExampleLabel"><i class="fe fe-user-plus"> </i> Thêm Đối Tác</h4>
                <br />
                <p>Nhập vào đầy đủ các thông tin bắt buộc của đối tác.</p>
            </div>
            <button id="tatcanvas" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-3 mb-lg-0">
                        <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xxl rounded-circle" alt="" id="previewImage" />
                        <div class="ms-3">
                            <h4 class="mb-0">Hình đại diện (nếu có)</h4>
                            <p class="mb-0">
                                PNG hoặc JPG hình vuông không lớn hơn 800px.
                            </p>
                        </div>
                    </div>
                    <div>
                        <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                        <a id="clickFiles" style="width: 150px" role="button" class="btn btn-outline-primary btn-sm">Tải lên</a>
                        <a id="reloadButton" style="width: 150px" role="button" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="mb-3 col-12">
                    <label style="font-weight:bold;" class="form-label" for="phone">Loại đối tác</label>
                    <div class="form-check form-switch form-control">
                        <label style="margin-top: 1px; margin-left: -10px" class="form-check-label" for="canhandoanhnghiep">Cá Nhân / Doanh Nghiệp</label>
                        &emsp;&emsp;&ensp;&ensp;&ensp;
                        <input id="canhandoanhnghiep" style="margin-right: -20px" class="form-check-input" type="checkbox" role="switch">
                    </div>
                </div>
                <div hidden id="doanhnghieps1" class="mb-3 col-12">
                    <label style="font-weight:bold" class="form-label">Tên Đơn vị / Doanh nghiệp <span class="text-danger">*</span></label>
                    <input id="namedn" name="namedn" type="text" class="form-control" placeholder="Nhập vào tên doanh nghiệp của khách hàng" required>
                    <p hidden style="font-size: 13px; color:red;" id="namednvalidation"></p>
                </div>
                <!-- form group -->
                <div hidden id="doanhnghieps2" class="mb-3 col-12  col-md-6">
                    <label style="font-weight:bold" class="form-label">Tên người đại diện <span class="text-danger">*</span></label>
                    <input id="hotennguoidaidien" name="hotennguoidaidien" type="text" class="form-control" placeholder="Nhập vào họ và tên của người đại diện" required>
                    <p hidden style="font-size: 13px; color:red;" id="hotennguoidaidienvalidation"></p>
                </div>
                <!-- form group -->
                <div id="canhans" class="mb-3 col-12  col-md-6">
                    <label style="font-weight:bold" class="form-label">Họ và Tên <span class="text-danger">*</span></label>
                    <input id="hoten" name="hoten" type="text" class="form-control" placeholder="Nhập vào họ và tên của khách hàng" required>
                    <p hidden style="font-size: 13px; color:red;" id="hotenvalidation"></p>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label" for="fname">Số CMND / CCCD <span class="text-danger">*</span></label>
                    <input id="cmnd" name="cmnd" type="text" class="form-control" placeholder="Nhập vào số CMND/CCCD của khách hàng" data-inputmask="'mask': '9999 9999 9999'" inputmode="numeric" />
                    <p hidden style="font-size: 13px; color:red;" id="cmndvalidation"></p>
                </div>
                <!-- Phone -->
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                    <input id="phone" name="phone" type="tel" class="form-control" placeholder="Nhập vào số điện thoại khách hàng" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" />
                    <p hidden style="font-size: 13px; color:red;" id="phonevalidation"></p>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label" for="phone">Email <span class="text-danger">*</span></label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="example@itglobal.net" data-inputmask="'alias': 'email'" inputmode="numeric" />
                    <p hidden style="font-size: 13px; color:red;" id="emailvalidation"></p>
                </div>
                <!-- Birthday -->
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh <span class="text-danger">*</span></label>
                    <input id="ngaysinh" name="ngaysinh" class="form-control flatpickr" type="date" placeholder="Chọn ngày sinh" />
                    <p hidden style="font-size: 13px; color:red;" id="ngaysinhvalidation"></p>
                </div>
                <!-- Birthday -->
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label">Giới tính <span class="text-danger">*</span></label>
                    <select id="gioitinh" name="gioitinh" style="color:black" class="selectpicker" data-width="100%">
                        <option selected value="">Chọn giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    <p hidden style="font-size: 13px; color:red;" id="gioitinhvalidation"></p>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label">Mã Số Thuế <span class="text-danger">*</span></label>
                    <input id="masothue" name="masothue" type="text" class="form-control" placeholder="Nhập mã số thuế" data-inputmask="'mask': '9999999999'" inputmode="numeric" required>
                    <p hidden style="font-size: 13px; color:red;" id="masothuevalidation"></p>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label style="font-weight:bold" class="form-label">Website</label>
                    <input id="urlweb" name="urlweb" type="text" class="form-control" placeholder="Nhập vào đường dẫn website (nếu có)" required>
                    <p hidden style="font-size: 13px; color:red;" id="urlwebvalidation"></p>
                </div>
                <!-- Address -->
                <div class="mb-3 col-12 col-md-12">
                    <label style="font-weight:bold" class="form-label" for="address">Địa chỉ</label>
                    <textarea id="diahchinha" name="diachinha" rows="5" class="form-control" placeholder="Nhập địa chỉ doanh nghiệp / nhà riêng khách hàng"></textarea>
                    <p hidden style="font-size: 13px; color:red;" id="diachinhavalidation"></p>
                </div>

                <div style="text-align: right; padding-top: 25px" class="mb-2 col-12 col-md-6">
                    <button id="resetdata" style="width: 230px" class="btn btn-outline-danger" data-bs-dismiss="offcanvas" aria-label="Close" type="reset">
                        Hủy
                    </button>
                </div>
                <div style=" padding-top: 25px" class="mb-2 col-12 col-md-6">
                    <a role="button" id="luuThongTin" style="width: 230px" class="btn btn-success">
                        Lưu
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/ThongTinDoiTac/ThemDoiTacValidation.js"></script>
<script src="~/ValidationAlert/Admin/ThongTinDoiTac/DanhSachDoiTac.js"></script>
<script src="~/Content/Admin/assets/js/reviewImage.js"></script>
