
@{
    ViewBag.Title = "Thông Tin Đối Tác";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Chi Tiết
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")">Thông Tin Đối Tác</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachDoiTac", "ThongTinDoiTac")">Danh Sách Đối Tác</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Thông Tin Chi Tiết
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style="
								background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-doitac-bg.jpg")) no-repeat;
								background-size: cover;
							"></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde


                     rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        <img src="~/Content/Admin/assets/images/avatar/avatar-6.jpg" class="avatar-xl rounded-circle border border-4 border-white"
                             alt="" />
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            Lê Thị Nhã Quỳnh
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="Đối tác"></i>
                        </h2>
                        <p class="mb-0 d-block">quynhnha.lt@@itglobal.net</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Thông Tin Tài Khoản</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item active">
                                <a role="button" id="ttchiTiet" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="csthongtin" class="nav-link">
                                    <i class="fe fe-edit nav-icon"></i>Chỉnh sửa thông tin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án đang có
                                </a>
                            </li>
                            @*Nav item*@
                            <!--<li class="nav-item">
                                <a class="nav-link" href="~/Content/Admin/index.html"><i class="fe fe-power nav-icon"></i>Đăng xuất</a>
                            </li>-->
                        </ul>



                        <!--<span class="navbar-header">Cài đặt tài khoản</span>
                        <!-- List
                        <!--<ul class="list-unstyled ms-n2 mb-0">-->
                        <!-- Nav item -->
                        <!--@*<li class="nav-item ">
                                <a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>Chỉnh sửa thông tin</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link " href="linked-accounts.html"><i class="fe fe-edit nav-icon"></i>Thay đổi mật khẩu</a>
                        </li>-->
                        <!-- Nav item -->
                        <!--<li class="nav-item">
                            <a class="nav-link" href="security.html"><i class="fe fe-lock nav-icon"></i>Bảo mật</a>
                        </li>-->
                        <!-- Nav item -->
                        <!--<li class="nav-item">
                            <a class="nav-link" href="social-profile.html">
                                <i class="fe fe-refresh-cw nav-icon"></i>Hồ sơ mạng xã hội
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Thông báo</a>
                        </li>-->
                        <!-- Nav item -->
                        <!--<li class="nav-item">
                                <a class="nav-link" href="~/Content/Admin/index.html"><i class="fe fe-power nav-icon"></i>Đăng xuất</a>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thông Tin Cá Nhân  </h3>
                    <p class="mb-0">
                        Các thông tin về nhân viên được hiển thị dưới dạng xem.
                    </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    @*<div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-4 mb-lg-0">
                                <img src="~/Content/Admin/assets/images/avatar/avatar-3.jpg" id="img-uploaded" class="avatar-xl rounded-circle" alt="" />
                                <div class="ms-3">
                                    <h4 class="mb-0">Hình đại diện</h4>
                                    <p class="mb-0">
                                        PNG hoặc JPG hình vuông không lớn hơn 800px.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn btn-outline-white btn-sm">Tải lên</a>
                                <a href="#" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                            </div>
                        </div>
                        <hr class="my-4" />*@
                    <div>
                        <form class="row">
                            <!-- First name -->
                            <div class="mb-3 col-12">
                                <label style="font-weight:bold" class="form-label">Tên Đơn vị / Doanh nghiệp</label>
                                <input value="Công Ty Cổ Phần Đông Nam Á một thành viên " readonly type="text" class="form-control" placeholder="Nhập vào tên doanh nghiệp của khách hàng (nếu có)" required>
                            </div>
                            <!-- form group -->
                            <div class="mb-3 col-12  col-md-6">
                                <label style="font-weight:bold" class="form-label">Họ và Tên</label>
                                <input readonly value="Lê Thị Nhã Quỳnh" type="text" class="form-control" placeholder="Nhập vào họ và tên của khách hàng" required>
                            </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="fname">Số CMND / CCCD </label>
                                <input readonly value="080728374721" type="text" id="fname" class="form-control" placeholder="07020000xxxx..." required />
                            </div>
                            <!-- Phone -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại </label>
                                <input readonly value="0372562957" type="tel" id="phone" class="form-control" placeholder="0999888777..." required />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Email </label>
                                <input readonly value="quynhnha.lt@itglobal.net" type="text" id="email" class="form-control" placeholder="example@itglobal.net..." required />
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh</label>
                                <input readonly value="1973-02-27" class="form-control" type="text" placeholder="Chọn ngày sinh" id="birth" name="birth" />
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label">Giới tính</label>
                                <input readonly value="Nữ" class="form-control" type="text" placeholder="Chọn ngày sinh" id="birth" name="birth" />
                            </div>

                            <!-- Address -->
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="address">ĐC Doanh nghiệp / Nhà riêng</label>
                                <textarea readonly rows="5" id="address" class="form-control" placeholder="Số 0/0 đường gì đó, Phường mấy, Quận gì, Thành Phố bla bla..." required>B16.05 Sunrise Cityview, 33 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Thành phố Hồ Chí Minh</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '#csthongtin', function (e) {
        $.ajax({
            url: '@Url.Action("chinhSuaThongTinPartial", "ThongTinDoiTac", new {ID = 1})',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            $('#contentPartial').replaceWith(ketqua);
            $.when(
                $.getScript("/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"),
                $.getScript("/Content/Admin/assets/js/theme.min.js"),
                $.getScript("/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js"),
                $.getScript("/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"),
                $.Deferred(function (deferred) {
                    $(deferred.resolve);
                })
            ).done(function () {
                //place your code here, the scripts are all loaded
            });

        });
    });

    $(document).on('click', '#ttchiTiet', function (e) {
        $.ajax({
            url: '@Url.Action("thongTinChiTietPartial", "ThongTinDoiTac", new {ID = 1})',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            $('#contentPartial').replaceWith(ketqua);
            $.when(
                $.getScript("/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"),
                $.getScript("/Content/Admin/assets/js/theme.min.js"),
                $.getScript("/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js"),
                $.getScript("/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"),
                $.Deferred(function (deferred) {
                    $(deferred.resolve);
                })
            ).done(function () {
                //place your code here, the scripts are all loaded
            });

        });
    });

   $(document).on('click', '#DAThamGia', function (e) {
        $.ajax({
            url: '@Url.Action("duAnThamGiaPartial", "ThongTinDoiTac", new {ID = 1})',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            $('#contentPartial').replaceWith(ketqua);
            $.when(
                $.getScript("/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"),
                $.getScript("/Content/Admin/assets/js/theme.min.js"),
                $.getScript("/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js"),
                $.getScript("/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"),
                $.Deferred(function (deferred) {
                    $(deferred.resolve);
                })
            ).done(function () {
                //place your code here, the scripts are all loaded
            });

        });
    });

</script>

