@model ITGlobalProject.Models.Employees
@using ITGlobalProject.Models;
@{
    CP25Team06Entities models = new CP25Team06Entities();
    var luongNam = models.PayrollCategory.Where(p => p.Payroll.Where(pay => pay.ID_Employee == Model.ID).Count() > 0).OrderByDescending(o => o.ID).ToList();
    string imagesUrl = "";
    var luong = Session["bang-luong-emp"] as IEnumerable<PayrollCategory>;
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
    var luongdautien = Model.JoinedDate.AddMonths(1).Year;
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 d-lg-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Lương</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("bangLuong", "quanLyLuong")">Quản Lý Lương</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Bảng Lương
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-md-between mb-4 mb-xl-4 ">
        <div class="col-xl-8 col-lg-8 col-md-8 col-12 ">
            <select name="@Model.ID" id="namluong" class="selectpicker" data-width="100%">
                @if (luong.Count() > 0)
                {
                    for (int y = 2023; y <= luongNam.First().Date.Year; y++)
                    {
                        if (y == DateTime.Now.Year)
                        {
                            <option selected value="@y">Lương của năm @y</option>
                        }
                        else
                        {
                            <option value="@y">Lương của năm @y</option>
                        }
                    }
                }
                else
                {
                    <option selected value="">Chưa có tháng lương nào</option>
                }
            </select>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 ">
            <select name="@Model.ID" id="trangthailuong" class="selectpicker" data-width="100%">
                <option value="tatca">Tất cả</option>
                <option value="dathanhtoan">Đã thanh toán</option>
                <option value="chuathanhtoan">Chưa thanh toán xong</option>
            </select>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-12">
            <!-- card -->
            <div id="BangLuongPartial" class="card">
                <!-- table -->
                <div class="table-responsive overflow-y-hidden">
                    <table id="tblBangLuong" class="table mb-4 text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col" class=" border-top-0">Lương tháng</th>
                                <th>Ngày nhận</th>
                                <th>Lương Hợp đồng</th>
                                <th>Thuế - BH</th>
                                <th>Thực lãnh</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in luong)
                            {
                                if (item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID) != null)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            @item.Name
                                        </td>
                                        <td class="align-middle ">
                                            @if (item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).State == true)
                                            {
                                                @(item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Histories.Where(h => h.Name.IndexOf("Thanh Toán") != -1).Count() > 0 ? item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Histories.FirstOrDefault(h => h.Name.IndexOf("Thanh Toán") != -1).Date.ToString("dd") + " Thg " + item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Histories.FirstOrDefault(h => h.Name.IndexOf("Thanh Toán") != -1).Date.ToString("MM ,yyyy") : "Chờ thanh toán")
                                            }
                                            else
                                            {
                                                <span>Chờ thanh toán</span>
                                            }
                                        </td>
                                        <td class=" align-middle">@item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Salary.ToString("0,0").Replace(".", ",") đ </td>
                                        <td class=" align-middle">@(Convert.ToDecimal(item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).TotalPriceTax.Value + item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).TotalPriceInsurance + 0).ToString("0,0").Replace(".", ",")) đ </td>
                                        <td class=" align-middle">
                                            <input hidden id="mucthanhtoan-@item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).ID" value="@(item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Total_Price.Value != 0 ? item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Total_Price.Value.ToString("0").Replace(".", "") : "0")" />
                                            @(item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Total_Price.Value != 0 ? item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).Total_Price.Value.ToString("0,0").Replace(".", ",") : "0") đ
                                        </td>
                                        <td id="tdTrangThai-@item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).ID" class="border-top-0  align-middle">
                                            @if (item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).State == true)
                                            {
                                                <span style="width:110px" class="badge text-success bg-light-success ">Đã thanh toán</span>
                                            }
                                            else
                                            {
                                                <span style="width:110px" class="badge text-danger bg-light-danger ">Chưa thanh toán</span>
                                            }
                                        </td>
                                        <td class="text-muted align-middle text-end">
                                            <div class="dropdown dropstart">
                                                <a data-bs-toggle="tooltip" data-placement="top" title="Xem chi tiết" class="btn-icon btn btn-ghost rounded-circle text-primary" role="button" id="xemchiTietLuong-@item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).ID" name="@item.Payroll.FirstOrDefault(e => e.ID_Employee == Model.ID).ID">
                                                    <i class="fe fe-info"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="align-middle text-center">
                                            Không có dữ liệu để hiển thị.
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChiTiet_ChiTietBangLuong.js"></script>
            </div>
        </div>
    </div>
    <div class="modal fade modal-xl" id="xemChiTietLuong" tabindex="-1" role="dialog" aria-labelledby="xemChiTietLuongLabel"
         aria-hidden="true" data-simplebar>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="edittaskModalLabel"><i class="fe fe-dollar-sign"> </i>Chi Tiết Lương</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div id="modalchitietluong" class="modal-body" style="background-color: #F5F4F8">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Employee/QuanLyLuong/DanhSachBangLuong.js"></script>
