
@{
    ViewBag.Title = "Tổng Công Việc";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Công Việc </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("tongCongViec", "QuanLyCongViec")">Quản Lý Công Việc</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Tổng Công Việc
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="@Url.Action("danhSachDuAn", "QuanLyCongViec")" class="btn btn-primary me-2" style="width:230px" type="button">
                        <i class="fe fe-book"></i> Danh Sách Dự Án
                    </a>
                </div>
            </div>

        </div>
    </div>    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card">
                <!-- table -->
                <div class="card-body pt-4">
                    <table id="dataTableBasic" class="table table-hover"  style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col" class=" border-top-0">Dự án</th>
                                <th scope="col" class=" border-top-0">Công việc</th>
                                <th scope="col" class=" border-top-0">Hạn chót</th>
                                <th scope="col" class=" border-top-0">Hoàn thành</th>
                                <th scope="col" class=" border-top-0">Trạng thái</th>
                                <th scope="col" class=" border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle ">
                                    <h4 class="mb-0"><a id="tenquadais1" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})" data-bs-toggle="tooltip" data-placement="top" title="Website Quản lý nhân sự IT-Global" class="text-inherit">Website Quản lý nhân sự IT-Global</a></h4>
                                </td>
                                <td style="width: 300px" class="align-middle ">
                                    <a role="button" href="#" style="display:inline;" class="form-label" data-bs-toggle="modal" data-bs-target="#edittaskModal"> Code chức năng Đăng Nhập / Đăng xuất</a>
                                </td>
                                <td class="align-middle ">
                                    01 Thg 05, 2022
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>80%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 80%;"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-info text-dark-info">Đang thực hiện</span>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Hành động</span>
                                            <a class="dropdown-item" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">
                                                <i class="fe fe-info dropdown-item-icon"></i>Xem chi tiết
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa thông tin

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Xóa dự án
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Xuất file Excel
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <h4 class="mb-0"><a id="tenquadais2" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})" data-bs-toggle="tooltip" data-placement="top" title="Website Quản lý nhân sự IT-Global" class="text-inherit">Website Quản lý nhân sự IT-Global</a></h4>
                                </td>
                                <td style="width: 300px" class="align-middle ">
                                    <a role="button" href="#" style="display:inline;" class="form-label" data-bs-toggle="modal" data-bs-target="#edittaskModal"> Code chức năng xem danh sách tài khoản nhân viên</a>
                                </td>
                                <td class="align-middle ">
                                    21 Thg 02, 2022
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>30%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 30%;"
                                                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-info text-dark-info">Đang thực hiện</span>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Hành động</span>
                                            <a class="dropdown-item" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">
                                                <i class="fe fe-info dropdown-item-icon"></i>Xem chi tiết
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa thông tin

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Xóa dự án
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Xuất file Excel
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <h4 class="mb-0"><a id="tenquadais3" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})" data-bs-toggle="tooltip" data-placement="top" title="Website Quản lý nhân sự IT-Global" class="text-inherit">Website Quản lý nhân sự IT-Global</a></h4>
                                </td>
                                <td style="width: 300px" class="align-middle ">
                                    <a role="button" href="#" style="display:inline;" class="form-label" data-bs-toggle="modal" data-bs-target="#edittaskModal"> Code chức năng xem danh sách tài khoản</a>
                                </td>
                                <td class="align-middle ">
                                    20 Thg 04, 2022
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>100%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%;"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã hoàn thành</span>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Hành động</span>
                                            <a class="dropdown-item" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">
                                                <i class="fe fe-info dropdown-item-icon"></i>Xem chi tiết
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa thông tin

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Xóa dự án
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Xuất file Excel
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <h4 class="mb-0"><a id="tenquadais4" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})" data-bs-toggle="tooltip" data-placement="top" title="Ứng dụng Quản lý nhân sự IT-Global" class="text-inherit">Ứng dụng Quản lý nhân sự IT-Global</a></h4>
                                </td>
                                <td style="width: 300px" class="align-middle ">
                                    <a role="button" href="#" style="display:inline;" class="form-label" data-bs-toggle="modal" data-bs-target="#edittaskModal">  Code chức năng tìm kiếm sản phẩm</a>
                                </td>
                                <td class="align-middle ">
                                    14 Thg 10, 2022
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>27%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-danger " role="progressbar" style="width: 27%;"
                                                 aria-valuenow="27" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Quá hạn</span>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Hành động</span>
                                            <a class="dropdown-item" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">
                                                <i class="fe fe-info dropdown-item-icon"></i>Xem chi tiết
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa thông tin

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Xóa dự án
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Xuất file Excel
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="align-middle ">
                                    <h4 class="mb-0"><a id="tenquadais1" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})" class="text-inherit">Website Quản lý nhân sự IT-Global</a></h4>
                                </td>
                                <td style="width: 300px" class="align-middle ">
                                    <a role="button" href="#" style="display:inline;" class="form-label" data-bs-toggle="modal" data-bs-target="#edittaskModal"> Code chức năng Đăng Nhập / Đăng xuất</a>
                                </td>
                                <td class="align-middle ">
                                    01 Thg 05, 2022
                                </td>

                                <td class="align-middle ">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2"> <span>80%</span></div>
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-primary " role="progressbar" style="width: 80%;"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <span style="width: 110px" class="badge bg-light-info text-dark-info">Đang thực hiện</span>
                                </td>
                                <td class="text-muted align-middle text-end">
                                    <div class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                            <span class="dropdown-header">Hành động</span>
                                            <a class="dropdown-item" href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">
                                                <i class="fe fe-info dropdown-item-icon"></i>Xem chi tiết
                                            </a>

                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa thông tin

                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-trash dropdown-item-icon"></i>Xóa dự án
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="fe fe-printer dropdown-item-icon"></i>Xuất file Excel
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- xem chi tiết và sửa task -->
<div class="modal fade modal-xl" id="edittaskModal" tabindex="-1" role="dialog" aria-labelledby="edittaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edittaskModalLabel"><i class="fe fe-clipboard"> </i> CHI TIẾT CÔNG VIỆC 142</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form style="margin-top: -10px" class="row">
                    <div class="mb-2 col-8">
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="assign" class="col-form-label-sm">Người thực hiện  <span class="text-danger">*</span></label>
                            <input class="form-control  form-control-sm" list="assign" placeholder="Chọn người thực hiện" value="1 - Đặng Văn Tuấn - Web Development" />
                            <datalist data-width="100%" id="assign">
                                <option value="1 - Đặng Văn Tuấn - Web Development">
                                <option value="2 - Lê Thị Lợi - Tester">
                                <option value="3 - Nguyễn Hiếu Nhân - Web Development">
                                <option value="4 - Bùi Công Danh - Web Development">
                                <option value="5 - Nguyễn Thanh Thiện - Tester">
                                <option value="6 - Nguyễn Huy Hoàng - Web Development">
                            </datalist>
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="taskTitle" class="col-form-label-sm">Tên công việc  <span class="text-danger">*</span></label>
                            <input value="Thiết kế Prototype cho module Quản lý dự án." type="text" class="form-control form-control-sm" id="" placeholder="Nhập vào tên của công việc" required>
                        </div>
                        <div class="mb-3 col-12">
                            <label style="font-weight:bold" for="taskTitle" class="col-form-label-sm">Mô tả công việc</label>
                            <textarea rows="4" class="form-control form-control-sm" id="" placeholder="Nhập vào mô tả chi tiết công việc">Thực hiện vẽ prototype các chức năng của module Quản lý dự án.
=> Xuất thành 1 file ảnh.
</textarea>
                        </div>

                        <div class="mb-2 col-12">
                            <div class="nav btn-group" role="tablist">
                                <a class="btn btn-outline-white btn-xs active" data-bs-toggle="tab"
                                   data-bs-target="#tabPanelBinhLuan" role="tab" aria-controls="tabPanelBinhLuan"
                                   aria-selected="true">
                                    <span class="fe fe-message-square"> </span> <span>Bình luận</span>
                                </a>
                                <a class="btn btn-outline-white btn-xs" data-bs-toggle="tab"
                                   data-bs-target="#tabPanelLichSu" role="tab" aria-controls="tabPanelLichSu"
                                   aria-selected="false">
                                    <span class="fe fe-clock"> </span> <span>Lịch sử</span>
                                </a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tabPanelBinhLuan" role="tabpanel" aria-labelledby="tabPanelBinhLuan" style="min-height: 277px ; max-height: 350px; position: relative; " class="mb-3 col-12 form-control form-control-sm tab-pane fade show active">
                                <labe style="font-weight:bold" for="taskTitle" class="col-form-label-sm"><u>Bình luận:</u></labe>
                                <!-- Điều kiện -->
                                @*<p class="fs-6" style="padding-top: 70px; text-align: center; font-style:italic">Chưa có bình luận nào!</p>*@
                                <div class="mb-3 col-12" style=" height:250px; margin-bottom:5px" data-simplebar>
                                    <div class="col-12 border-bottom">
                                        <img style="margin-top: 15px; margin-right:5px" src="~/Content/Admin/assets/images/avatar/avatar-5.jpg" alt="" class="avatar avatar-sm rounded-circle">
                                        <b>Đặng Văn Tuấn </b><br />
                                        <p style="margin:-15px 0px 0px 40.5px; font-size:11px">09:12 - 13 Th 2, 2022</p>
                                        <p style="margin-top:-10px"></p>
                                        <span style="display:inline;">Chúng ta không nên buồn. Và không có gì phải buồn. Thì chúng ta vẫn không buồn. Buồn thì cũng buồn một chút xíu thôi. Chứ không phải đến nỗi mà phải buồn quài buồn quài, đúng hông? Mưa nào mà hổng tạnh...</span>
                                        <p style="margin-top:-5px"></p>
                                    </div>
                                    <div class="col-12 border-bottom">
                                        <img style="margin-top: 15px; margin-right:5px" src="~/Content/Admin/assets/images/avatar/avatar-2.jpg" alt="" class="avatar avatar-sm rounded-circle">
                                        <b>Lê Thị Lợi</b><br />
                                        <p style="margin: -15px 0px 0px 40.5px; font-size: 11px">13:20 - 14 Th 5, 2022</p>
                                        <p style="margin-top: -10px"></p>
                                        <span style="display:inline;">Các em đang làm cái quái gì vậy?</span>
                                        <p style="margin-top:-5px"></p>
                                    </div>
                                    <div class="col-12 border-bottom">
                                        <img style="margin-top: 15px; margin-right:5px" src="~/Content/Admin/assets/images/avatar/avatar-7.jpg" alt="" class="avatar avatar-sm rounded-circle">
                                        <b>Nguyễn Hiếu Nhân </b><br />
                                        <p style="margin: -15px 0px 0px 40.5px; font-size: 11px">01:20 - 22 Th 4, 2022</p>
                                        <p style="margin-top: -10px"></p>
                                        <span style="display:inline;">Mình không phải chuyên gia trong việc phân tích, nhưng sau khi xem bài đăng này mình cũng không biết phân tích như thế nào, vì lúc đầu mình đã nói mình không phải là chuyên gia.</span>
                                        <p style="margin-top:-5px"></p>
                                    </div>
                                </div>

                                <p style="margin-bottom: 60px"></p>
                                <div class="mb-3 col-12" style="white-space: nowrap;">
                                    <div style="position: absolute; bottom: 3px; left: 15px " class="mb-3 col-1">
                                        <img src="~/Content/Admin/assets/images/avatar/avatar-1.jpg"
                                             alt="" class="avatar avatar-sm rounded-circle">
                                    </div>
                                    <div style="position: absolute; bottom: 0px; left: 60px;" class="mb-3 col-9">
                                        <input class="form-control form-control-sm" type="text" placeholder="Nhập vào bình luận của bạn..." />
                                    </div>
                                    <div style="position: absolute; bottom: 0px; right: -10px;" class="mb-3 col-2">
                                        <button style="width: 70%" class="btn btn-primary btn-sm"><i class="fe fe-send"> </i> GỬI</button>
                                    </div>
                                </div>
                            </div>

                            <div id="tabPanelLichSu" role="tabpanel" aria-labelledby="tabPanelLichSu" style="min-height: 277px ; max-height: 348px; position: relative; " class="mb-3 col-12 form-control form-control-sm tab-pane fade">
                                <labe style="font-weight:bold;" for="taskTitle" class="col-form-label-sm"><u>Lịch sử:</u></labe>

                                <!-- Điều kiện -->
                                @*<p class="fs-6" style="padding-top: 70px; text-align: center; font-style:italic">Chưa có bình luận nào!</p>*@
                                <div class="mb-3 col-12" style="height:300px ;margin-bottom:5px; margin-top: 10px" data-simplebar>
                                    <ul style="width: 96%; margin-left: 10px" class="list-group list-group-flush list-timeline-activity">
                                        <li class="list-group-item px-0 pt-0 border-0 pb-5">
                                            <div class="row position-relative">
                                                <div class="col-auto">
                                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                                                        4
                                                    </div>
                                                </div>
                                                <div class="col ms-n3">
                                                    <h4 class="mb-0 h5">Hoàn thành công việc</h4>
                                                    <p class="mb-0 text-body"><a href="#"><u>Đặng Văn Tuấn</u></a> đã đặt trạng thái thành Hoàn thành.</p>

                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-muted fs-6">13:30 - 24 Thg 05, 2022</span>

                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0 pt-0 border-0 pb-5">
                                            <div class="row position-relative">
                                                <div class="col-auto">
                                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                                                        3
                                                    </div>
                                                </div>
                                                <div class="col ms-n3">
                                                    <h4 class="mb-0 h5">Thực hiện công việc</h4>
                                                    <p class="mb-0 text-body"><a href="#"><u>Đặng Văn Tuấn</u></a> đã đặt trạng thái thành Đang thực hiện.</p>

                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-muted fs-6">15:12 - 24 Thg 05, 2022</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0 pt-0 border-0 pb-5">
                                            <div class="row position-relative">
                                                <div class="col-auto">
                                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                                                        2
                                                    </div>
                                                </div>
                                                <div class="col ms-n3">
                                                    <h4 class="mb-0 h5">Cập nhật công việc</h4>
                                                    <p class="mb-0 text-body"><a href="#"><u>Đặng Văn Tuấn</u></a> đã cập nhật Số giờ đã thực hiện 0 -> 5.</p>

                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-muted fs-6">06:25 - 23 Thg 05, 2022</span>

                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0 pt-0 border-0 pb-5">
                                            <div class="row position-relative">
                                                <div class="col-auto">
                                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                                                        1
                                                    </div>
                                                </div>
                                                <div class="col ms-n3">
                                                    <h4 class="mb-0 h5">Bình luận công việc</h4>
                                                    <p class="mb-0 text-body"><a href="#"><u>Đặng Văn Tuấn</u></a> đã gửi một bình luận.</p>

                                                </div>
                                                <div class="col-auto">
                                                    <span class="text-muted fs-6">08:45 - 23 Thg 05, 2022</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 col-4">
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Trạng thái <span class="text-danger">*</span></label>
                            <select style="color: black;" class="form-select form-select-sm mb-3 mb-lg-0" data-width="100%">
                                <option value="Gd1">Chưa thực hiện</option>
                                <option selected value="None">Đang thực hiện</option>
                                <option value="Due Date">Phê duyệt</option>
                                <option value="Assignee">Hoàn thành</option>
                            </select>
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Hạn chót <span class="text-danger">*</span></label>
                            <input value="2022-11-15" class="form-control form-control-sm flatpickr" type="text" placeholder="Chọn ngày hoàn thành" id="date"
                                   required>
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Giờ ước lượng </label>
                            <input value="15" class="form-control form-control-sm" type="text" placeholder="Số giờ sẽ hoàn thành công việc">
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Đã thực hiện </label>
                            <input value="" class="form-control form-control-sm" type="text" placeholder="Số giờ đã thực hiện công việc">
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Giai đoạn <span class="text-danger">*</span></label>
                            <select style="color: black;" class="form-select form-select-sm mb-3 mb-lg-0" data-width="100%">
                                <option value="Gd1">Giai đoạn 1</option>
                                <option selected value="None">Giai đoạn 2</option>
                                <option value="Due Date">Giai đoạn 3</option>
                                <option value="Assignee">Giai đoạn 4</option>
                                <option value="Likes">Giai đoạn 5</option>
                            </select>
                        </div>
                        <div class="mb-2 col-12">
                            <label style="font-weight:bold" for="date" class="col-form-label-sm">Tài liệu </label>
                            <div class="input-group me-3">
                                <input class="form-control form-control-sm" type="text" placeholder="Nhập tên tài liệu" aria-describedby="basic-addon-gd2">
                                <select style="color: black; width: 100px; font-size: 12px; " class="input-group-text form-select-sm" data-width="100%">
                                    <option value="1">.xlsx</option>
                                    <option value="2">.docx</option>
                                    <option value="3">.pptx</option>
                                    <option value="4">.txt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="form-control form-control-sm text-primary" type="text" placeholder="Đường dẫn đến tài liệu (https://duongdantailieu...)">
                        </div>
                        <hr class="my-3" />
                        <div class="mb-3 col-12">
                            <button style="width: 100%" class="btn btn-success btn-sm" type="submit">
                                <i class="fe fe-save"> </i> Lưu và Đóng
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[id^=tenquadais]').each(function () {
            text = $(this).text();
            if (text.length > 20) {
                $(this).html(text.substr(0, 20) + '...');
            }
        });
    });
</script>