@model ITGlobalProject.Models.Employees

<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan")">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.Email</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Thông Tin Tài Khoản</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="ttchiTiet" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="csthongtin" class="nav-link">
                                    <i class="fe fe-edit nav-icon"></i>Chỉnh sửa thông tin
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a role="button" id="tdmatkhau" class="nav-link">
                                    <i class="fe fe-settings nav-icon"></i>Thay đổi mật khẩu
                                </a>
                            </li>
                            <hr />
                            <li style="text-align:center; margin-top:20px">
                                <a id="dangXuats" style="width:100%" class="btn btn-outline-danger btn-sm">
                                    ĐĂNG XUẤT  &nbsp;<i class="fe fe-log-out "> </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thay Đổi Mật Khẩu  </h3>
                    <p class="mb-0">
                        Đặt lại mật khẩu đăng nhập của tài khoản.
                    </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <form class="row">
                            <!-- First name -->
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="fname">Mật khẩu cũ <span class="text-danger">*</span></label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Nhập vào mật khẩu hiện tại" />
                                <p style="font-size: 13px; color:red;" id="passwordValidation"></p>

                            </div>
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="fname">Mật khẩu mới <span class="text-danger">*</span></label>
                                <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="Nhập vào mật khẩu mới" />
                                <p style="font-size: 13px; color:red;" id="newpasswordValidation"></p>

                            </div>
                            <!-- Phone -->
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="phone">Nhập lại mật khẩu mới <span class="text-danger">*</span></label>
                                <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Nhập lại mật khẩu mới" />
                                <p style="font-size: 13px; color:red;" id="repasswordValidation"></p>
                            </div>
                            <div style="text-align: right; padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <button style="width: 230px" class="btn btn-outline-danger" type="reset">
                                    Hủy thay đổi
                                </button>
                            </div>
                            <div style="padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <a role="button" id="btnSubmit" style="width: 230px" class="btn btn-success">
                                    Lưu thay đổi
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/DoiMatKhauValidation.js"></script>
