@model ITGlobalProject.Models.Employees
@using ITGlobalProject.Models
@{
    var nghiphep = Session["dsdonnghiphep"] as IEnumerable<LeaveApplication>;
    int i = 0;
}

<div class="tab-content" id="tabContentsss">
    <!--Tab pane -->
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
        <div class="card">
            <!-- table -->
            <table id="dataTableBasic" class="table table-hover" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th hidden>STT</th>
                        <th scope="col" class=" border-top-0">Ngày gửi</th>
                        <th scope="col" class=" border-top-0">Thời gian nghỉ</th>
                        <th scope="col" class=" border-top-0">Nội dung</th>
                        <th scope="col" class=" border-top-0">Nội dung phản hồi</th>
                        @if (Session["TuChoiTabDonNghiPhep"] != null)
                        {
                            <th hidden scope="col" class=" border-top-0">Trừ lương</th>
                        }
                        else
                        {
                            <th scope="col" class=" border-top-0">Trừ lương</th>
                        }
                        <th scope="col" class=" border-top-0">Xác nhận</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in nghiphep.ToList())
                    {
                        i++;
                        <tr>
                            <td hidden>@i</td>
                            <td class="align-middle border-top-0">
                                @item.SendDate.ToString("HH:mm")
                                <br />
                                @item.SendDate.ToString("dd-MM-yyyy")
                            </td>
                            <td class="align-middle border-top-0">
                                <b>Từ:</b>  @item.StartDate.ToString("dd-MM-yyyy")
                                <br />
                                <b>Đến:</b> @item.EndDate.ToString("dd-MM-yyyy")
                                <br />
                                <b>Tổng:</b> @((Convert.ToDateTime(item.EndDate.ToString("yyyy-MM-dd")).AddDays(1) - Convert.ToDateTime(item.StartDate.ToString("yyyy-MM-dd"))).TotalDays) ngày
                            </td>
                            <td word-break: break-word" class="align-middle border-top-0">
                                @item.Contents
                            </td>

                            <td class="align-middle border-top-0">
                                <textarea rows="3" id="noidung-@item.ID" class="form-control form-control-sm" placeholder="Nhập nội dung phản hồi"></textarea>
                            </td>
                            @if (Session["TuChoiTabDonNghiPhep"] != null)
                            {
                                <td hidden class="align-middle text-center border-top-0">
                                    <div class="form-check form-switch">
                                        @if (item.OnWage == false)
                                        {
                                            <input id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                        }
                                        else
                                        {
                                            <input checked id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                        }

                                    </div>
                                </td>
                            }
                            else
                            {
                                if (item.State == false && item.ResponsiveDate == null)
                                {
                                    <td class="align-middle text-center border-top-0">
                                        <div class="form-check form-switch">
                                            @if (item.OnWage == false)
                                            {
                                                <input id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                            }
                                            else
                                            {
                                                <input id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                            }

                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle text-center border-top-0">
                                        <div class="form-check form-switch">
                                            @if (item.OnWage == false)
                                            {
                                                <input id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                            }
                                            else
                                            {
                                                <input checked id="truluong-@item.ID" class="form-check-input" type="checkbox" role="switch">
                                            }
                                        </div>
                                    </td>
                                }
                            }
                            <td class="align-middle border-top-0 text-nowrap">
                                @if (item.State == true)
                                {
                                    <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                    <a id="thaydoi@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Lưu Thay Đổi</a>
                                }
                                else if (item.State == false && item.ResponsiveDate != null)
                                {
                                    <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Được duyệt</a>
                                    <a id="thaydoi@(item.ID)" name="@item.ID" class="btn btn-outline-success btn-sm">Lưu Thay Đổi</a>
                                }
                                else
                                {
                                    <a id="tuchoi@(item.ID)" name="@item.ID" class="btn btn-outline-danger btn-sm">Từ chối</a>
                                    <a id="xacnhan@(item.ID)" name="@item.ID" href="#" class="btn btn-success btn-sm">Được duyệt</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyNhanSu/TuchoiOrChapnhanValidation.js"></script>
</div>

