@using ITGlobalProject.Models;
@model ITGlobalProject.Models.Employees
@{
    var nghiphep = Session["dsdonnghiphep"] as IEnumerable<LeaveApplication>;
    int i = 0;
    string imagesUrl = "";
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new { id = Session["user-id"] })">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="ttcanhan" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="knchuyenmon" class="nav-link">
                                    <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tdngoaingu" class="nav-link">
                                    <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="ptnhanthan" class="nav-link">
                                    <i class="fe fe-users nav-icon"></i>Người phụ thuộc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="hdvacongviec" class="nav-link">
                                    <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Thông Tin Lương</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Tiền Lương & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" id="bangLuongs" class="nav-link">
                                    <i class="fe fe-dollar-sign nav-icon"></i>Bảng lương
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">quản lý nghỉ phép</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item active">
                                <a role="button" id="donnghiphep" class="nav-link">
                                    <i class="fe fe-clock nav-icon"></i>Đơn nghỉ phép
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="danhmucngayphep" class="nav-link">
                                    <i class="fe fe-calendar nav-icon"></i>Danh Mục Ngày Phép
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Dự án & Công việc</span>
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->

                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div id="danhSachPartial" class="col-lg-9 col-md-8 col-12">
            <!-- col -->
            <div class="col-md-12 col-12 mb-5">
                <!-- card -->
                <div class="card rounded-3">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0 p-0 bg-white">
                        <div>
                            <input hidden id="typeTab" value="choduyet" />
                            <!-- Nav -->
                            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" name="@Model.ID" id="choduyetTab" data-bs-toggle="pill" href="#choduyetTab" role="tab" aria-controls="choduyetTab" aria-selected="false">
                                        Chờ Duyệt
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" name="@Model.ID" id="duocduyetTab" data-bs-toggle="pill" href="#duocduyetTab" role="tab" aria-controls="choduyetTab" aria-selected="false">
                                        Được Duyệt
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" name="@Model.ID" id="bituchoiTab" data-bs-toggle="pill" href="#bituchoiTab" role="tab" aria-controls="bituchoiTab" aria-selected="false">
                                        Đã Từ Chối
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="tabContentsss">
                        <!--Tab pane -->
                        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="card">
                                <!-- table -->
                                <table id="dataTableBasic" class="table table-hover" style="width:100%">
                                    <thead class="table-light">
                                        <tr>
                                            <th hidden>STT</th>
                                            <th scope="col" class=" border-top-0">Ngày gửi</th>
                                            <th scope="col" class=" border-top-0">Thời gian nghỉ</th>
                                            <th scope="col" class=" border-top-0">Nội dung</th>
                                            <th scope="col" class=" border-top-0">Nội dung phản hồi</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in nghiphep)
                                        {
                                            i++;
                                            <tr>
                                                <td hidden>@i</td>
                                                <td class="align-middle border-top-0">
                                                    @item.SendDate.ToString("HH:mm")
                                                    <br />
                                                    @item.SendDate.ToString("dd-MM-yyyy")
                                                </td>
                                                <td class="align-middle border-top-0">
                                                    <b>Từ:</b>  @item.StartDate.ToString("dd-MM-yyyy")
                                                    <br />
                                                    <b>Đến:</b> @item.EndDate.ToString("dd-MM-yyyy")
                                                    <br />
                                                    <b>Tổng:</b> @((Convert.ToDateTime(item.EndDate.ToString("yyyy-MM-dd")).AddDays(1) - Convert.ToDateTime(item.StartDate.ToString("yyyy-MM-dd"))).TotalDays) ngày
                                                </td>
                                                <td word-break: break-word" class="align-middle border-top-0">
                                                    @item.Contents
                                                </td>

                                                <td class="align-middle border-top-0">
                                                    <textarea rows="3" id="noidung-@item.ID" class="form-control form-control-sm" placeholder="Nhập nội dung phản hồi"></textarea>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChiTiet_DonNghiPhep.js"></script>
    <script>
        $('#noidungPage').change(function () {
            somethingChanged = true;
        });
        $('#btnLuuThongTin').on('click', function () {
            somethingChanged = false;
        });
        $('#resetData').on('click', function () {
            somethingChanged = false;
        });
    </script>
</div>

