@model ITGlobalProject.Models.Employees
@using ITGlobalProject.Models
@{
    IEnumerable<Projects> lstPro = Session["lst-duanthamgia-detailemployee"] as IEnumerable<Projects>;
    string imagesUrl = "";

    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">

    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new { id = Session["user-id"] })">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="ttcanhan" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="knchuyenmon" class="nav-link">
                                    <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tdngoaingu" class="nav-link">
                                    <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="ptnhanthan" class="nav-link">
                                    <i class="fe fe-users nav-icon"></i>Người phụ thuộc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="hdvacongviec" class="nav-link">
                                    <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Thông Tin Lương</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Tiền Lương & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" id="bangLuongs" class="nav-link">
                                    <i class="fe fe-dollar-sign nav-icon"></i>Bảng lương
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">quản lý nghỉ phép</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="donnghiphep" class="nav-link">
                                    <i class="fe fe-clock nav-icon"></i>Đơn nghỉ phép
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="danhmucngayphep" class="nav-link">
                                    <i class="fe fe-calendar nav-icon"></i>Danh Mục Ngày Phép
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Dự án & Công việc</span>
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->

                            <li class="nav-item active">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="row justify-content-md-between mb-4 mb-xl-0 ">
                <!-- col -->
                <div class="col-xl-12 col-lg-4 col-md-12 col-12">
                    <!-- search -->
                    <div class="mb-2 mb-lg-4">
                        <form class="d-flex align-items-center">
                            <span class="position-absolute ps-3 search-icon">
                                <i class="fe fe-search"></i>
                            </span>
                            <!-- input -->
                            <input id="searchDuAn" type="search" class="form-control ps-6"
                                   placeholder="Tìm kiếm với tên dự án" />
                        </form>
                    </div>
                </div>
            </div>
            <div id="ContentSearchAppend" class="row">
                @if (lstPro.Count() > 0)
                {
                    foreach (var item in lstPro)
                    {
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-12 mb-4">
                            <!-- card -->
                            <div class="card h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <!-- heading-->
                                    <div class="d-flex align-items-center
                                justify-content-between">
                                        <div>
                                            <h4 class="mb-0"><a target="_blank" href="@Url.Action("chitietduan", "quanlyduan", new { id = item.ID})" class="text-inherit">@item.Name</a></h4>
                                            <span class="text-muted fs-6">@item.Tasks.Count() Công việc</span>

                                        </div>

                                    </div>
                                    <!-- para-->
                                    <div class="mt-3 mb-4">
                                        <p class="mb-0">
                                            @item.Description
                                        </p>
                                    </div>
                                    <!-- progress -->
                                    <div class="d-flex justify-content-between
                                align-items-center mb-5">
                                        <div class="d-flex align-items-center">
                                            <!-- avatar group -->
                                            <div class="avatar-group">
                                                @if (item.Teams.Count == 0)
                                                {
                                                    <span>0 Thành viên</span>
                                                }
                                                //Đội ngũ ít hơn 4 người
                                                else if (item.Teams.Count <= 3)
                                                {
                                                    foreach (var iteam in item.Teams)
                                                    {
                                                        if (string.IsNullOrEmpty(iteam.Employees.Avatar))
                                                        {
                                                            <span class="avatar avatar-md avatar-primary imgtooltip" data-template="@iteam.Employees.ID">
                                                                <span class="avatar-initials rounded-circle ">
                                                                    @iteam.Employees.Name.Substring(0, 1).ToUpper()
                                                                </span>
                                                                <span id="@iteam.Employees.ID" class="d-none">
                                                                    <span class="mb-0 h6">@iteam.Employees.Name</span>

                                                                </span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="avatar avatar-md">
                                                                <img alt="avatar" src="@iteam.Employees.Avatar"
                                                                     class="rounded-circle imgtooltip" data-template="@iteam.Employees.ID">

                                                                <span id="@iteam.Employees.ID" class="d-none">
                                                                    <span class="mb-0 h6">@iteam.Employees.Name</span>
                                                                </span>
                                                            </span>
                                                        }
                                                    }
                                                }
                                                //Đội ngũ nhiều hơn 3 người
                                                else
                                                {
                                                    for (int t = 0; t < 3; t++)
                                                    {
                                                        if (string.IsNullOrEmpty(item.Teams.ToList()[t].Employees.Avatar))
                                                        {
                                                            <span class="avatar avatar-md avatar-primary imgtooltip" data-template="@item.Teams.ToList()[t].Employees.ID">
                                                                <span class="avatar-initials rounded-circle ">
                                                                    @item.Teams.ToList()[t].Employees.Name.Substring(0, 1).ToUpper()
                                                                </span>
                                                                <span id="@item.Teams.ToList()[t].Employees.ID" class="d-none">
                                                                    <span class="mb-0 h6">@item.Teams.ToList()[t].Employees.Name</span>

                                                                </span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="avatar avatar-md">
                                                                <img alt="avatar" src="@item.Teams.ToList()[t].Employees.Avatar"
                                                                     class="rounded-circle imgtooltip" data-template="@item.Teams.ToList()[t].Employees.ID">

                                                                <span id="@item.Teams.ToList()[t].Employees.ID" class="d-none">
                                                                    <span class="mb-0 h6">@item.Teams.ToList()[t].Employees.Name</span>
                                                                </span>
                                                            </span>
                                                        }
                                                    }
                                                    <span class="avatar avatar-md">
                                                        <span class="avatar-initials rounded-circle bg-light text-dark">@(item.Teams.Count - 3)+</span>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                        <!-- text -->
                                        <div>
                                            @if (item.Lock == true)
                                            {
                                                <span style="width: 100px" class="badge bg-light-danger text-dark-danger">Đã đóng</span>
                                            }
                                            else
                                            {
                                                if (item.Tasks.ToList().Count < 1 && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays >= 0)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-primary text-dark-primary">Đang thực hiện</span>
                                                }
                                                //Chưa giao việc, quá hạn => đã quá hạn
                                                else if (item.Tasks.ToList().Count < 1
                                                    && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays < 0)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-danger text-dark-danger">Đã quá hạn</span>
                                                }
                                                //Còn hạn và còn việc => đang thực hiện
                                                else if (item.Tasks.ToList().Count > 0
                                                    && (item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 < 100
                                                    && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays >= 0)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-primary text-dark-primary">Đang thực hiện</span>
                                                }
                                                //Qúa hạn, còn việc hoặc chưa thanh toán xong => đã quá hạn
                                                else if ((item.EndDate.AddDays(1) - DateTime.Now).TotalDays < 0
                                                    && (item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 < 100)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-danger text-dark-danger">Đã quá hạn</span>
                                                }
                                                //hết việc, chưa thanh toán xong => chờ thanh toán
                                                else if ((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 >= 100
                                                    && item.Debts.Where(d => d.State == true).ToList().Count < item.Debts.Count)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-warning text-dark-warning">Chờ thanh toán</span>
                                                }
                                                //hết việc, đã thanh toán xong => done
                                                else if ((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 == 100
                                                    && item.Debts.Where(d => d.State == true).ToList().Count == item.Debts.Count)
                                                {
                                                    <span style="width: 100px" class="badge bg-light-success text-dark-success">Hoàn thành</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div>
                                        <!--Chưa giao việc, còn hạn => đang thực hiện-->
                                        @if (item.Tasks.ToList().Count < 1
                                            && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays >= 0)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"> <span>0%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary " role="progressbar" style="width: 0%;"
                                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        //Chưa giao việc, quá hạn => đã quá hạn
                                        else if (item.Tasks.ToList().Count < 1
                                            && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays < 0)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"> <span>0%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-danger " role="progressbar" style="width: 0%;"
                                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        //Còn hạn và còn việc => đang thực hiện
                                        else if (item.Tasks.ToList().Count > 0
                                            && (item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 < 100
                                            && (item.EndDate.AddDays(1) - DateTime.Now).TotalDays >= 0)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"><span>@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary " role="progressbar" style="width: @(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%;"
                                                         aria-valuenow="@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        //Qúa hạn, còn việc hoặc chưa thanh toán xong => đã quá hạn
                                        else if ((item.EndDate.AddDays(1) - DateTime.Now).TotalDays < 0
                                            && (item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 < 100
                                            || item.Debts.Where(d => d.State == true).ToList().Count < item.Debts.Count)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"><span>@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary " role="progressbar" style="width: @(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%;"
                                                         aria-valuenow="@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        //hết việc, chưa thanh toán xong => chờ thanh toán
                                        else if ((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 >= 100
                                            && item.Debts.Where(d => d.State == true).ToList().Count < item.Debts.Count)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"><span>@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary " role="progressbar" style="width: @(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%;"
                                                         aria-valuenow="@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        //hết việc, đã thanh toán xong => done
                                        else if ((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100 == 100
                                            && item.Debts.Where(d => d.State == true).ToList().Count == item.Debts.Count)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="me-2"><span>@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%</span></div>
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary " role="progressbar" style="width: @(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%;"
                                                         aria-valuenow="@(Convert.ToDecimal((item.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / item.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0"))" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- card footer -->
                                <div class="card-footer bg-white p-0">
                                    <div class="d-flex justify-content-between ">
                                        <div class="w-50 py-3 px-4 ">
                                            <h6 class="mb-0 text-muted">Hạn Chót:</h6>
                                            <p class="text-dark fs-6 fw-semi-bold mb-0">@item.EndDate.ToString("dd") Thg @item.EndDate.ToString("MM, yyyy")</p>
                                        </div>
                                        <div class="border-start w-50 py-3 px-4">
                                            <h6 class="mb-0 text-muted">Chi Phí:</h6>
                                            <p class="text-dark fs-6 fw-semi-bold mb-0">@item.Debts.ToList().Sum(d => d.Price).ToString("0,0").Replace(".", ",") đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="mb-3 col-12 col-md-12 text-center">
                        <span>Chưa tham gia dự án nào.</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChiTiet_DuAnThamGiaValidation.js"></script>
</div>
