@using ITGlobalProject.Models;
@model ITGlobalProject.Models.Employees
@{
    string coll = "show";
    var lstkynang = Session["lst-kynang"] as List<SkillsCategory>;
    int j = 0;
    string imagesUrl = "";
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new { id = Session["user-id"] })">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                    <ul class="list-unstyled ms-n2 mb-4">
                        <!-- Nav item -->
                        <li class="nav-item ">
                            <a role="button" id="ttcanhan" class="nav-link">
                                <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="doimatkhau" class="nav-link">
                                <i class="fe fe-settings nav-icon"></i>Đổi mật khẩu
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a role="button" id="knchuyenmon" class="nav-link">
                                <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="tdngoaingu" class="nav-link">
                                <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="ptnhanthan" class="nav-link">
                                <i class="fe fe-users nav-icon"></i>Người phụ thuộc
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="hdvacongviec" class="nav-link">
                                <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                            </a>
                        </li>
                    </ul>

                        <span class="navbar-header">Thông Tin Lương</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Tiền Lương & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Dự án & Công việc</span>
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->

                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            @*<li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>*@
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Kỹ Năng Chuyên Môn</h3>
                </div>
                <div class="card-body">
                    <div>
                        <form id="noidungPage" class="row">

                            <div class="accordion" id="accordionExample">
                                @foreach (var item in lstkynang)
                                {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="Headingskillitem@(item.ID)">
                                            <button style="font-weight: bold" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseskillitem@(item.ID)" aria-expanded="false" aria-controls="collapseskillitem@(item.ID)">
                                                @item.Name
                                            </button>
                                        </h2>
                                        <div id="collapseskillitem@(item.ID)" class="accordion-collapse collapse @coll" aria-labelledby="headingskillitem@(item.ID)" data-bs-parent="#accordionExample">
                                            <div class="accordion-body row">
                                                @if (item.Skills.Count > 0)
                                                {
                                                    foreach (var items in item.Skills)
                                                    {
                                                        j++;
                                                        <div class="form-check mb-2 col-12 col-md-4">
                                                            @if (Model.PersonalSkills.FirstOrDefault(k => k.ID_Skills == items.ID) != null)
                                                            {
                                                                <input checked class="form-check-input" type="checkbox" name="checkkynang@(j)" id="@(items.ID)">
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="checkbox" name="checkkynang@(j)" id="@(items.ID)">
                                                            }
                                                            <label class="form-check-label" for="@items.ID">
                                                                @items.Name
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="mb-2 col-12 col-md-12 text-center">
                                                        Không có dữ liệu để hiển thị.
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    coll = "";
                                }
                            </div>

                            <input hidden value="@j" id="slkn" />
                            <div style="text-align: right; padding-top: 40px" class="mb-3 col-12 col-md-6">
                                <button type="reset" style="width: 230px" class="btn btn-outline-danger">
                                    Hủy
                                </button>
                            </div>
                            <div style="padding-top: 40px" class="mb-3 col-12 col-md-6">
                                <a role="button" id="btnLuuThongTin" style="width: 230px" class="btn btn-success">
                                    Lưu
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChiTiet_KyNangChuyenMon.js"></script>
    <script>
        $('#noidungPage').change(function () {
            somethingChanged = true;
        });
        $('#btnLuuThongTin').on('click', function () {
            somethingChanged = false;
        });
        $('#resetData').on('click', function () {
            somethingChanged = false;
        });
    </script>
</div>

