@model ITGlobalProject.Models.Employees
@{
    string imagesUrl = "";
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new { id = Session["user-id"] })">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                    <ul class="list-unstyled ms-n2 mb-4">
                        <!-- Nav item -->
                        <li class="nav-item active">
                            <a role="button" id="ttcanhan" class="nav-link">
                                <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="doimatkhau" class="nav-link">
                                <i class="fe fe-settings nav-icon"></i>Đổi mật khẩu
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="knchuyenmon" class="nav-link">
                                <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="tdngoaingu" class="nav-link">
                                <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="ptnhanthan" class="nav-link">
                                <i class="fe fe-users nav-icon"></i>Người phụ thuộc
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a role="button" id="hdvacongviec" class="nav-link">
                                <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                            </a>
                        </li>
                    </ul>

                        <span class="navbar-header">Thông Tin Lương</span>
                        <ul class="list-unstyled ms-n2 mb-4">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Tiền Lương & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                        </ul>

                        <span class="navbar-header">Dự án & Công việc</span>
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->

                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            @*<li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>*@
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thông Tin Cá Nhân  </h3>
                </div>
                <div class="card-body">
                    <div id="reloadImage" class="d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center mb-4 mb-lg-0">
                            <img src="@Url.Content(imagesUrl)" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" id="previewImage" />
                            <div class="ms-3">
                                <h4 class="mb-0">Hình đại diện</h4>
                                <p class="mb-0">
                                    Tải lên ảnh đại diện với định dạng hình ảnh.
                                </p>
                            </div>
                        </div>
                        <div>
                            <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                            <a role="button" id="clickFiles" class="btn btn-outline-primary btn-sm">Tải lên</a>
                            <a role="button" id="reloadButton" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div>
                        <form id="noidungPage" class="row">
                            <div class="mb-2 col-12 col-md-12">
                                <label style="font-weight:bold;" class="form-label" for="fname">Họ và Tên <span class="text-danger">*</span></label>
                                <input value="@Model.Avatar" name="avatar" id="avatar" hidden />
                                <input value="@Model.Name" type="text" id="hoten" name="hoten" class="form-control" placeholder="Nguyễn Văn A" />
                                <p style="font-size: 13px; color:red;" id="hotenvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="fname">Số CMND/CCCD <span class="text-danger">*</span></label>
                                <input value="@Model.IdentityCard" type="text" class="form-control" id="cmnd" name="cmnd" data-inputmask="'mask': '9999 9999 9999'" inputmode="numeric"
                                       placeholder="Nhập số chứng minh hoặc căn cước" />
                                <p style="font-size: 13px; color:red;" id="cmndvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="quoctich">Quốc tịch <span class="text-danger">*</span></label>
                                <input value="@Model.Nationality" type="text" id="quoctich" name="quoctich" class="form-control" placeholder="Việt Nam" />
                                <p style="font-size: 13px; color:red;" id="quoctichvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" l class="form-label" for="birth"> Ngày sinh <span class="text-danger">*</span></label>
                                <input value="@Model.Birthday.ToString("yyyy-MM-dd")" type="text" class="form-control flatpickr" placeholder="Chọn ngày sinh" id="ngaysinh" name="ngaysinh" />
                                <p style="font-size: 13px; color:red;" id="ngaysinhvalidation"></p>
                            </div>

                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="sodienthoaididong">Số điện thoại di động <span class="text-danger">*</span></label>
                                <input value="@Model.TelephoneMobile" type="tel" id="sodienthoaididong" name="sodienthoaididong" class="form-control" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" placeholder="Nhập số điện thoại di động" />
                                <p style="font-size: 13px; color:red;" id="sodienthoaididongvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="sodienthoaikhac">Số điện thoại nhà</label>
                                <input value="@Model.TelephoneOrther" type="tel" id="sodienthoaikhac" name="sodienthoaikhac" class="form-control" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" placeholder="Nhập số điện thoại nhà" />
                                <p style="font-size: 13px; color:red;" id="sodienthoaikhacvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label">Giới tính <span class="text-danger">*</span></label>
                                <select name="gioitinh" id="gioitinh" class="form-select text-dark" data-width="100%">
                                    @if (Model.Sex.Equals("Nam"))
                                    {
                                        <option selected value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    }
                                    else
                                    {
                                        <option value="Nam">Nam</option>
                                        <option selected value="Nữ">Nữ</option>
                                    }
                                </select>
                                <p style="font-size: 13px; color:red;" id="gioitinhvalidation"></p>
                            </div>

                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="diachiemailcongty">Email Công Ty</label>
                                <input readonly value="@Model.WorkEmail" type="text" id="diachiemailcongty" name="diachiemailcongty" class="form-control" data-inputmask="'alias': 'email'" inputmode="numeric" placeholder="example@itglobal.net" />
                                <p style="font-size: 13px; color:red;" id="diachiemailcongtyvalidation"></p>
                            </div>
                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="diachiemailkhac">Email Khác</label>
                                <input value="@Model.OrtherEmail" type="text" id="diachiemailkhac" name="diachiemailkhac" class="form-control" data-inputmask="'alias': 'email'" inputmode="numeric" placeholder="example@itglobal.net" />
                                <p style="font-size: 13px; color:red;" id="diachiemailkhacvalidation"></p>
                            </div>

                            <div class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label" for="honnhan">Tình trạng hôn nhân <span class="text-danger">*</span></label>
                                <select data-width="100%" class="form-select text-dark" id="honnhan" name="honnhan">

                                    @if (Model.MaritalStatus.Equals("Độc thân"))
                                    {
                                        <option selected value="Độc thân">Độc thân</option>
                                        <option value="Đã kết hôn">Đã kết hôn</option>
                                        <option value="Khác">Khác</option>
                                    }
                                    else if (Model.MaritalStatus.Equals("Đã kết hôn"))
                                    {
                                        <option value="Độc thân">Độc thân</option>
                                        <option selected value="Đã kết hôn">Đã kết hôn</option>
                                        <option value="Khác">Khác</option>
                                    }
                                    else
                                    {
                                        <option value="Độc thân">Độc thân</option>
                                        <option value="Đã kết hôn">Đã kết hôn</option>
                                        <option selected value="Khác">Khác</option>
                                    }
                                </select>
                                <p style="font-size: 13px; color:red;" id="honnhanvalidation"></p>
                            </div>


                            <div class="mb-2 col-12 col-md-12">
                                <label style="font-weight:bold;" class="form-label" for="address">Địa chỉ nhà</label>
                                <textarea rows="4" id="diachinha" name="diachinha" class="form-control" placeholder="Nhập vào địa chỉ nhà">@Model.Address</textarea>
                                <p style="font-size: 13px; color:red;" id="diachinhavalidation"></p>
                            </div>
                            <div style="text-align: right; padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <button type="reset" id="resetData" style="width: 230px" class="btn btn-outline-danger">
                                    Hủy
                                </button>
                            </div>
                            <div style="padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <a role="button" id="btnLuuThongTin" style="width: 230px" class="btn btn-success">
                                    Lưu
                                </a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChiTiet_TTCaNhanValidation.js"></script>
    <script>
        $('#noidungPage').change(function () {
            somethingChanged = true;
        });

        $('#btnLuuThongTin').on('click', function () {
            somethingChanged = false;
        });

        $('#resetData').on('click', function () {
            somethingChanged = false;
            $("#diachiemailcongtyvalidation").hide();

        });
    </script>
</div>



