@model ITGlobalProject.Models.Employees

@{
    ViewBag.Title = "Thông Tin Cá Nhân";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}
<!--Sửa tt-->
<input hidden value="@Model.ID" id="idus" />
<input hidden value="@Url.Content("~/Content/Admin/assets/images/avatar/default-avatar.png")" id="urlIgmStr" />
<div id="actionDangXuat" hidden data-request-url="@Url.Action("DangXuat", "QuanLyTaiKhoan")"></div>
<div id="actionSubmit" hidden data-request-url="@Url.Action("ChinhSuaThongTinCaNhanPartial", "QuanLyTaiKhoan")"></div>
<div id="actionDanhsach" hidden data-request-url="@Url.Action("Overview", "Dashboard")"></div>

<input hidden value="@Url.Content("~/Content/Admin/assets/js/theme.min.js")" id="getScripts1" />
<input hidden value="@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")" id="getScripts2" />
<input hidden value="@Url.Content("~/ValidationAlert/Employee/QuanLyTaiKhoan/ChinhSuaThongTinCaNhanValidation.js")" id="getScripts3" />


<!--Đổi mk-->
<div id="actionSubmitPass" hidden data-request-url="@Url.Action("doiMatKhauPartial", "QuanLyTaiKhoan")"></div>

<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Cá Nhân
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("ThongTinCaNhan", "QuanLyTaiKhoan", new { id = Session["user-id"] })">Thông Tin Cá Nhân</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style=" background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg-admin.jpg")) no-repeat; background-size: cover; "></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
             rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        @if (string.IsNullOrEmpty(Model.Avatar))
                        {
                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                        else
                        {
                            <img src="@Model.Avatar" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" />
                        }
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="@Model.Position.Name"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item active">
                                <a role="button" id="ttchiTiet" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="csthongtin" class="nav-link">
                                    <i class="fe fe-edit nav-icon"></i>Chỉnh sửa thông tin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" id="tdmatkhau" class="nav-link"><i class="fe fe-settings nav-icon"></i>Thay đổi mật khẩu</a>
                            </li>
                            <hr />
                            <li style="text-align:center; margin-top:20px">
                                <a id="dangXuats" style="width:100%" class="btn btn-outline-danger btn-sm">
                                    ĐĂNG XUẤT  &nbsp;<i class="fe fe-log-out "> </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thông Tin Cá Nhân  </h3>
                    <p class="mb-0">
                        Các thông tin cá nhân được hiển thị dưới dạng xem.
                    </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="fname">Họ và Tên</label>
                                <input readonly value="@Model.Name" type="text" id="fname" class="form-control" placeholder="Nguyễn Văn A..." required />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="fname">Số CMND/CCCD</label>
                                <input readonly value="@Model.IdentityCard" type="text" id="fname" class="form-control" placeholder="07020000xxxx..." required />
                            </div>
                            <!-- Phone -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại</label>
                                <input readonly value="@Model.TelephoneMobile" type="tel" id="phone" class="form-control" placeholder="0999888777..." required />
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh</label>
                                <input style="background-color: #F5F4F8" disabled value="@Model.Birthday.ToString("yyyy-MM-dd")" class="form-control flatpickr" type="text" placeholder="2000-01-01..." id="birth"
                                       name="birth" />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Email</label>
                                <input readonly value="@Model.WorkEmail" type="text" id="email" class="form-control" placeholder="example@itglobal.net..." required />
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label">Giới tính</label>
                                <input readonly value="@Model.Sex" type="text" id="email" class="form-control" placeholder="example@itglobal.net..." required />
                            </div>
                            <!-- Address -->
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="address">Địa chỉ</label>
                                <textarea readonly rows="4" id="address" class="form-control" placeholder="Số 01 đường Nguyễn Minh Châu, Phường 12, Quận 1, Thành Phố Hồ Chí Minh..." required>@Model.Address</textarea>
                            </div>
                            <hr class="my-4" />

                            <!-- State -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label">Vai trò</label>
                                <input readonly value="@Model.Position.Name" type="text" id="email" class="form-control" placeholder="example@itglobal.net..." required />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Người phụ thuộc <span class="text-danger">*</span></label>
                                <input readonly value="Không có" type="text" class="form-control" placeholder="Cha mẹ già, con nhỏ, ... không có khả năng lao động" required />
                            </div>                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Mức lương</label>
                                <input readonly value="@Model.Wage.ToString("0,0") đ" style="color:red" type="text" id="luong" class="form-control" placeholder="10.000.000..." required />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" class="form-label">Ngân hàng</label>
                                <input readonly value="@Model.BankName" type="text" class="form-control" placeholder="Số tài khoản ngân hàng" />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" class="form-label" for="phone">Số tài khoản</label>
                                <input readonly value="@Model.BankAccountNumber" type="text" class="form-control" placeholder="Số tài khoản ngân hàng" />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" class="form-label" for="phone">Chủ tài khoản</label>
                                <input readonly value="@Model.BankAccountHolderName" type="text" class="form-control" placeholder="Tên người sở hữu tài khoản ngân hàng" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Employee/QuanLyTaiKhoan/ChinhSuaThongTinCaNhanValidation.js"></script>
<script>

    $(document).on('click', '#csthongtin', function (e) {
        $.ajax({
            url: '@Url.Action("ChinhSuaThongTinCaNhanPartial", "QuanLyTaiKhoan", new {id = Model.ID})',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            if (ketqua !== "TRANGCHU") {
                $('#contentPartial').replaceWith(ketqua);
                $.when(
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                    $.getScript("@Url.Content("~/ValidationAlert/Employee/QuanLyTaiKhoan/ChinhSuaThongTinCaNhanValidation.js")"),
                    $.Deferred(function (deferred) {
                        $(deferred.resolve);
                    })
                ).done(function () {
                    //place your code here, the scripts are all loaded
                });
            } else {
                window.location.href = '@Url.Action("Overview", "Dashboard")';
            }

        });
    });
    $(document).on('click', '#ttchiTiet', function (e) {
        $.ajax({
            url: '@Url.Action("ThongTinCaNhanPartial", "QuanLyTaiKhoan", new { id = Model.ID} )',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            if (ketqua !== "TRANGCHU") {
                $('#contentPartial').replaceWith(ketqua);
                $.when(
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                    $.getScript("@Url.Content("~/ValidationAlert/Employee/QuanLyTaiKhoan/ChinhSuaThongTinCaNhanValidation.js")"),
                    $.Deferred(function (deferred) {
                        $(deferred.resolve);
                    })
                ).done(function () {
                    //place your code here, the scripts are all loaded
                });
            } else {
                window.location.href = '@Url.Action("Overview", "Dashboard")';
            }

        });
    });
    $(document).on('click', '#tdmatkhau', function (e) {
        $.ajax({
            url: '@Url.Action("doiMatKhauPartial", "QuanLyTaiKhoan", new {id = Model.ID})',
            type: 'GET',
            dataType: 'html'
        }).done(function (ketqua) {
            if (ketqua !== "TRANGCHU") {
                $('#contentPartial').replaceWith(ketqua);
                $.when(
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                    $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                    $.getScript("@Url.Content("~/ValidationAlert/Employee/QuanLyTaiKhoan/ChinhSuaThongTinCaNhanValidation.js")"),
                    $.Deferred(function (deferred) {
                        $(deferred.resolve);
                    })
                ).done(function () {
                    //place your code here, the scripts are all loaded
                });
            } else {
                window.location.href = '@Url.Action("Overview", "Dashboard")';
            }
        });
    });
</script>

