@model ITGlobalProject.Models.Projects
@using ITGlobalProject.Models;
@{
    CP25Team06Entities models = new CP25Team06Entities();
    IEnumerable<Employees> emp = Session["lst-DoiNguEmployee"] as IEnumerable<Employees>;
    int i = 0;
}
<div id="chiTietDuAnPartialID">
    <div class="row">
        <div class="col-12 mb-4">
            <!-- nav  -->
            <ul class="nav nav-lb-tab">
                <li class="nav-item ms-0 me-3">
                    <a role="button" class="nav-link " id="tongQuanID">Tổng quan</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="congViecID">Công việc</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="nganSachID">Công nợ</a>
                </li>
                @*<li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="taiLieuID">Tài liệu</a>
                </li>*@
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link active" id="doiNguID">Đội ngũ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- search  -->
        <div class="col-xxl-3 col-lg-3 col-md-12 col-12 mb-4">
            <button data-bs-toggle="modal" data-bs-target="#lstDanhSachNhanViens" id="themThanhViens" class="btn btn-primary" style="width: 100%; height: 46px"><i class="fe fe-user-plus"> </i> Thêm Thành Viên</button>
        </div>
        <div class="col-xxl-9 col-lg-3 col-md-12 col-12 mb-4">
            <input id="timKiemThanhViens" type="search" class="form-control" placeholder="Tìm kiếm với Mã, Tên, Email hoặc CMND/CCCD của Nhân viên">
        </div>
    </div>
    <div id="ContentSearchTeams" class="row">
        @if (Model.Teams.Count() > 0)
        {
            foreach (var item in Model.Teams.OrderByDescending(t => t.ID))
            {
                <div class="col-xl-3 col-lg-6 col-12">
                    <!-- card  -->
                    <div class="card mb-4">
                        <!-- card body  -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-lg avatar-danger">
                                    @if (string.IsNullOrEmpty(item.Employees.Avatar))
                                    {
                                        <b>
                                            <span class="avatar-initials rounded-circle fs-4">
                                                @item.Employees.Name.Substring(0, 1)
                                            </span>
                                        </b>
                                    }
                                    else
                                    {
                                        <img src="@item.Employees.Avatar" alt="" class="rounded-circle">
                                    }

                                </div>
                                <div class="ms-3">
                                    <h4 class="mb-0"><a href="@Url.Action("thongtinchitiet", "quanlynhansu", new { id = item.ID_Employee})" target="_blank" class="text-inherit"> @item.Employees.Name</a></h4>
                                    <p class="mb-0 text-muted"> @item.Employees.Position.Name</p>
                                </div>
                            </div>
                            <div class="mt-4 lh-1 d-flex align-items-center">
                                <p class="mb-0 text-muted" style="font-size: 14px">
                                    @item.Employees.WorkEmail
                                </p>
                                @if (Model.Tasks.Where(t => t.ID_Employee == item.ID_Employee).Count() < 1)
                                {
                                    <a role="button" id="xoaThanhViens@(item.Employees.ID)" name="@item.Employees.ID" class="text-muted ms-auto texttooltip text-end" data-template="xoa">
                                        <i class="fe fe-trash-2 fs-4 text-danger"></i>
                                        <!-- text -->
                                        <div id="xoa" class="d-none">
                                            <span>Loại bỏ thành viên </span>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 col-md-12 text-center mb-4">
                Không có dữ liệu để hiển thị!
            </div>
        }
    </div>

    <div class="modal fade modal-xl" id="lstDanhSachNhanViens" tabindex="-1" role="dialog"
         aria-labelledby="lstDanhSachNhanViensModalLabel" aria-hidden="true" data-simplebar>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="lstDanhSachNhanViensModal"><i class="fe fe-user-check"> </i> Danh Sách Nhân Viên</h4>
                    <button id="tatBangThemThanhVien" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="card">
                    <!-- form -->
                    <!-- table -->
                    <table id="dataTableBasic" class="table table-hover" style="width:100%">
                        <thead class="table-light">
                            <tr>
                                <th hidden scope="col" class=" border-top-0"></th>
                                <th scope="col" class=" border-top-0">Tên</th>
                                <th scope="col" class=" border-top-0">Vai trò</th>
                                <th scope="col" class=" border-top-0">Email</th>
                                <th scope="col" class=" border-top-0 text-nowrap">Đang theo</th>
                                <th scope="col" class=" border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in emp)
                            {
                                var duan = models.Tasks.Where(t => t.Employees.ID == item.ID).ToList().GroupBy(g => g.ID_Project).ToList().Count;
                                i++;
                                <tr>
                                    <td hidden class="align-middle">
                                        @i
                                    </td>
                                    <td class="align-middle ">
                                        <div class="d-flex align-items-center text-nowrap">
                                            @if (string.IsNullOrEmpty(item.Avatar))
                                            {
                                                <div class="avatar avatar-md avatar-danger me-2">
                                                    <span class="avatar-initials rounded-circle ">
                                                        @item.Name.Substring(0, 1)
                                                    </span>
                                                </div>
                                                <span class="mb-2"></span>
                                            }
                                            else
                                            {
                                                <img src="@item.Avatar" alt=""
                                                     class="rounded-circle avatar-md me-2" />
                                            }
                                            <h5 class="mb-0">@item.Name</h5>
                                        </div>
                                    </td>
                                    <td class="align-middle ">
                                        @item.Position.Name
                                    </td>
                                    <td class="align-middle ">
                                        @item.WorkEmail
                                    </td>
                                    <td class="align-middle ">
                                        @duan dự án
                                    </td>
                                    <td class="align-middle text-nowrap">
                                        <a role="button" id="selectThanhVienMoiss@(item.ID)" name="@item.ID" class="btn btn-outline-primary btn-xs">THÊM THÀNH VIÊN&ensp;<i class="fe fe-check-square"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyDuAn/ChiTietDuAn_DoiNguValidation.js"></script>
    <script src="~/ValidationAlert/Admin/QuanLyDuAn/ChiTietDuAn_DoiNgu_XoaThanhVien.js"></script>
</div>


