@model IEnumerable<ITGlobalProject.Models.Debts>
@{
    int indexGd = 0;
}

<div id="cnfrm" class="row">
    <input id="batdau" value="@Model.First().Projects.StartDate.ToString("yyyy-MM-dd")" hidden />
    <input id="ketthuc" value="@Model.First().Projects.EndDate.ToString("yyyy-MM-dd")" hidden />
    <input id="dem" value="@Model.Count()" hidden />
    @foreach (var item in Model)
    {
        indexGd++;
        <label style="font-weight:bold" for="ipcpgd@(indexGd)" class="form-label">Giai đoạn @(indexGd) <span class="text-danger">*</span></label>
        <div id="ipcpgd@(indexGd)" class="mb-3 col-md-6 col-12">
            <input value="@item.Price.ToString("0,0").Replace(".", ",")" id="gd@(indexGd)" name="gd@(indexGd)" style="font-weight:bold;" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" class="form-control text-start text-danger" type="text" placeholder="Chi phí giai đoạn @(indexGd)" required />
            <p hidden style="font-size: 13px; color:red;" id="gd@(indexGd)validation"></p>
        </div>
        <div id="ipdgd@(indexGd)" class="mb-3 col-md-6 col-12">
            <div class="input-group me-3">
                <input value="@item.Date.ToString("yyyy-MM-dd")" id="ngaygd@(indexGd)" name="ngaygd@(indexGd)" class="form-control flatpickr" type="text" placeholder="Ngày kết thúc giai đoạn @(indexGd)" aria-describedby="basic-addon-gd@(indexGd)" required>
                <span class="input-group-text text-muted" id="basic-addon-gd@(indexGd)">
                    <i class="fe fe-calendar"></i>
                </span>
            </div>
            <p hidden style="font-size: 13px; color:red;" id="ngaygd@(indexGd)validation"></p>
        </div>
    }
    <div id="appenddayne" class="col-12"></div>

    <div style="text-align: center; padding-bottom: 15px;" class="mb-2 col-md-6 col-12">
        <a style="width: 100%;" id="xoabot" class="btn text-danger border-danger btn-xs">
            <i class="fe fe-minus-circle"> </i> Xóa giai đoạn
        </a>
    </div>
    <div style="text-align:center; padding-bottom: 15px" class="mb-2 col-md-6 col-12">
        <a style="width: 100%" id="addthem" class="btn text-primary border-primary btn-xs">
            <i class="fe fe-plus-circle"> </i> Thêm giai đoạn
        </a>
    </div>
    <div style="margin-bottom: 20px" class="col-12">
        <label style="font-weight:bold" for="priority" class="form-label">Tổng chi phí (VND)</label>
        <input value="" placeholder="HÃY NHẬP CHI PHÍ Ở CÁC GIAI ĐOẠN" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" readonly style="text-align: center; font-weight: bold;" id="sums" name="sums" type="text" class="form-control text-center text-danger">
    </div>
    <div style="text-align: right; padding-top: 20px" class="mb-2 col-12 col-md-6">
        <a role="button" style="width: 230px" class="btn btn-outline-danger" data-bs-dismiss="modal">
            Hủy
        </a>
    </div>
    <div style=" padding-top: 20px" class="mb-2 col-12 col-md-6">
        <a role="button" id="btnluuThongTinThayDoiGiaiDoan" style="width: 230px" class="btn btn-success">
            Lưu
        </a>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyDuAn/ChiTietDuAn_ConNo_ChinhSuaGiaiDoanValidation.js"></script>
</div>

