@model IEnumerable<ITGlobalProject.Models.Debts>
@using ITGlobalProject.Models
@{
    CP25Team06Entities models = new CP25Team06Entities();

    int idPros = Model.First().ID_Project;
    var paymentHis = models.PaymentHistory.Where(p => p.ID_Projects == idPros).ToList();
    foreach (var item in Model)
    {
        paymentHis.AddRange(item.PaymentHistory.ToList());
    }

    int i = 0;
    string giaiDoanDebt = "";
    string chiPhiDebt = "";
    decimal tongThanhToan = 0;
    foreach (var item in Model)
    {
        tongThanhToan += Convert.ToDecimal(item.PaymentHistory.Where(p => p.OnUpdate == false).Sum(s => s.Price));
    }
}
<div id="chiTietDuAnPartialID">
    <div class="row">
        <div class="col-12 mb-4">
            <!-- nav  -->
            <ul class="nav nav-lb-tab">
                <li class="nav-item ms-0 me-3">
                    <a role="button" class="nav-link " id="tongQuanID">Tổng quan</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link " id="congViecID">Công việc</a>
                </li>
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link active" id="nganSachID">Công nợ</a>
                </li>
                @*<li class="nav-item mx-3">
                    <a role="button" class="nav-link" id="taiLieuID">Tài liệu</a>
                </li>*@
                <li class="nav-item mx-3">
                    <a role="button" class="nav-link" id="doiNguID">Đội ngũ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <!-- card -->
            <div class="card">
                <!-- card body -->
                <div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-bottom p-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <h4 style="margin-top: 10px;" class="mb-4 card-title">Chi Phí Dự Án & Công Nợ</h4>
                                    <button style="height:40px ;width: 200px" class="btn btn-outline-primary btn-sm" id="OpenchinhSuaChiPhi">
                                        <i class="fe fe-edit"> </i> Cập Nhật Giai Đoạn
                                    </button>
                                </div>
                                <hr class="my-2" />
                                <div style="height: 70px; margin-top: -10px" class="card-body">
                                    <!-- progress bar -->
                                    <h5 style="margin-bottom: 20px">Đã thanh toán:</h5>
                                    @if (tongThanhToan <= 0)
                                    {
                                        <div class="progress progress-tooltip"
                                             style="height: 15px;">
                                            <div class="progress-bar bg-primary" role="progressbar"
                                                 style="width: 0%;"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span>0%</span>
                                            </div>
                                        </div>
                                    }
                                    else if (tongThanhToan / Model.Sum(s => s.Price) > 1)
                                    {
                                        <div class="progress progress-tooltip"
                                             style="height: 15px;">
                                            <div class="progress-bar bg-primary" role="progressbar"
                                                 style="width: 100%;"
                                                 aria-valuenow="100"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span>100%</span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="progress progress-tooltip"
                                             style="height: 15px;">
                                            <div class="progress-bar bg-primary" role="progressbar"
                                                 style="width: @(((tongThanhToan / Model.Sum(s => s.Price)) * 100).ToString("0"))%;"
                                                 aria-valuenow="@(((tongThanhToan / Model.Sum(s => s.Price)) * 100).ToString("0"))"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span>@(((tongThanhToan / Model.Sum(s => s.Price)) * 100).ToString("0"))%</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">$ @(Model.Sum(s => s.Price) != 0 ? Model.Sum(s => s.Price).ToString("0,0").Replace(".", ",") : "0") </h2>
                                    <p class="mb-0 "> Tổng chi phí (VND)</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-primary text-primary rounded-circle">
                                        <i class="fe fe-dollar-sign fs-3"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12 border-start">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">
                                        $ @((tongThanhToan != 0) ? tongThanhToan.ToString("0,0").Replace(".", ",") : "0")
                                    </h2>
                                    <p class="mb-0 ">Đã thanh toán (VND)</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-success text-success rounded-circle">
                                        <i class="fe fe-check-circle fs-3"></i>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- col -->
                        <div class="col-lg-4 col-md-12 col-12 border-start">
                            <div class="d-flex align-items-center justify-content-between p-4">
                                <div class="mb-4 mb-lg-0">
                                    <h2 class="h1 fw-bold mb-0">
                                        $ @(((Model.Sum(s => s.Price) - tongThanhToan) != 0) ? (Model.Sum(s => s.Price) - tongThanhToan).ToString("0,0").Replace(".", ",") : "0")
                                    </h2>
                                    <p class="mb-0 ">Còn lại (VND)</p>

                                </div>
                                <div class="ms-3">
                                    <div class="icon-shape icon-lg bg-light-danger text-danger rounded-circle">
                                        <i class="fe fe-pie-chart fs-3"></i>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">

            <div class="card">
                <div class="card-header border-bottom-0">
                    <h3 class="mb-0 h4">Giai Đoạn Thanh Toán</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive border-0">
                    <table class="table mb-0 text-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th style="padding-left: 20px" scope="col" class=" border-top-0">Giai đoạn</th>
                                <th scope="col" class=" border-top-0">kết thúc</th>
                                <th scope="col" class=" border-top-0">chi phí</th>
                                <th scope="col" class=" border-top-0">Trạng thái</th>
                                <th scope="col" class=" border-top-0">Đã trả</th>
                                <th scope="col" class=" border-top-0">Còn lại</th>
                                <th scope="col" class=" border-top-0 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                giaiDoanDebt += item.Stage + "~";
                                chiPhiDebt += (item.Price != 0 ? ((item.Price / Model.Sum(s => s.Price)) * 100).ToString("0,0") : "0") + "~";
                                <tr>
                                    @if (item.State == true)
                                    {
                                        <td style="padding-left: 20px" class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-success text-white">
                                                    <b>@item.Stage.ToUpper()</b>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        if (item.Date < DateTime.Now)
                                        {
                                            <td style="padding-left: 20px" class="align-middle ">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-danger text-white">
                                                        <b>@item.Stage.ToUpper()</b>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="padding-left: 20px" class="align-middle ">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 120px" class="icon-shape icon-x rounded-3 border p-2 bg-warning text-white">
                                                        <b>@item.Stage.ToUpper()</b>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                    }

                                    <td class="align-middle ">
                                        @item.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td style="font-weight:bold; color: salmon" class="align-middle ">
                                        @(item.Price > 0 ? item.Price.ToString("0,0").Replace(".", ",") : "0") đ
                                    </td>

                                    <td class="align-middle ">
                                        @if (item.State == true)
                                        {
                                            <span style="width:110px" class="badge bg-success text-white p-2">Đã thanh toán</span>
                                        }
                                        else
                                        {
                                            if (item.Date < DateTime.Now)
                                            {
                                                <span style="width:110px" class="badge bg-danger text-white p-2">Đã quá hạn</span>
                                            }
                                            else
                                            {
                                                <span style="width:110px" class="badge bg-warning text-white p-2">Chưa thanh toán</span>
                                            }
                                        }
                                    </td>
                                    <td style="font-weight:bold; color: salmon" class="align-middle ">
                                        @(item.PaymentHistory.Where(p => p.OnUpdate != true).Sum(s => s.Price) == 0 ? "0" : Convert.ToDecimal(item.PaymentHistory.Where(p => p.OnUpdate != true).Sum(s => s.Price)).ToString("0,0").Replace(".", ",")) đ
                                    </td>
                                    <td style="font-weight:bold; color: salmon" class="align-middle ">
                                        @(item.Price - item.PaymentHistory.Where(p => p.OnUpdate != true).Sum(s => s.Price) == 0 ? "0" : (item.Price - item.PaymentHistory.Where(p => p.OnUpdate != true).Sum(s => s.Price)).Value.ToString("0,0").Replace(".", ",")) đ
                                    </td>
                                    <td class="align-middle text-center">
                                        <input hidden id="tongTien@(item.ID)" name="@item.Stage" value="@((item.Price - item.PaymentHistory.Where(p => p.OnUpdate == false).Sum(s => s.Price)) == 0 ? "0 VND" : Convert.ToDecimal((item.Price - item.PaymentHistory.Where(p => p.OnUpdate == false).Sum(s => s.Price))).ToString("0,0").Replace(".", ",") + " VND")" />
                                        <button id="btnThanhToan@(item.ID)" name="@item.ID" class="btn btn-outline-primary btn-xs">THANH TOÁN</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header align-items-center card-header-height  d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mb-0">Chi phí các giai đoạn</h4>
                    </div>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div name="trafficCongNo" id="traffic" class="apex-charts d-flex justify-content-center"></div>
                    <input hidden id="giaiDoanDebt" value="@giaiDoanDebt.Substring(0, giaiDoanDebt.Length - 1)" />
                    <input hidden id="chiPhiDebt" value="@chiPhiDebt.Substring(0, chiPhiDebt.Length - 1)" />
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-12 col-md-12 col-12">
            <!-- card -->
            <div class="card mb-4">
                <!-- card body -->
                <!-- card header -->
                <div class="card-header">
                    <h4 class="mb-0">Lịch sử thanh toán</h4>
                </div>
                <table id="dataTableBasic" class="table text-nowrap mb-0 table-hover">
                    <thead class="table-light">
                        <tr>
                            <th hidden>STT</th>
                            <th style="padding-left: 30px">Giai đoạn</th>
                            <th>Ngày</th>
                            <th>Số tiền (VND)</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in paymentHis.OrderByDescending(o => o.Date))
                        {
                            i++;
                            <tr>
                                <td hidden>@i</td>
                                <td style="padding-left: 30px" class="align-middle ">
                                    <b class="align-items-center ">@(item.ID_Debts == null ? "Tổng giai đoạn" : item.Debts.Stage)</b>
                                </td>
                                <td class="align-middle ">
                                   @item.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td class="align-middle ">
                                    @if (item.Type == false)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                             class="bi bi-square-fill text-danger me-2" viewBox="0 0 16 16">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                        </svg><span>$ @(item.Price != 0 ? Convert.ToDecimal(item.Price).ToString("0,0").Replace(".", ",") : "0")</span>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                             class="bi bi-square-fill text-success me-2" viewBox="0 0 16 16">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                        </svg><span>$ @(item.Price != 0 ? Convert.ToDecimal(item.Price).ToString("0,0").Replace(".", ",") : "0")</span>
                                    }
                                </td>
                                <td class="align-middle ">
                                    @if (item.Contents.IndexOf("Từ tổng") != -1)
                                    {
                                        <span>@item.Contents.Substring(0, item.Contents.IndexOf("Từ tổng"))</span><br />
                                        <span>@item.Contents.Substring(item.Contents.IndexOf("Từ tổng"))</span>
                                    }
                                    else
                                    {
                                        <span>@item.Contents</span>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Form thanh toán giai đoạn -->
    <div class="modal fade" id="ThanhToanModal" tabindex="-1" role="dialog" aria-labelledby="ThanhToanModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ThanhToanModalTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="idThanhToan" />
                    <p id="ghiChuThanhToan"></p>
                    <input id="soTienThanhToan" style="font-weight:bold" placeholder="Nhập số tiền muốn thanh toán (VND)" class="form-control text-start text-danger" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" />
                    <p hidden style="font-size: 13px; color:red;" id="soTienThanhToanvalidation"></p>
                </div>
                <div class="row">
                    <div style="text-align: right; padding-bottom: 20px" class="mb-2 col-12 col-md-6">
                        <button style="width: 150px" class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Hủy
                        </button>
                    </div>
                    <div style="padding-bottom: 20px; width: 150px" class="mb-2 col-12 col-md-6">
                        <a style="width: 150px" role="button" id="btnLuuThanhToan" class="btn btn-success">
                            Lưu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chỉnh sửa Công nợ -->
    <div class="modal fade modal-lg" id="chinhSuaChiPhi" tabindex="-1" role="dialog"
         aria-labelledby="chinhSuaChiPhiLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chinhSuaChiPhi">Cập Nhật Chi Phí</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div id="cnfrm" class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/ValidationAlert/Admin/QuanLyDuAn/ChiTietDuAn_CongNoValidation.js"></script>
</div>

