@using ITGlobalProject.Models;
@model ITGlobalProject.Models.Projects
@{
    ViewBag.Title = "Chi Tiết Dự Án";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";

    IEnumerable<Histories> lichSu = Session["lst-lichSuDuAn"] as IEnumerable<Histories>;
    int i = 0;
    int heights = 0;
    if (Model.Tasks.Count < 1)
    {
        ViewBag.TongTheDuAn = 0;
    }
    else
    {
        heights = 400;
        ViewBag.TongTheDuAn = Convert.ToDecimal((Model.Tasks.Where(t => t.State.Equals("done")).Sum(t => t.OriginalEstimate) / Model.Tasks.Sum(t => t.OriginalEstimate)) * 100).ToString("0");
    }
}
<input hidden value="@ViewBag.TongTheDuAn" id="tienDoTongTheDuAn" />
<input hidden id="idpro" value="@Model.ID" />

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 d-lg-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Dự án @Model.Name</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("danhSachDuAn", "QuanLyDuAn")">Quản Lý Dự Án</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <a href="@Url.Action("chiTietDuAn", "QuanLyDuAn", new {id = 1})">Xem Chi Tiết</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Dự án @Model.Name
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="#" class="btn btn-primary me-2" style="width:230px" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i class="fe fe-edit"></i>&ensp;Cập Nhật Dự Án</a>
                    <a class="btn btn-danger me-2" style="width:230px" id="alert_demo_3_3"><i class="fe fe-trash"></i>&ensp;Xóa Dự Án</a>
                </div>
            </div>

        </div>
    </div>
    <div id="chiTietDuAnPartialID">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- nav  -->
                <ul class="nav nav-lb-tab">
                    <li class="nav-item ms-0 me-3">
                        <a role="button" class="nav-link active" id="tongQuanID">Tổng quan</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a role="button" class="nav-link " id="congViecID">Công việc</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a role="button" class="nav-link" id="nganSachID">Công nợ</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a role="button" class="nav-link" id="taiLieuID">Tài liệu</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a role="button" class="nav-link" id="doiNguID">Đội ngũ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 col-xl-8 col-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="mb-0">Thông tin Dự Án</h4>
                                    </div>
                                    <!-- dropdown  -->
                                </div>


                            </div>
                            <div class="card-body">
                                <p style="display:inline;">
                                    @Model.Description
                                </p>
                                <ul style="margin-top: 15px" class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <div class="d-flex justify-content-between
                            align-items-center">
                                            <div class="d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16" fill="currentColor"
                                                     class="bi bi-calendar4 text-primary"
                                                     viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5
                                  0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0
                                  1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1
                                  2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0
                                  0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1
                                  1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                                </svg>
                                                <div class="ms-2">
                                                    <h5 class="mb-0 text-body">Ngày Bắt Đầu</h5>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <p class="text-dark mb-0
                                    fw-semi-bold">@Model.StartDate.ToString("dd") Tháng @Model.StartDate.ToString("MM, yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="d-flex justify-content-between
                            align-items-center">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16" height="16"
                                     fill="currentColor" class="bi
                                bi-calendar4  text-primary"
                                     viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1
                                  .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0
                                  1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0
                                  1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1
                                  .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0
                                  0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1
                                  1 0 0 0 1-1V5z" />
                                </svg>
                                <div class="ms-2">
                                    <h5 class="mb-0 text-body">Ngày Kết Thúc</h5>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="text-dark mb-0
                                    fw-semi-bold">@Model.EndDate.ToString("dd") Tháng @Model.EndDate.ToString("MM, yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item  px-0">
                        <div class="d-flex justify-content-between
                        align-items-center">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18" height="18"
                                     fill="currentColor" class="bi bi-clock
                             text-primary" viewBox="0 0 16
                            16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5
                              0 0 0 .252.434l3.5 2a.5.5 0 0 0
                              .496-.868L8 8.71V3.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0
                                0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7
                                0 0 1 14 0z" />
                                </svg>
                                <div class="ms-2">
                                    <h5 class="mb-0 text-body">
                                        Thời Gian Thực Hiện
                                    </h5>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="text-dark mb-0
                                  fw-semi-bold">
                                        @((Model.EndDate - Model.StartDate).TotalDays + 1) Ngày
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0 pb-0">
                        <div class="d-flex
                          justify-content-between
                          align-items-center">
                            <div class="d-flex
                            align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18" height="18"
                                     fill="currentColor" class="bi
                              bi-currency-dollar text-primary
                              " viewBox="0 0 16 16">
                                    <path d="M4 10.781c.148 1.667
                                1.513 2.85 3.591
                                3.003V15h1.043v-1.216c2.27-.179
                                3.678-1.438 3.678-3.3
                                0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11
                                1.879.714 2.07
                                1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27
                                1.472-3.27 3.156 0 1.454.966
                                2.483 2.661
                                2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616
                                0-.944.704-1.641
                                1.8-1.828v3.495l-.2-.05zm1.591
                                1.872c1.287.323 1.852.859
                                1.852 1.769 0 1.097-.826
                                1.828-2.2
                                1.939V8.73l.348.086z" />
                                </svg>
                                <div class="ms-2">
                                    <h5 class="mb-0 text-body">Tổng Chi Phí</h5>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="text-danger mb-0
                                  fw-semi-bold">$ @Model.Debts.Sum(P => P.Price).ToString("0,0").Replace(".", ",") VND</p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 mb-4">
    <!-- card -->
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Thông Tin Khách Hàng </h4>

        </div>
        <!-- Card body -->
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="position-relative">
                    @if (string.IsNullOrEmpty(Model.Partners.Avatar))
                    {
                        <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" alt="" class="rounded-circle avatar-xl" />
                    }
                    else
                    {
                        <img src="@Model.Partners.Avatar" alt="" class="rounded-circle avatar-xl" />
                    }
                </div>
                <div class="ms-4">
                    <h3 class="mb-0">@Model.Partners.Name</h3>
                    <p class="mb-0 fs-5">@Model.Partners.Company</p>
                    <p class="mb-1 fs-5">@Model.Partners.Email</p>
                </div>
            </div>
            <div style="text-align: center; margin-bottom: -20px" class="border-top row mt-3">
                <div class="col">
                    <div class="pe-1 ps-2 py-3">
                        <h5 class="mb-0">@Model.Partners.Phone</h5>
                        <span class="fs-6">Số điện thoại</span>
                    </div>
                </div>
                <div class="col border-start">
                    <div class="pe-1 ps-3 py-3">
                        <h5 class="mb-0">@Model.Partners.Projects.Count.ToString("D2")</h5>
                        <span class="fs-6">Dự án đang có</span>
                    </div>
                </div>
                <div class="col border-start">
                    <div class="pe-1 ps-3 py-3">
                        <a href="#" style="width: 90%; margin-top:5px" role="button" class="btn btn-outline-primary btn-sm">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-4">
    <!-- card -->
    <div class="card">
        <!-- card body -->

        <div class="card-header">
            <h4 class="mb-0">
                Tiến Độ Dự Án
            </h4>

        </div>
        <!-- table -->
        <div class="table-responsive overflow-y-hidden">
            <table class="table mb-0 text-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="border-top-0">Thành viên</th>
                        <th scope="col" class="border-top-0 ">Vai trò</th>
                        <th scope="col" class="border-top-0 ">Số việc </th>
                        <th scope="col" class="border-top-0 ">Hoàn thành</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Teams)
                    {
                        <tr>
                            <td class="align-middle">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm avatar-danger">
                                        @if (string.IsNullOrEmpty(item.Employees.Avatar))
                                        {
                                            <span class="avatar-initials rounded-circle "> @item.Employees.Name.Substring(0, 1) </span>
                                        }
                                        else
                                        {
                                            <img src="@item.Employees.Avatar" alt="" class="avatar-initials rounded-circle">
                                        }
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">@item.Employees.Name </h5>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle ">
                                @item.Employees.Position.Name
                            </td>
                            <td class="align-middle ">
                                Còn @Model.Tasks.Where(t => t.ID_Employee == item.ID_Employee && !t.State.Equals("done")).ToList().Count/@Model.Tasks.Where(t => t.ID_Employee == item.ID_Employee).ToList().Count
                            </td>
                            <td class="align-middle ">
                                @if (Model.Tasks.Where(t => t.ID_Employee == item.ID_Employee).ToList().Count < 1)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                        <div class="ms-2"> <span>0% </span> </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="progress flex-auto" style="height: 6px;">
                                            <div class="progress-bar bg-success " role="progressbar" style="width: @(Convert.ToDecimal((Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee && t.State.Equals("done")).Sum(t => t.OriginalEstimate) / Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee).Sum(t => t.OriginalEstimate)) * 100).ToString("0"))%;" aria-valuenow="@(Convert.ToDecimal((Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee && t.State.Equals("done")).Sum(t => t.OriginalEstimate) / Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee).Sum(t => t.OriginalEstimate)) * 100).ToString("0"))" aria-valuemin="0" aria-valuemax="100">

                                            </div>
                                        </div>
                                        <div class="ms-2"> <span>@(Convert.ToDecimal((Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee && t.State.Equals("done")).Sum(t => t.OriginalEstimate) / Model.Tasks.Where(t=> t.ID_Employee == item.ID_Employee).Sum(t => t.OriginalEstimate)) * 100).ToString("0"))% </span> </div>
                                    </div>
                                }
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
</div>

</div>
<div class="col-md-12 col-xl-4 col-12">
    <!-- card  -->
    <div class="card mb-4 bg-primary border-primary">
        <!-- card body  -->
        <div class="card-body">

            <h3 class="card-title text-white">Thời Gian Còn Lại </h3>

            <!-- dropdown  -->
            <div class="d-flex justify-content-between align-items-center mt-8">
                <div>
                    <h1 class="display-4 text-white mb-1">
                        @if (Model.EndDate < Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd")))
                        {
                            <span>0 Ngày</span>
                        }
                        else
                        {
                            @((Model.EndDate - Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"))).TotalDays + 1) <span>Ngày</span>
                        }
                    </h1>
                    <p class="mb-0 text-white">
                        @Model.EndDate.ToString("dddd"), @Model.EndDate.ToString("dd") Tháng @Model.EndDate.ToString("MM"), @Model.EndDate.ToString("yyyy")
                    </p>
                </div>
                <div>
                    <i class="fe fe-flag fs-1 text-light-primary"></i>
                </div>
            </div>

        </div>

    </div>
    <!-- card  -->
    <div class="card mb-4 ">
        <!-- card body  -->
        <div class="card-body">
            <h4 class=" card-title ">Tiến Độ Tổng Thể </h4>
            <div id="progressChart"></div>
        </div>
    </div>
    <div class="card">
        <!-- Card header -->
        <div class="card-header card-header-height d-flex justify-content-between align-items-center">
            <div>
                <h4 class="mb-0">
                    Hoạt Động Gần Đây
                </h4>
            </div>
            @*<div><a href="#">View All</a></div>*@
        </div>
        <!-- Card body -->
        <div style="max-height: @(heights)px;" class="card-body" data-simplebar>
            <!-- List group -->
            <ul class="list-group list-group-flush list-timeline-activity">
                @if (lichSu.ToList().Count < 1)
                {
                    <li style="margin-top: -10px" class="list-group-item px-0 pt-0 border-0 text-center">
                        Chưa có hoạt động nào.
                    </li>
                }
                else
                {
                    foreach (var item in lichSu)
                    {
                        <li class="list-group-item px-0 pt-0 border-0 pb-6">
                            <div class="row position-relative">
                                <div class="col-auto">
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                                        <i class="fe fe-clock"></i>
                                    </div>
                                </div>
                                <div class="col ms-n3">
                                    <h4 class="mb-0 h5">@item.Name</h4>
                                    @if (item.Contents.IndexOf("|") != -1)
                                    {
                                        <p class="mb-0 text-body">@item.Employees.Name @item.Contents.Split('|')[0] <a data-bs-toggle="tooltip" data-placement="top" title="@item.Tasks.Name" href="#"><u>@item.ID_Task</u></a> @(item.Contents.Split('|')[1]).</p>
                                    }
                                    else if (item.Contents.IndexOf("thêm") != -1)
                                    {
                                        <p class="mb-0 text-body"><a>@item.Employees.Name</a> @item.Contents <a data-bs-toggle="tooltip" data-placement="top" title="@item.Tasks.Name" href="#"><u>@item.ID_Task</u></a> và được giao cho <a>@item.Tasks.Employees.Name.</a></p>
                                    }
                                    else
                                    {
                                        <p class="mb-0 text-body"><a>@item.Employees.Name</a> @item.Contents <a data-bs-toggle="tooltip" data-placement="top" title="@item.Tasks.Name" href="#"><u>@item.ID_Task</u></a>.</p>
                                    }
                                </div>
                                <div class="col-auto">
                                    <span class="text-muted fs-6">@item.Date.ToString("HH:mm dd/MM/yy")</span><br />
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>
</div>
</div>
</div>

<!-- Chỉnh sửa Dự án -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="width: 1100px;" data-simplebar>

    <div class="offcanvas-body">
        <div class="offcanvas-header px-2 pt-0">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel">Cập Nhật Dự Án</h3>
            <button id="dongChinhSuaDuAn" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div id="frm">
            <!-- card body -->
            <div class="container">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="color: white; background-color:rebeccapurple; height: 120px" class="card-header p-lg-6" data-bs-toggle="collapse" data-bs-target="#NavthongTinDuAn" aria-expanded="false" aria-controls="NavthongTinDuAn">
                            <div style="margin-top: -15px" class="row">
                                <!-- form group -->
                                <div class="mb-3 col-6">
                                    <p style="font-weight:bold; font-size: 20px">A. Thông Tin Dự Án</p>
                                    <span>Thông tin chi tiết về dự án, tên dự án, ngày thực hiện, ...</span>
                                </div>
                                <div style="text-align: right; font-weight: bold; font-size: 50px " class="mb-3 col-6">
                                    <i class="fe fe-book-open"></i>
                                </div>
                            </div>
                        </div>
                        <div id="NavthongTinDuAn" class="collapse show" data-bs-parent="#navMenuLevel" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="card-body p-lg-6">
                                        <!-- form -->
                                        <div class="row">
                                            <!-- form group -->
                                            <div class="mb-3 col-12">
                                                <label style="font-weight:bold" class="form-label">Tên dự án <span class="text-danger">*</span></label>
                                                <input id="name" name="name" value="@Model.Name" type="text" class="form-control" placeholder="Nhập vào tên của dự án (VD: Website ABC)">
                                                <input hidden id="idduan" value="@Model.ID" />
                                            </div>
                                            <!-- form group -->
                                            <div class="mb-3 col-12">
                                                <label style="font-weight:bold" class="form-label">Mô tả tổng quan</label>
                                                <textarea id="mota" name="mota" class="form-control" placeholder="Nhập vào mô tả của dự án..." rows="10">@Model.Description</textarea>
                                            </div>
                                            <!-- form group -->
                                            <div class="mb-3 col-md-6 col-12">
                                                <label style="font-weight:bold" class="form-label">Ngày bắt đầu <span class="text-danger">*</span></label>
                                                <div class="input-group me-3">
                                                    <input id="batdau" name="batdau" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="form-control flatpickr" type="text" placeholder="Ngày bắt đầu dự án"
                                                           aria-describedby="basic-addon2">

                                                    <span class="input-group-text text-muted" id="basic-addon2">
                                                        <i class="fe fe-calendar"></i>
                                                    </span>

                                                </div>
                                            </div>
                                            <!-- form group -->
                                            <div class="mb-3 col-md-6 col-12">
                                                <label style="font-weight:bold" class="form-label">Ngày kết thúc <span class="text-danger">*</span></label>
                                                <div class="input-group me-3">
                                                    <input id="ketthuc" name="ketthuc" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control flatpickr" type="text" placeholder="Ngày kết thúc dự án"
                                                           aria-describedby="basic-addon3">

                                                    <span class="input-group-text text-muted" id="basic-addon3">
                                                        <i class="fe fe-calendar"></i>
                                                    </span>

                                                </div>
                                            </div>
                                            <input id="dem" value="@Model.Debts.Count" hidden />
                                            @foreach (var debts in Model.Debts)
                                            {
                                                i++;
                                                if (debts.State == true)
                                                {
                                                    <label style="font-weight:bold" for="ipcpgd@(i)" class="form-label">Giai đoạn @(i) (đã thanh toán  <i class="fe fe-check-square"></i>)</label>
                                                    <div id="ipcpgd@(i)" class="mb-3 col-md-6 col-12">
                                                        <input readonly value="@debts.Price.ToString("0,0").Replace(".",",")" id="gd@(i)" name="gd@(i)" style="font-weight:bold;" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" class="form-control text-start text-danger" type="text" placeholder="Chi phí giai đoạn @(i)" />
                                                    </div>
                                                    <div id="ipdgd@(i)" class="mb-3 col-md-6 col-12">
                                                        <div class="input-group me-3">
                                                            <input disabled id="ngaygd@(i)" name="ngaygd@(i)" value="@debts.Date.ToString("yyyy-MM-dd")" class="form-control" type="text"
                                                                   placeholder="Ngày kết thúc giai đoạn @(i)" aria-describedby="basic-addon-gd@(i)" required>

                                                            <span class="input-group-text text-muted" id="basic-addon-gd@(i)">
                                                                <i class="fe fe-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <label style="font-weight:bold" for="ipcpgd@(i)" class="form-label">Giai đoạn @(i)</label>
                                                    <div id="ipcpgd@(i)" class="mb-3 col-md-6 col-12">
                                                        <input value="@debts.Price.ToString("0,0").Replace(".",",")" id="gd@(i)" name="gd@(i)" style="font-weight:bold;" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" class="form-control text-start text-danger" type="text" placeholder="Chi phí giai đoạn @(i)" />
                                                    </div>
                                                    <div id="ipdgd@(i)" class="mb-3 col-md-6 col-12">
                                                        <div class="input-group me-3">
                                                            <input id="ngaygd@(i)" name="ngaygd@(i)" value="@debts.Date.ToString("yyyy-MM-dd")" class="form-control" type="text"
                                                                   placeholder="Ngày kết thúc giai đoạn @(i)" aria-describedby="basic-addon-gd@(i)" required>

                                                            <span class="input-group-text text-muted" id="basic-addon-gd@(i)">
                                                                <i class="fe fe-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                            <div id="appenddayne" class="col-12"></div>
                                            <div style="text-align: center; padding-bottom: 15px;" class="mb-2 col-md-6 col-12">
                                                <a style="width: 100%;" id="xoabot" class="btn text-danger border-danger btn-xs">
                                                    <i class="fe fe-minus-circle"> </i> Xóa giai đoạn
                                                </a>
                                            </div>
                                            <div style="text-align:center; padding-bottom: 15px" class="mb-2 col-md-6 col-12">
                                                <a style="width: 100%" id="addthem" class="btn text-primary border-primary btn-xs">
                                                    <i class="fe fe-plus-circle"> </i> Thêm giai đoạn
                                                </a>
                                            </div>

                                            <div style="margin-bottom: 20px" class="col-12">
                                                <label style="font-weight:bold" for="priority" class="form-label">Tổng chi phí </label>
                                                <input value="@Model.Debts.Sum(b => b.Price).ToString("0,0").Replace(".", ",")" placeholder="HÃY NHẬP CHI PHÍ Ở CÁC GIAI ĐOẠN" data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" readonly style="text-align: center; font-weight: bold;" id="sums" name="sums" type="text" class="form-control text-center text-danger">
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!-- card body -->
                <!--///////////////////////////////////////////////////////////////////////////////////////////-->

                <div id="luKhachHang" style="color: white; background-color:crimson; height: 120px" class="card-header p-lg-6" data-bs-toggle="collapse" data-bs-target="#NavthongTinKhachHang" aria-expanded="false" aria-controls="NavthongTinKhachHang">
                    <div style="margin-top: -15px" class="row">
                        <!-- form group -->
                        <div class="mb-3 col-6">
                            <p style="font-weight:bold; font-size: 20px">B. Thông Tin Khách Hàng</p>
                            <span>Thông tin liên hệ khách hàng, địa chỉ liên lạc, ...</span>
                        </div>
                        <div style="text-align: right; font-weight: bold; font-size: 50px " class="mb-3 col-6">
                            <i class="fe fe-user-check"></i>
                        </div>
                    </div>
                </div>

                <!--Khách hàng Mới-->
                <div id="NavthongTinKhachHang" class="collapse" data-bs-parent="#navMenuLevel" style="">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="card-body p-lg-6">
                                <!-- form -->
                                <div class="row">
                                    <div class="d-lg-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center mb-3 mb-lg-0">
                                            @if (string.IsNullOrEmpty(Model.Partners.Avatar))
                                            {
                                                <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" class="avatar-xxl rounded-circle" alt="" id="previewImage" />
                                            }
                                            else
                                            {
                                                <img src="@Model.Partners.Avatar" class="avatar-xxl rounded-circle" alt="" id="previewImage" />
                                            }
                                            <div class="ms-3">
                                                <h4 class="mb-0">Hình đại diện (nếu có)</h4>
                                                <p class="mb-0">
                                                    PNG hoặc JPG hình vuông không lớn hơn 800px.
                                                </p>
                                            </div>

                                        </div>
                                        <div>
                                            <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                                            <a id="clickFiles" style="width: 150px" role="button" class="btn btn-outline-primary btn-sm">Tải lên</a>
                                            <a id="reloadButton" style="width: 150px" role="button" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="mb-3 col-12">
                                        <label style="font-weight:bold" class="form-label">Tên Đơn vị / Doanh nghiệp</label>
                                        <input id="namedn" name="namedn" value="@Model.Partners.Company" type="text" class="form-control" placeholder="Nhập vào tên doanh nghiệp của khách hàng (nếu có)" required>
                                        <input hidden id="idkh" value="@Model.ID_Partner" />
                                    </div>
                                    <!-- form group -->
                                    <div class="mb-3 col-12  col-md-6">
                                        <label style="font-weight:bold" class="form-label">Họ và Tên<span class="text-danger">*</span></label>
                                        <input id="hoten" name="hoten" value="@Model.Partners.Name" type="text" class="form-control" placeholder="Nhập vào họ và tên của khách hàng" required>
                                    </div>

                                    <div class="mb-3 col-12 col-md-6">
                                        <label style="font-weight:bold" class="form-label" for="fname">Số CMND / CCCD <span class="text-danger">*</span></label>
                                        <input id="cmnd" name="cmnd" value="@Model.Partners.IdentityCard" type="text" class="form-control" placeholder="07020000xxxx..." required />
                                    </div>
                                    <!-- Phone -->
                                    <div class="mb-3 col-12 col-md-6">
                                        <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                                        <input id="phone" name="phone" value="@Model.Partners.Phone" type="tel" class="form-control" placeholder="0999888777..." required />
                                    </div>
                                    <div class="mb-3 col-12 col-md-6">
                                        <label style="font-weight:bold" class="form-label" for="phone">Email <span class="text-danger">*</span></label>
                                        <input type="text" id="email" name="email" value="@Model.Partners.Email" class="form-control" placeholder="example@itglobal.net..." required />
                                    </div>
                                    <!-- Birthday -->
                                    <div class="mb-3 col-12 col-md-6">
                                        <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh <span class="text-danger">*</span></label>
                                        <input id="ngaysinh" name="ngaysinh" value="@Model.Partners.Birthday.ToString("yyyy-MM-dd")" class="form-control flatpickr" type="date" placeholder="Chọn ngày sinh" />
                                    </div>
                                    <!-- Birthday -->
                                    <div class="mb-3 col-12 col-md-6">
                                        <label style="font-weight:bold" class="form-label">Giới tính <span class="text-danger">*</span></label>
                                        @if (Model.Partners.Sex.Equals("Nam"))
                                        {
                                            <select id="gioitinh" name="gioitinh" style="color:black" class="selectpicker" data-width="100%">
                                                <option selected value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="gioitinh" name="gioitinh" style="color:black" class="selectpicker" data-width="100%">
                                                <option value="Nam">Nam</option>
                                                <option selected value="Nữ">Nữ</option>
                                            </select>
                                        }

                                    </div>

                                    <!-- Address -->
                                    <div class="mb-3 col-12 col-md-12">
                                        <label style="font-weight:bold" class="form-label" for="address">ĐC Doanh nghiệp / Nhà riêng <span class="text-danger">*</span></label>
                                        <textarea id="diahchinha" name="diachinha" rows="5" class="form-control" placeholder="Số 0/0 đường gì đó, Phường mấy, Quận gì, Thành Phố bla bla...">@Model.Partners.Address</textarea>
                                    </div>

                                    <div style="text-align: right; padding-top: 25px" class="mb-2 col-12 col-md-6">
                                        <button id="resetdata" style="width: 230px" class="btn btn-outline-danger">
                                            Hủy bỏ
                                        </button>
                                    </div>
                                    <div style=" padding-top: 25px" class="mb-2 col-12 col-md-6">
                                        <a role="button" id="luuThongTin" style="width: 230px" class="btn btn-success">
                                            Lưu thay đổi
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chỉnh sửa Công nợ -->
<div class="modal fade modal-lg" id="chinhSuaChiPhi" tabindex="-1" role="dialog"
     aria-labelledby="chinhSuaChiPhiLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chinhSuaChiPhi">Cập Nhật Chi Phí</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="cnfrm" class="row">
                    <input id="cndem" value="3" hidden />

                    <label style="font-weight:bold" for="cnipcpgd1" class="form-label">Giai đoạn 1 </label>
                    <div id="cnipcpgd1" class="mb-3 col-md-6 col-12">
                        <input id="cngd1" name="cngd1" type="text" class="form-control" placeholder="Chi phí giai đoạn 1" required />
                    </div>
                    <div id="cnipdgd1" class="mb-3 col-md-6 col-12">
                        <div class="input-group me-3">
                            <input class="form-control flatpickr" type="text"
                                   placeholder="Ngày kết thúc giai đoạn 1" aria-describedby="basic-addon-gd1" required>

                            <span class="input-group-text text-muted" id="basic-addon-gd1">
                                <i class="fe fe-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <label style="font-weight:bold" for="cnipcpgd2" class="form-label">Giai đoạn 2 </label>
                    <div id="cnipcpgd2" class="mb-3 col-md-6 col-12">
                        <input id="cngd2" name="cngd2" type="text" class="form-control" placeholder="Chi phí giai đoạn 2" required />
                    </div>
                    <div id="cnipdgd2" class="mb-3 col-md-6 col-12">
                        <div class="input-group me-3">
                            <input class="form-control flatpickr" type="text"
                                   placeholder="Ngày kết thúc giai đoạn 2" id="date" aria-describedby="basic-addon-gd2" required>

                            <span class="input-group-text text-muted" id="basic-addon-gd2">
                                <i class="fe fe-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <label style="font-weight:bold" for="cnipcpgd3" class="form-label">Giai đoạn 3 </label>
                    <div id="cnipcpgd3" class="mb-3 col-md-6 col-12">
                        <input id="cngd3" name="cngd3" type="text" class="form-control" placeholder="Chi phí giai đoạn 3" required />
                    </div>
                    <div id="cnipdgd3" class="mb-3 col-md-6 col-12">
                        <div class="input-group me-3">

                            <input class="form-control flatpickr" type="text"
                                   placeholder="Ngày kết thúc giai đoạn 3" id="date" aria-describedby="basic-addon-gd3" required>

                            <span class="input-group-text text-muted" id="basic-addon-gd3">
                                <i class="fe fe-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div id="cnappenddayne" class="col-12"></div>
                    <div style="text-align: center; padding-bottom: 15px;" class="mb-2 col-md-6 col-12">
                        <a style="width: 100%;" id="cnxoabot" class="btn text-danger border-danger btn-xs">
                            <i class="fe fe-minus-circle"> </i> Xóa giai đoạn
                        </a>
                    </div>
                    <div style="text-align:center; padding-bottom: 15px" class="mb-2 col-md-6 col-12">
                        <a style="width: 100%" id="cnaddthem" class="btn text-primary border-primary btn-xs">
                            <i class="fe fe-plus-circle"> </i> Thêm giai đoạn
                        </a>
                    </div>

                    <div style="margin-bottom: 20px" class="col-12">
                        <label style="font-weight:bold" for="priority" class="form-label">Tổng chi phí </label>
                        <div readonly style="text-align: center; font-weight: bold; color: brown" id="cnsums" name="cnsums" type="text" class="form-control">HÃY NHẬP CHI PHÍ Ở CÁC GIAI ĐOẠN</div>
                    </div>
                    <div style="text-align: right; padding-top: 20px" class="mb-2 col-12 col-md-6">
                        <a role="button" style="width: 230px" class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Hủy
                        </a>
                    </div>
                    <div style=" padding-top: 20px" class="mb-2 col-12 col-md-6">
                        <button style="width: 230px" class="btn btn-success" type="submit">
                            Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/ValidationAlert/Admin/QuanLyDuAn/ChinhSuaDuAnValidation.js"></script>
<script src="~/ValidationAlert/Admin/QuanLyDuAn/ChiTietDuAnValidation.js"></script>
<script src="~/Content/Admin/assets/js/reviewImage.js"></script>

<script>
$(document).on('click', '#tongQuanID', function(e) {
    $.ajax({
        url: '@Url.Action("tongQuanPartial", "QuanLyDuAn", new {id = Model.ID})',
        type: 'GET',
        dataType: 'html'
    }).done(function(ketqua) {
        if (ketqua === "DANHSACH") {
            window.location.href = '@Url.Action("danhSachDuAn", "QuanLyDuAn")';
        } else {

            $('#chiTietDuAnPartialID').replaceWith(ketqua);
            $.when(
                $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {

            });
            if ($("#progressChart").length) {
                e = {
                    series: [@ViewBag.TongTheDuAn],
                    chart: {
                        height: 350,
                        type: "radialBar",
                        toolbar: {
                            show: !1
                        }
                    },
                    colors: [window.theme.primary, window.theme.warning],
                    plotOptions: {
                        radialBar: {
                            startAngle: -135,
                            endAngle: 225,
                            hollow: {
                                margin: 0,
                                size: "70%",
                                background: window.theme.white,
                                image: void 0,
                                imageOffsetX: 0,
                                imageOffsetY: 0,
                                position: "front",
                                dropShadow: {
                                    enabled: !0,
                                    top: 3,
                                    left: 0,
                                    blur: 4,
                                    opacity: .24
                                }
                            },
                            track: {
                                background: window.theme.white,
                                strokeWidth: "67%",
                                margin: 0,
                                dropShadow: {
                                    enabled: !0,
                                    top: -3,
                                    left: 0,
                                    blur: 4,
                                    opacity: .35
                                }
                            },
                            dataLabels: {
                                showOn: "always",
                                name: {
                                    show: !1
                                },
                                value: {
                                    formatter: function(e) {
                                        return parseInt(e) + "%"
                                    },
                                    color: window.theme.dark,
                                    fontSize: "48px",
                                    fontWeight: "700",
                                    show: !0
                                }
                            }
                        }
                    },
                    fill: {
                        type: "gradient",
                        gradient: {
                            shade: "dark",
                            type: "horizontal",
                            shadeIntensity: .5,
                            gradientToColors: [window.theme.warning],
                            inverseColors: !1,
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [0, 100]
                        }
                    },
                    stroke: {
                        lineCap: "round"
                    }
                };
                new ApexCharts(document.querySelector("#progressChart"), e).render()
            }
        }
    });
});

$(document).on('click', '#congViecID', function(e) {
    $.ajax({
        url: '@Url.Action("congViecPartial", "QuanLyDuAn", new {id = Model.ID })',
        type: 'GET',
        dataType: 'html'
    }).done(function(ketqua) {
        if (ketqua === "DANHSACH") {
            window.location.href = '@Url.Action("danhSachDuAn", "QuanLyDuAn")';
        } else {
            $('#chiTietDuAnPartialID').replaceWith(ketqua);
            $.when(
                $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {
                //place your code here, the scripts are all loaded
            });
            $('#taskDeadline').selectpicker();
            $('#assignTo').selectpicker();
            $('#nguoithuchien').selectpicker({
                style: "text-dark btn-sm"
            });
        }
    });
});

$(document).on('click', '#nganSachID', function(e) {
    $.ajax({
        url: '@Url.Action("nganSachPartial", "QuanLyDuAn", new {id = Model.ID })',
        type: 'GET',
        dataType: 'html'
    }).done(function(ketqua) {
        if (ketqua === "DANHSACH") {
            window.location.href = '@Url.Action("danhSachDuAn", "QuanLyDuAn")';
        } else {
            $('#chiTietDuAnPartialID').replaceWith(ketqua);
            $.when(
                $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {
                //place your code here, the scripts are all loaded
            });
            if ($("#traffic").length) {
                e = {
                    dataLabels: {
                        enabled: !1
                    },
                    series: [2000000, 3000000, 4000000, 5000000],
                    labels: ["Giai đoạn 1", "Giai đoạn 2", "Giai đoạn 3", "Giai đoạn 4"],
                    colors: [window.theme.success, window.theme.primary, window.theme.danger, window.theme.warning],
                    chart: {
                        width: 392,
                        type: "donut"
                    },
                    plotOptions: {
                        pie: {
                            expandOnClick: !1,
                            donut: {
                                size: "50%"
                            }
                        }
                    },
                    legend: {
                        position: "bottom",
                        fontFamily: "inter",
                        fontWeight: 500,
                        fontSize: "14px",
                        markers: {
                            width: 8,
                            height: 8,
                            strokeWidth: 0,
                            strokeColor: "#ffffff",
                            fillColors: void 0,
                            radius: 12,
                            customHTML: void 0,
                            onClick: void 0,
                            offsetX: 0,
                            offsetY: 0
                        },
                        itemMargin: {
                            horizontal: 8,
                            vertical: 0
                        }
                    },
                    tooltip: {
                        theme: "light",
                        marker: {
                            show: !0
                        },
                        x: {
                            show: !1
                        }
                    },
                    states: {
                        hover: {
                            filter: {
                                type: "none"
                            }
                        }
                    }
                };
                new ApexCharts(document.querySelector("#traffic"), e).render()
            }
        }
    });
});

$(document).on('click', '#taiLieuID', function(e) {
    $.ajax({
        url: '@Url.Action("taiLieuPartial", "QuanLyDuAn", new {id = Model.ID })',
        type: 'GET',
        dataType: 'html'
    }).done(function(ketqua) {
        if (ketqua === "DANHSACH") {
            window.location.href = '@Url.Action("danhSachDuAn", "QuanLyDuAn")';
        } else {
            $('#chiTietDuAnPartialID').replaceWith(ketqua);
            $.when(
                $.getScript("@Url.Content("~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {
                //place your code here, the scripts are all loaded
            });
        }
    });
});

$(document).on('click', '#doiNguID', function(e) {
    $.ajax({
        url: '@Url.Action("doiNguPartial", "QuanLyDuAn", new {id = Model.ID })',
        type: 'GET',
        dataType: 'html'
    }).done(function(ketqua) {
        if (ketqua === "DANHSACH") {
            window.location.href = '@Url.Action("danhSachDuAn", "QuanLyDuAn")';
        } else {
            $('#chiTietDuAnPartialID').replaceWith(ketqua);
            $.when(
                $.getScript("@Url.Content("~/Content/Admin/js/plugin/sweetalert/sweetalert.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/js/theme.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/flatpickr/dist/flatpickr.min.js")"),
                $.getScript("@Url.Content("~/Content/Admin/assets/libs/apexcharts/dist/apexcharts.min.js")"),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {
                //place your code here, the scripts are all loaded
            });
        }
    });
});

</script>