@model ITGlobalProject.Models.Employees
@using System.Globalization;
@{ string date = DateTime.Now.Year + "-W" + (new CultureInfo("vi-VN").Calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstDay, DayOfWeek.Monday) - 1);

    string imagesUrl = "";

    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">

    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Chi Tiết
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Quản Lý Nhân Sự</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Nhân Viên</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Bảng Lương
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style="
								background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg.jpg")) no-repeat;
								background-size: cover;
							"></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
                     rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        <img src="@Url.Content(imagesUrl)" class="avatar-xl rounded-circle border border-4 border-white"
                             alt="" />
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="Hoạt động"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
                <div><span typeof="text" style="float: right; margin-top:1%" class="btn btn-outline-dark btn-sm">Ngày vào làm: 2022-10-14</span></div>

            </div>
        </div>
    </div>    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Thông Tin Tài Khoản</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="ttcanhan" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Liên hệ & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="knchuyenmon" class="nav-link">
                                    <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tdngoaingu" class="nav-link">
                                    <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="ptnhanthan" class="nav-link">
                                    <i class="fe fe-users nav-icon"></i>Phụ thuộc nhân thân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="hdvacongviec" class="nav-link">
                                    <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a role="button" id="bangLuongs" class="nav-link">
                                    <i class="fe fe-dollar-sign nav-icon"></i>Bảng lương
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>
                            <hr />
                            @if (Model.Lock == false)
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-danger btn-sm">
                                        KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-success btn-sm">
                                        MỞ KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <div class="row justify-content-md-between mb-4 mb-xl-4 ">
                <div class="col-xl-6 col-lg-4 col-md-4 col-12 ">
                    <select class="form-select" data-width="100%">
                        <option value="">Lương của Năm</option>
                        <option value="In Progress">Năm 2020</option>
                        <option value="Pending">Năm 2021</option>
                        <option value="Modified">Năm 2022</option>
                    </select>

                </div>
                <div class="col-xl-6 col-lg-4 col-md-4 col-12 ">
                    <select class="form-select" data-width="100%">
                        <option value="">Trạng thái</option>
                        <option value="In Progress">Đã thanh toán</option>
                        <option value="Pending">Chưa thanh toán</option>
                    </select>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <!-- card -->
                    <div class="card">
                        <!-- table -->
                        <div class="table-responsive overflow-y-hidden" data-simplebar>
                            <table class="table mb-4 text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col" class=" border-top-0">Tháng lương</th>
                                        <th scope="col" class=" border-top-0">Ngày nhận</th>
                                        <th scope="col" class=" border-top-0">Lương cơ bản</th>
                                        <th scope="col" class=" border-top-0">Thực lãnh</th>
                                        <th scope="col" class=" border-top-0">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-shape icon-lg rounded-3 border p-4">
                                                    <i class="fe fe-calendar  fs-3 text-muted"></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 01, 2022</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle ">
                                            30 Thg 01, 2022
                                        </td>
                                        <td class="align-middle text-primary">
                                            $ 15,000,000 đ
                                        </td>
                                        <td class="align-middle text-warning">
                                            $ 14,300,000 đ
                                        </td>
                                        <td class="align-middle ">
                                            <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Chưa thanh toán</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-shape icon-lg rounded-3 border p-4">
                                                    <i class="fe fe-calendar  fs-3 text-muted"></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 02, 2022</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle ">
                                            28 Thg 02, 2022
                                        </td>
                                        <td class="align-middle text-primary">
                                            $ 15,000,000 đ
                                        </td>
                                        <td class="align-middle text-warning">
                                            $ 14,100,000 đ
                                        </td>
                                        <td class="align-middle ">
                                            <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-shape icon-lg rounded-3 border p-4">
                                                    <i class="fe fe-calendar  fs-3 text-muted"></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 03, 2022</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle ">
                                            30 Thg 03, 2022
                                        </td>
                                        <td class="align-middle text-primary">
                                            $ 15,000,000 đ
                                        </td>
                                        <td class="align-middle text-warning">
                                            $ 14,300,000 đ
                                        </td>
                                        <td class="align-middle ">
                                            <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-shape icon-lg rounded-3 border p-4">
                                                    <i class="fe fe-calendar  fs-3 text-muted"></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 04, 2022</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle ">
                                            31 Thg 04, 2022
                                        </td>
                                        <td class="align-middle text-primary">
                                            $ 15,000,000 đ
                                        </td>
                                        <td class="align-middle text-warning">
                                            $ 14,300,000 đ
                                        </td>
                                        <td class="align-middle ">
                                            <span style="width: 110px" class="badge bg-light-danger text-dark-danger">Chưa thanh toán</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle ">
                                            <div class="d-flex align-items-center">
                                                <div class="icon-shape icon-lg rounded-3 border p-4">
                                                    <i class="fe fe-calendar  fs-3 text-muted"></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0"><a href="#" class="text-inherit">Tháng 05, 2022</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle ">
                                            29 Thg 05, 2022
                                        </td>
                                        <td class="align-middle text-primary">
                                            $ 15,000,000 đ
                                        </td>
                                        <td class="align-middle text-warning">
                                            $ 14,600,000 đ
                                        </td>
                                        <td class="align-middle ">
                                            <span style="width: 110px" class="badge bg-light-success text-dark-success">Đã thanh toán</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/QuanLyNhanSu/KhoaTaiKhoanValidation.js"></script>
