@model ITGlobalProject.Models.Employees
@using ITGlobalProject.Models;
@{
    var lstPosition = Session["lst-role"] as List<Position>;

    string imagesUrl = "";
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}

<div id="contentPartial" class="container-fluid p-4">

    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Chi Tiết
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Quản Lý Nhân Sự</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Nhân Viên</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Chỉnh Sửa Thông Tin
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style="
								background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg.jpg")) no-repeat;
								background-size: cover;
							"></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde


                     rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        <img src="@Url.Content(imagesUrl)" class="avatar-xl rounded-circle border border-4 border-white"
                             alt="" />
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            <i class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="Hoạt động"></i>
                        </h2>
                        <p class="mb-0 d-block">@Model.Email</p>
                    </div>

                </div>
                <div><span typeof="text" style="float: right; margin-top:1%" class="btn btn-outline-dark btn-sm">Ngày vào làm: 2022-10-14</span></div>

            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Thông Tin Tài Khoản</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <li class="nav-item ">
                                <a role="button" id="ttchiTiet" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a role="button" id="csthongtin" class="nav-link">
                                    <i class="fe fe-edit nav-icon"></i>Chỉnh sửa thông tin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" id="bangLuongs" class="nav-link">
                                    <i class="fe fe-file-text nav-icon"></i>Bảng lương
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>
                            <hr />
                            @if (Model.Lock == false)
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-danger btn-sm">
                                        KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-success btn-sm">
                                        MỞ KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Cập Nhật Thông Tin</h3>
                    <p class="mb-0">
                        Cập nhật các thông tin cá nhân cần thay đổi của Nhân viên. Chọn lưu để lưu thay đổi, Hủy để đặt lại các trường thông tin như ban đầu.
                    </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div id="reloadImage" class="d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center mb-4 mb-lg-0">
                            <img src="@Url.Content(imagesUrl)" class="avatar-xl rounded-circle border border-4 border-white"
                                 alt="" id="previewImage" />
                            <div class="ms-3">
                                <h4 class="mb-0">Hình đại diện</h4>
                                <p class="mb-0">
                                    PNG hoặc JPG hình vuông không lớn hơn 800px.
                                </p>
                            </div>
                        </div>
                        <div>
                            <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                            <a role="button" id="clickFiles" class="btn btn-primary btn-sm">Tải lên</a>
                            <a role="button" id="reloadButton" class="btn btn-outline-danger btn-sm">Xóa bỏ</a>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div>
                        <form class="row">
                            <!-- First name -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="fname">Họ và Tên <span class="text-danger">*</span></label>
                                <input value="@Model.ID" name="id" id="id" hidden />
                                <input value="@Model.Avatar" name="avatar" id="avatar" hidden />
                                <input value="@Model.Name" type="text" id="hoten" name="hoten" class="form-control" placeholder="Nguyễn Văn A" />
                                <p style="font-size: 13px; color:red;" id="hotenvalidation"></p>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="fname">Số CMND/CCCD <span class="text-danger">*</span></label>
                                <input value="@Model.IdentityCard" type="text" id="cmnd" name="cmnd" class="form-control" placeholder="07020000xxxx" />
                                <p style="font-size: 13px; color:red;" id="cmndvalidation"></p>
                            </div>
                            <!-- Phone -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                                <input value="@Model.Phone" type="tel" id="sodienthoai" name="sodienthoai" class="form-control" placeholder="0999888xxx" />
                                <p style="font-size: 13px; color:red;" id="sodienthoaivalidation"></p>
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="birth">Ngày sinh <span class="text-danger">*</span></label>
                                <input value="@Model.Birthday.ToString("yyyy-MM-dd")" class="form-control flatpickr" type="text" placeholder="2000-01-01" id="ngaysinh" name="ngaysinh" />
                                <p style="font-size: 13px; color:red;" id="ngaysinhvalidation"></p>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Email <span class="text-danger">*</span></label>
                                <input value="@Model.Email" type="text" id="diachiemail" name="diachiemail" class="form-control" placeholder="example@itglobal.net" />
                                <p style="font-size: 13px; color:red;" id="diachiemailvalidation"></p>
                            </div>
                            <!-- Birthday -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label">Giới tính <span class="text-danger">*</span></label>
                                <select style="color: black" name="gioitinh" id="gioitinh" class="form-select" data-width="100%">
                                    @if (Model.Sex.Equals("Nam"))
                                    {
                                        <option selected value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    }
                                    else
                                    {
                                        <option value="Nam">Nam</option>
                                        <option selected value="Nữ">Nữ</option>
                                    }
                                </select>
                                <p style="font-size: 13px; color:red;" id="gioitinhvalidation"></p>
                            </div>
                            <!-- Address -->
                            <div class="mb-3 col-12 col-md-12">
                                <label style="font-weight:bold" class="form-label" for="address">Địa chỉ </label>
                                <textarea rows="4" id="diachinha" name="diachinha" class="form-control" placeholder="Số này/kia đường gì đó, Phường mấy, Quận gì, Thành Phố bla bla">@Model.Address</textarea>
                            </div>
                            <hr class="my-4" />

                            <!-- State -->
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label">Vai trò <span class="text-danger">*</span></label>
                                <select style="color: black" id="vaitro" name="vaitro" class="form-select" data-width="100%">
                                    @foreach (var item in lstPosition)
                                    {
                                        if (Model.ID_Position == item.ID)
                                        {
                                            <option selected value="@item.ID">@item.Name</option>

                                        }
                                        else
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <p style="font-size: 13px; color:red;" id="vaitrovalidation"></p>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Người phụ thuộc <span class="text-danger">*</span></label>
                                <select style="color: black" name="nguoiphuthuoc" id="nguoiphuthuoc" class="form-select" data-width="100%" tabindex="null">
                                    @if (Model.NumberOfDependants == 0)
                                    {
                                        <option selected value="0">Không có</option>
                                        <option value="1">1 Người</option>
                                        <option value="2">2 Người</option>
                                        <option value="3">3 Người</option>
                                        <option value="4">4 Người</option>
                                        <option value="5">5 Người</option>
                                        <option value="6">6 Người</option>
                                        <option value="7">7 Người</option>
                                        <option value="8">8 Người</option>
                                        <option value="9">9 Người</option>
                                        <option value="10">10 Người</option>
                                    }
                                    else
                                    {
                                        <option value="0">Không có</option>
                                        for (int i = 1; i <= 10; i++)
                                        {
                                            if (Model.NumberOfDependants == i)
                                            {
                                                <option selected value="@i">@i Người</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i Người</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold" class="form-label" for="phone">Mức lương <span class="text-danger">*</span></label>
                                <input value="@Model.Wage.ToString("0,0")" style="font-weight:bold; color:brown" type="text" id="mucluong" name="mucluong" class="form-control" placeholder="10.000.000..." />
                            </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" for="dsNganHang" class="form-label">Ngân hàng</label>
                                <input value="@Model.BankName" list="dsNganHang" id="tenNganHang" class="form-control" placeholder="Tên ngân hàng" />
                                <datalist name="dsNganHang" id="dsNganHang">
                                    <option value="TPBank"></option>
                                    <option value="SacomBank"></option>
                                    <option value="VietinBank"></option>
                                </datalist>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" class="form-label" for="phone">Số tài khoản</label>
                                <input value="@Model.BankAccountNumber" id="sotaikhoan" name="sotaikhoan" type="text" class="form-control" placeholder="Số tài khoản ngân hàng" />
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label style="font-weight:bold;" class="form-label" for="phone">Chủ tài khoản</label>
                                <input value="@Model.BankAccountHolderName" id="chutaikhoan" name="chutaikhoan" type="text" class="form-control" placeholder="Tên người sở hữu tài khoản ngân hàng" />
                            </div>
                            <div style="text-align: right; padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <button style="width: 230px" class="btn btn-outline-danger" type="reset">
                                    Hủy thay đổi
                                </button>
                            </div>
                            <div style="padding-top: 20px" class="mb-3 col-12 col-md-6">
                                <a role="button" id="luuChinhSua" style="width: 230px" class="btn btn-success">
                                    Lưu thay đổi
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/ValidationAlert/QuanLyNhanSu/ChinhSuaNhanVienValidation.js"></script>
<script src="~/Content/Admin/assets/js/reviewImage.js"></script>
<script src="~/ValidationAlert/QuanLyNhanSu/KhoaTaiKhoanValidation.js"></script>
