@using PagedList;
@using PagedList.Mvc;
@using ITGlobalProject.Models;

@model IPagedList<ITGlobalProject.Models.Employees>


<div class="col-lg-12 col-md-12 col-12">
    <!-- Tab -->
    <div class="tab-content">
        @if (Convert.ToInt32(ViewBag.typeListNhanSu) == 1)
        {
            <!-- Tab pane -->
            <div class="tab-pane fade show active" id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                                else
                                                {
                                                    <img src="@item.Avatar"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                            </a>
                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                <h4 class="mb-0" title="Xem trang cá nhân">@item.Name</h4>
                                            </a>
                                            <p class="mb-0">@item.Position.Name</p>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 mt-4">
                                            <span>Tổng công việc</span>
                                            <b>
                                                <span class="text-success">Coming Soon <i class="mdi mdi-check-all"></i></span>
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2">
                                            <span>Công việc đang làm</span>
                                            <b>
                                                <span class="text-danger">
                                                    Coming Soon <i class="mdi mdi-progress-clock"></i>
                                                </span>
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2">
                                            <span>Dự án tham gia</span>
                                            <b>
                                                <span class="text-warning">
                                                    Coming Soon <i class="mdi mdi-bookmark"></i>
                                                </span>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="mb-3 col-12 col-md-12 text-center">
                            <label style="width: 100%" class="text-center">Không tìm thấy dữ liệu tương ứng.</label>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="pt-4">
                            <!-- Pagination -->
                            <nav>
                                <ul class="pagination justify-content-center mb-0">
                                    @if (Model.PageNumber == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 1 })" tabindex="-1">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="1" />
                                                <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </button>
                                            }
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (Model.PageNumber == i)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 1 })">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                {
                                                    <input hidden name="page" value="@i" />
                                                    <input hidden name="pageSize" value="8" />
                                                    <input hidden name="type" value="1" />
                                                    <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                }
                                            </li>
                                        }
                                    }
                                    @if (Model.PageNumber == Model.PageCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 1 })">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="1" />
                                                <button class="page-link mx-1 rounded" type="submit">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </button>
                                            }
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tab pane -->
            <div class="tab-pane fade" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                <!-- card -->
                <div id="panel" class="card">
                    <!-- card header -->
                    <div class="card-header">
                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                        <table class="table mb-0 text-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="border-0">Họ và Tên</th>
                                    <th scope="col" class="border-0">Vai trò</th>
                                    <th scope="col" class="border-0">
                                        Liên hệ
                                    </th>
                                    <th scope="col" class="border-0">
                                        Ngày sinh
                                    </th>
                                    <th scope="col" class="border-0">
                                        Giới tính
                                    </th>
                                    <th scope="col" class="border-0">
                                        Trạng thái
                                    </th>
                                    <th scope="col" class="border-0"></th>
                                    <th scope="col" class="border-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle border-top-0">
                                                <div class="d-flex align-items-center">
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" alt=""
                                                                 class="rounded-circle avatar-md me-2" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.Avatar" alt=""
                                                                 class="rounded-circle avatar-md me-2" />
                                                        }

                                                    </a>
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        <h5 class="mb-0">@item.Name</h5>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Position.Name
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.TelephoneMobile
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Birthday.ToString("dd/MM/yyyy")
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Sex
                                            </td>
                                            @if (item.Lock == false)
                                            {
                                                <td class="align-middle text-success border-top-0">
                                                    Hoạt động <i class="mdi mdi-check-circle"></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-danger border-top-0">
                                                    Đã ngưng làm <i class="mdi mdi-x-circle"></i>
                                                </td>
                                            }
                                            <td class="align-middle border-top-0">
                                                <a href="#" class="text-muted" data-bs-toggle="tooltip"
                                                   data-placement="top" title="Gửi mail">
                                                    <i class="fe fe-mail"></i>
                                                </a>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })" class="text-muted" data-bs-toggle="tooltip"
                                                   data-placement="top" title="Chi tiết">
                                                    <i class="fe fe-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" class="align-middle border-top-0 text-center">Không tìm thấy dữ liệu tương ứng.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="pb-4 pt-4">
                            <nav>
                                <ul class="pagination justify-content-center mb-0">
                                    @if (Model.PageNumber == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 2 })" tabindex="-1">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="2" />
                                                <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </button>
                                            }
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (Model.PageNumber == i)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 2 })">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                {
                                                    <input hidden name="page" value="@i" />
                                                    <input hidden name="pageSize" value="8" />
                                                    <input hidden name="type" value="2" />
                                                    <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                }
                                            </li>
                                        }
                                    }
                                    @if (Model.PageNumber == Model.PageCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 2 })">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="2" />
                                                <button class="page-link mx-1 rounded" type="submit">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </button>
                                            }
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="tab-pane fade" id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                                else
                                                {
                                                    <img src="@item.Avatar"
                                                         class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                }
                                            </a>
                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                <h4 class="mb-0" title="Xem trang cá nhân">@item.Name</h4>
                                            </a>
                                            <p class="mb-0">@item.Position.Name</p>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 mt-4">
                                            <span>Tổng công việc</span>
                                            <b>
                                                <span class="text-success">Coming Soon <i class="mdi mdi-check-all"></i></span>
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2">
                                            <span>Công việc đang làm</span>
                                            <b>
                                                <span class="text-danger">
                                                    Coming Soon <i class="mdi mdi-progress-clock"></i>
                                                </span>
                                            </b>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2">
                                            <span>Dự án tham gia</span>
                                            <b>
                                                <span class="text-warning">
                                                    Coming Soon <i class="mdi mdi-bookmark"></i>
                                                </span>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="mb-3 col-12 col-md-12 text-center">
                            <label style="width: 100%" class="text-center">Không tìm thấy dữ liệu tương ứng.</label>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="pt-4">
                            <!-- Pagination -->
                            <nav>
                                <ul class="pagination justify-content-center mb-0">
                                    @if (Model.PageNumber == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 1 })" tabindex="-1">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="1" />
                                                <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </button>
                                            }
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (Model.PageNumber == i)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 1 })">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                {
                                                    <input hidden name="page" value="@i" />
                                                    <input hidden name="pageSize" value="8" />
                                                    <input hidden name="type" value="1" />
                                                    <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                }
                                            </li>
                                        }
                                    }
                                    @if (Model.PageNumber == Model.PageCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 1 })">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="1" />
                                                <button class="page-link mx-1 rounded" type="submit">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </button>
                                            }
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
            <!-- tab pane -->
            <div class="tab-pane fade show active" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                <!-- card -->
                <div class="card">
                    <!-- card header -->
                    <div class="card-header">
                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                        <table class="table mb-0 text-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="border-0">Họ và Tên</th>
                                    <th scope="col" class="border-0">Vai trò</th>
                                    <th scope="col" class="border-0">
                                        Liên hệ
                                    </th>
                                    <th scope="col" class="border-0">
                                        Ngày sinh
                                    </th>
                                    <th scope="col" class="border-0">
                                        Giới tính
                                    </th>
                                    <th scope="col" class="border-0">
                                        Trạng thái
                                    </th>
                                    <th scope="col" class="border-0"></th>
                                    <th scope="col" class="border-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle border-top-0">
                                                <div class="d-flex align-items-center">
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" alt=""
                                                                 class="rounded-circle avatar-md me-2" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.Avatar" alt=""
                                                                 class="rounded-circle avatar-md me-2" />
                                                        }

                                                    </a>
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        <h5 class="mb-0">@item.Name</h5>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Position.Name
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.TelephoneMobile
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Birthday.ToString("dd/MM/yyyy")
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @item.Sex
                                            </td>
                                            @if (item.Lock == false)
                                            {
                                                <td class="align-middle text-success border-top-0">
                                                    Hoạt động <i class="mdi mdi-check-circle"></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-danger border-top-0">
                                                    Đã ngưng làm <i class="mdi mdi-x-circle"></i>
                                                </td>
                                            }
                                            <td class="align-middle border-top-0">
                                                <a href="#" class="text-muted" data-bs-toggle="tooltip"
                                                   data-placement="top" title="Gửi mail">
                                                    <i class="fe fe-mail"></i>
                                                </a>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })" class="text-muted" data-bs-toggle="tooltip"
                                                   data-placement="top" title="Chi tiết">
                                                    <i class="fe fe-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" class="align-middle border-top-0 text-center">Không tìm thấy dữ liệu tương ứng.</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="pb-4 pt-4">
                            <nav>
                                <ul class="pagination justify-content-center mb-0">
                                    @if (Model.PageNumber == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 2 })" tabindex="-1">
                                                <i class="mdi mdi-chevron-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="2" />
                                                <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </button>
                                            }
                                        </li>
                                    }

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (Model.PageNumber == i)
                                        {
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 2 })">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item ">
                                                @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                {
                                                    <input hidden name="page" value="@i" />
                                                    <input hidden name="pageSize" value="8" />
                                                    <input hidden name="type" value="2" />
                                                    <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                }
                                            </li>
                                        }
                                    }
                                    @if (Model.PageNumber == Model.PageCount)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 2 })">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                <input hidden name="pageSize" value="8" />
                                                <input hidden name="type" value="2" />
                                                <button class="page-link mx-1 rounded" type="submit">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </button>
                                            }
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script src="~/Content/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
