@using ITGlobalProject.Models;
@model ITGlobalProject.Models.Employees
@{
    var lstNhanThan = Session["lst-nhanthan"] as List<DependentsInformation>;
    int j = 0;
    string imagesUrl = "";
    if (string.IsNullOrEmpty(Model.Avatar))
    {
        imagesUrl = "~/Content/Admin/assets/images/avatar/default-avatar.png";
    }
    else
    {
        imagesUrl = Model.Avatar;
    }
}
<div id="contentPartial" class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Thông Tin Chi Tiết
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Quản Lý Nhân Sự</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Nhân Viên</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Thông Tin Người Phụ Thuộc
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <!-- User info -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-16 rounded-top-md" style="
								background: url(@Url.Content("~/Content/Admin/assets/images/background/profile-bg.jpg")) no-repeat;
								background-size: cover;
							"></div>
            <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounde
                     rounded-bottom-md shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                        <img src="@Url.Content(imagesUrl)" class="avatar-xl rounded-circle border border-4 border-white"
                             alt="" />
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-0">
                            @Model.Name
                            @if (Model.Lock == false)
                            {
                                <i id="CheckorX" class="mdi mdi-check-circle-outline text-success" data-bs-toggle="tooltip" data-placement="top" title="Hoạt động"></i>
                            }
                            else
                            {
                                <i id="CheckorX" style="font-size: 22px" class="fe fe-x-circle text-danger" data-bs-toggle="tooltip" data-placement="top" title="Đã ngưng làm"></i>
                            }
                        </h2>
                        <p class="mb-0 d-block">@Model.WorkEmail</p>
                    </div>

                </div>
                <div><span typeof="text" style="float: right; margin-top:1%" class="btn btn-outline-dark btn-sm">Ngày vào làm: 2022-10-14</span></div>

            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
        <div class="col-lg-3 col-md-4 col-12">
            <!-- Side navbar -->
            <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                <!-- Menu -->
                <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                <!-- Button -->
                <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fe fe-menu"></span>
                </button>
                <!-- Collapse navbar -->
                <div class="collapse navbar-collapse" id="sidenav">
                    <div class="navbar-nav flex-column">
                        <span class="navbar-header">Hồ Sơ Nhân Viên</span>
                        <!-- List -->
                        @*<ul class="list-unstyled ms-n2 mb-4">*@
                        <ul class="list-unstyled ms-n2 mb-0">
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a role="button" id="ttcanhan" class="nav-link">
                                    <i class="fe fe-user nav-icon"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="lhvathanhtoan" class="nav-link">
                                    <i class="fe fe-phone-call nav-icon"></i>Tiền Lương & Thanh toán
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="knchuyenmon" class="nav-link">
                                    <i class="fe fe-code nav-icon"></i>Kỹ năng chuyên môn
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tdngoaingu" class="nav-link">
                                    <i class="fe fe-award nav-icon"></i>Trình độ ngoại ngữ
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a role="button" id="ptnhanthan" class="nav-link">
                                    <i class="fe fe-users nav-icon"></i>Người phụ thuộc
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="tcvaphucap" class="nav-link">
                                    <i class="fe fe-trending-up nav-icon"></i>Trợ cấp & Phụ cấp
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" id="hdvacongviec" class="nav-link">
                                    <i class="fe fe-file-text nav-icon"></i>Hợp đồng & Công việc
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="nav-link" id="DAThamGia">
                                    <i class="fe fe-bookmark nav-icon"></i>Dự án tham gia
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a role="button" class="nav-link" id="LSHoatDong">
                                    <i class="fe fe-clock nav-icon"></i>Lịch sử hoạt động
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" id="bangLuongs" class="nav-link">
                                    <i class="fe fe-dollar-sign nav-icon"></i>Bảng lương
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="LBCongViec">
                                    <i class="fe fe-calendar nav-icon"></i>Tiến độ công việc
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a role="button" class="nav-link" id="BCThongKe">
                                    <i class="fe fe-pie-chart nav-icon"></i>Báo cáo thống kê
                                </a>
                            </li>
                            <hr />
                            @if (Model.Lock == false)
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-danger btn-sm">
                                        KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li style="text-align:center; margin-top:20px">
                                    <a id="khoataikhoan" style="width:100%" class="btn btn-outline-success btn-sm">
                                        MỞ KHÓA TÀI KHOẢN <i class="mdi mdi-lock "></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Thông Tin Người Phụ Thuộc</h3>
                </div>
                <div class="card-body">
                    <form class="row">
                        <input hidden id="dem" name="dem" value="@lstNhanThan.Count" />
                        @foreach (var item in lstNhanThan)
                        {
                            j++;
                            <div id="grhotennhanthan@(j)" class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label">Họ & Tên nhân thân @(j) <span class="text-danger">*</span></label>
                                <input value="@item.Name" id="hotennhanthan@(j)" name="hotennhanthan@(j)" type="text" class="form-control" placeholder="Họ và Tên người phụ thuộc" />
                                <p style="font-size: 13px; color:red;" id="hotennhanthan@(j)validation"></p>
                            </div>
                            <div id="grmoiquanhenhanthan@(j)" class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label"> Mối quan hệ <span class="text-danger">*</span></label>
                                <input value="@item.Relationship" id="moiquanhenhanthan@(j)" name="moiquanhenhanthan@(j)" type="text" class="form-control" placeholder="Mối quan hệ với người phụ thuộc" />
                                <p style="font-size: 13px; color:red;" id="moiquanhenhanthan@(j)validation"></p>
                            </div>
                            <div id="grngaysinhnhanthan@(j)" class="mb-2 col-12 col-md-4">
                                <label style="font-weight:bold;" class="form-label"> Ngày sinh <span class="text-danger">*</span></label>
                                <input value="@item.Birthday.ToString("yyyy-MM-dd")" type="text" class="form-control flatpickr" placeholder="Chọn ngày sinh" id="ngaysinhnhanthan@(j)" name="ngaysinhnhanthan@(j)" />
                                <p style="font-size: 13px; color:red;" id="ngaysinhnhanthan@(j)validation"></p>
                            </div>
                        }

                        <div id="appenddayne" class="col-12"></div>

                        <div style="text-align: center; margin-top: 10px" class="mb-2 col-md-6 col-12">
                            <a role="button" style="width: 100%" id="themnhanthan" class="btn text-primary border-primary btn-xs">
                                <i class="fe fe-plus-circle"> </i> Thêm phụ thuộc nhân thân
                            </a>
                        </div>
                        <div style="text-align: center; margin-top: 10px" class="mb-2 col-md-6 col-12">
                            <a role="button" style="width: 100%;" id="xoabotnhanthan" class="btn text-danger border-danger btn-xs">
                                <i class="fe fe-minus-circle"> </i> Xóa phụ thuộc nhân thân
                            </a>
                        </div>
                        <div style="text-align: right; padding-top: 40px" class="mb-3 col-12 col-md-6">
                            <a role="button" id="reserData" style="width: 230px" class="btn btn-outline-danger">
                                Hủy
                            </a>
                        </div>
                        <div style="padding-top: 40px" class="mb-3 col-12 col-md-6">
                            <a role="button" id="btnLuuThongTin" style="width: 230px" class="btn btn-success">
                                Lưu
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ValidationAlert/Admin/QuanLyNhanSu/ChiTiet_PhuThuocNhanThanValidation.js"></script>
    <script src="~/ValidationAlert/Admin/QuanLyNhanSu/KhoaTaiKhoanValidation.js"></script>
</div>

