@using PagedList;
@using PagedList.Mvc;
@using ITGlobalProject.Models;
@model IPagedList<ITGlobalProject.Models.Employees>
@{
    string coll = "show";
    int j = 0;
    int k = 0;
    ViewBag.Title = "Quản Lý Nhân Viên";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";

    var department = Session["lst-department"] as List<Department>;
    var lstPosition = Session["lst-role"] as List<Position>;
    var lstkynang = Session["lst-kynang"] as List<SkillsCategory>;
    var lsttrocap = Session["lst-trocap"] as List<SubsidiesCategory>;
}

<div class="container-fluid p-4">
    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-1 h2 fw-bold">
                        Quản Lý Nhân Viên
                        <span id="showSLNV" class="fs-5 text-muted">(@Model.TotalItemCount)</span>
                        <input hidden id="soLuongNV" value="@Model.TotalItemCount" />
                    </h1>
                    <!-- Breadcrumb  -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("danhSachNhanVien", "QuanLyNhanSu")">Quản Lý Nhân Sự</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Nhân viên
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="nav btn-group" role="tablist">

                    @if (Convert.ToInt32(ViewBag.typeListNhanSu) == 1)
                    {
                        <button id="tabGridActive" class="btn btn-outline-white  active" data-bs-toggle="tab"
                                data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid"
                                aria-selected="true">
                            <span class="fe fe-grid"></span>
                        </button>
                        <button id="tabListActive" class="btn btn-outline-white " data-bs-toggle="tab"
                                data-bs-target="#tabPaneList" role="tab" aria-controls="tabPaneList"
                                aria-selected="false">
                            <span class="fe fe-list"></span>
                        </button>
                    }
                    else
                    {
                        <button id="tabGridActive" class="btn btn-outline-white " data-bs-toggle="tab"
                                data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid"
                                aria-selected="false">
                            <span class="fe fe-grid"></span>
                        </button>
                        <button id="tabListActive" class="btn btn-outline-white active" data-bs-toggle="tab"
                                data-bs-target="#tabPaneList" role="tab" aria-controls="tabPaneList"
                                aria-selected="true">
                            <span class="fe fe-list"></span>
                        </button>
                    }

                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10px" class="row">
        <div class="mb-3 col-12 col-md-3">
            <a style="width:100%" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fe fe-user-plus"> </i> Thêm Nhân viên</a>
        </div>
        <div class="mb-3 col-12 col-md-9">
            <input id="searchNhanViens" type="search" class="form-control" placeholder="Tìm kiếm với Tên, Email hoặc CMND/CCCD Nhân viên" />
            <input value="1" hidden id="valueTypes" />
            <div id="actionTimKiems" hidden data-request-url="@Url.Action("timKiemNhanVien", "QuanLyNhanSu")"></div>
            <div id="actionDangNhap" hidden data-request-url="@Url.Action("DangNhap", "QuanLyTaiKhoan")"></div>
        </div>
    </div>
    <div id="pagess2" class="row">

        <div class="col-lg-12 col-md-12 col-12">
            <!-- Tab -->
            <div class="tab-content">
                @if (Convert.ToInt32(ViewBag.typeListNhanSu) == 1)
                {
                    <!-- Tab pane -->
                    <div class="tab-pane fade show active" value="1" id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
                        <div class="row">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                                 class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.Avatar"
                                                                 class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                        }
                                                    </a>
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        <h4 class="mb-0" title="Xem trang cá nhân">@item.Name</h4>
                                                    </a>
                                                    <p class="mb-0">@item.Position.Name</p>
                                                </div>
                                                <div class="d-flex justify-content-between border-bottom py-2 mt-4">
                                                    <span>Tổng công việc</span>
                                                    <b>
                                                        <span class="text-success">Coming Soon <i class="mdi mdi-check-all"></i></span>
                                                    </b>
                                                </div>
                                                <div class="d-flex justify-content-between border-bottom py-2">
                                                    <span>Công việc đang làm</span>
                                                    <b>
                                                        <span class="text-danger">
                                                            Coming Soon <i class="mdi mdi-progress-clock"></i>
                                                        </span>
                                                    </b>
                                                </div>
                                                <div class="d-flex justify-content-between pt-2">
                                                    <span>Dự án tham gia</span>
                                                    <b>
                                                        <span class="text-warning">
                                                            Coming Soon <i class="mdi mdi-bookmark"></i>
                                                        </span>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mb-3 col-12 col-md-12 text-center">
                                    <label style="width: 100%" class="text-center">Không tìm thấy dữ liệu tương ứng.</label>
                                </div>
                            }

                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="pt-4">
                                    <!-- Pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            @if (Model.PageNumber == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 1 })" tabindex="-1">
                                                        <i class="mdi mdi-chevron-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="1" />
                                                        <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                            <i class="mdi mdi-chevron-left"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.PageCount; i++)
                                            {
                                                if (Model.PageNumber == i)
                                                {
                                                    <li class="page-item active">
                                                        <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 1 })">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item ">
                                                        @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                        {
                                                            <input hidden name="page" value="@i" />
                                                            <input hidden name="pageSize" value="8" />
                                                            <input hidden name="type" value="1" />
                                                            <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                        }
                                                    </li>
                                                }
                                            }
                                            @if (Model.PageNumber == Model.PageCount)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 1 })">
                                                        <i class="mdi mdi-chevron-right"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="1" />
                                                        <button class="page-link mx-1 rounded" type="submit">
                                                            <i class="mdi mdi-chevron-right"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab pane -->
                    <div class="tab-pane fade" id="tabPaneList" value="2" role="tabpanel" aria-labelledby="tabPaneList">
                        <!-- card -->
                        <div id="panel" class="card">
                            <!-- card header -->
                            <div class="card-header">
                            </div>
                            <!-- table -->
                            <div class="table-responsive">
                                <table class="table mb-0 text-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="border-0">Họ và Tên</th>
                                            <th scope="col" class="border-0">Vai trò</th>
                                            <th scope="col" class="border-0">
                                                Liên hệ
                                            </th>
                                            <th scope="col" class="border-0">
                                                Ngày sinh
                                            </th>
                                            <th scope="col" class="border-0">
                                                Giới tính
                                            </th>
                                            <th scope="col" class="border-0">
                                                Trạng thái
                                            </th>
                                            <th scope="col" class="border-0"></th>
                                            <th scope="col" class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="align-middle border-top-0">
                                                        <div class="d-flex align-items-center">
                                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                                {
                                                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" alt=""
                                                                         class="rounded-circle avatar-md me-2" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="@item.Avatar" alt=""
                                                                         class="rounded-circle avatar-md me-2" />
                                                                }

                                                            </a>
                                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                                <h5 class="mb-0">@item.Name</h5>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Position.Name
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.TelephoneMobile
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Birthday.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Sex
                                                    </td>
                                                    @if (item.Lock == false)
                                                    {
                                                        <td class="align-middle text-success border-top-0">
                                                            Hoạt động <i class="mdi mdi-check-circle"></i>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle text-danger border-top-0">
                                                            Đã ngưng làm <i class="mdi mdi-x-circle"></i>
                                                        </td>
                                                    }
                                                    <td class="align-middle border-top-0">
                                                        <a href="#" class="text-muted" data-bs-toggle="tooltip"
                                                           data-placement="top" title="Gửi mail">
                                                            <i class="fe fe-mail"></i>
                                                        </a>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })" class="text-muted" data-bs-toggle="tooltip"
                                                           data-placement="top" title="Chi tiết">
                                                            <i class="fe fe-info"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9" class="align-middle border-top-0 text-center">Không tìm thấy dữ liệu tương ứng.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- Pagination -->
                                <div class="pb-4 pt-4">
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            @if (Model.PageNumber == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 2 })" tabindex="-1">
                                                        <i class="mdi mdi-chevron-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="2" />
                                                        <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                            <i class="mdi mdi-chevron-left"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.PageCount; i++)
                                            {
                                                if (Model.PageNumber == i)
                                                {
                                                    <li class="page-item active">
                                                        <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 2 })">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item ">
                                                        @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                        {
                                                            <input hidden name="page" value="@i" />
                                                            <input hidden name="pageSize" value="8" />
                                                            <input hidden name="type" value="2" />
                                                            <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                        }
                                                    </li>
                                                }
                                            }
                                            @if (Model.PageNumber == Model.PageCount)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 2 })">
                                                        <i class="mdi mdi-chevron-right"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="2" />
                                                        <button class="page-link mx-1 rounded" type="submit">
                                                            <i class="mdi mdi-chevron-right"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="tabPaneGrid" value="1" role="tabpanel" aria-labelledby="tabPaneGrid">
                        <div class="row">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img src="~/Content/Admin/assets/images/avatar/default-avatar.png"
                                                                 class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.Avatar"
                                                                 class="rounded-circle avatar-xl mb-3" title="Xem trang cá nhân" />
                                                        }
                                                    </a>
                                                    <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                        <h4 class="mb-0" title="Xem trang cá nhân">@item.Name</h4>
                                                    </a>
                                                    <p class="mb-0">@item.Position.Name</p>
                                                </div>
                                                <div class="d-flex justify-content-between border-bottom py-2 mt-4">
                                                    <span>Tổng công việc</span>
                                                    <b>
                                                        <span class="text-success">Coming Soon <i class="mdi mdi-check-all"></i></span>
                                                    </b>
                                                </div>
                                                <div class="d-flex justify-content-between border-bottom py-2">
                                                    <span>Công việc đang làm</span>
                                                    <b>
                                                        <span class="text-danger">
                                                            Coming Soon <i class="mdi mdi-progress-clock"></i>
                                                        </span>
                                                    </b>
                                                </div>
                                                <div class="d-flex justify-content-between pt-2">
                                                    <span>Dự án tham gia</span>
                                                    <b>
                                                        <span class="text-warning">
                                                            Coming Soon <i class="mdi mdi-bookmark"></i>
                                                        </span>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mb-3 col-12 col-md-12 text-center">
                                    <label style="width: 100%" class="text-center">Không tìm thấy dữ liệu tương ứng.</label>
                                </div>
                            }
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="pt-4">
                                    <!-- Pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            @if (Model.PageNumber == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 1 })" tabindex="-1">
                                                        <i class="mdi mdi-chevron-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="1" />
                                                        <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                            <i class="mdi mdi-chevron-left"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.PageCount; i++)
                                            {
                                                if (Model.PageNumber == i)
                                                {
                                                    <li class="page-item active">
                                                        <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 1 })">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item ">
                                                        @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                        {
                                                            <input hidden name="page" value="@i" />
                                                            <input hidden name="pageSize" value="8" />
                                                            <input hidden name="type" value="1" />
                                                            <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                        }
                                                    </li>
                                                }
                                            }
                                            @if (Model.PageNumber == Model.PageCount)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 1 })">
                                                        <i class="mdi mdi-chevron-right"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="1" />
                                                        <button class="page-link mx-1 rounded" type="submit">
                                                            <i class="mdi mdi-chevron-right"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- tab pane -->
                    <div class="tab-pane fade show active" value="2" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                        <!-- card -->
                        <div class="card">
                            <!-- card header -->
                            <div class="card-header">
                            </div>
                            <!-- table -->
                            <div class="table-responsive">
                                <table class="table mb-0 text-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="border-0">Họ và Tên</th>
                                            <th scope="col" class="border-0">Vai trò</th>
                                            <th scope="col" class="border-0">
                                                Liên hệ
                                            </th>
                                            <th scope="col" class="border-0">
                                                Ngày sinh
                                            </th>
                                            <th scope="col" class="border-0">
                                                Giới tính
                                            </th>
                                            <th scope="col" class="border-0">
                                                Trạng thái
                                            </th>
                                            <th scope="col" class="border-0"></th>
                                            <th scope="col" class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="align-middle border-top-0">
                                                        <div class="d-flex align-items-center">
                                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                                {
                                                                    <img src="~/Content/Admin/assets/images/avatar/default-avatar.png" alt=""
                                                                         class="rounded-circle avatar-md me-2" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="@item.Avatar" alt=""
                                                                         class="rounded-circle avatar-md me-2" />
                                                                }

                                                            </a>
                                                            <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })">
                                                                <h5 class="mb-0">@item.Name</h5>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Position.Name
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.TelephoneMobile
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Birthday.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        @item.Sex
                                                    </td>
                                                    @if (item.Lock == false)
                                                    {
                                                        <td class="align-middle text-success border-top-0">
                                                            Hoạt động <i class="mdi mdi-check-circle"></i>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="align-middle text-danger border-top-0">
                                                            Đã ngưng làm <i class="mdi mdi-x-circle"></i>
                                                        </td>
                                                    }
                                                    <td class="align-middle border-top-0">
                                                        <a href="#" class="text-muted" data-bs-toggle="tooltip"
                                                           data-placement="top" title="Gửi mail">
                                                            <i class="fe fe-mail"></i>
                                                        </a>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        <a href="@Url.Action("thongTinChiTiet", "QuanLyNhanSu", new { id = item.ID })" class="text-muted" data-bs-toggle="tooltip"
                                                           data-placement="top" title="Chi tiết">
                                                            <i class="fe fe-info"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9" class="align-middle border-top-0 text-center">Không tìm thấy dữ liệu tương ứng.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- Pagination -->
                                <div class="pb-4 pt-4">
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            @if (Model.PageNumber == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber - 1), pageSize = 8, type = 2 })" tabindex="-1">
                                                        <i class="mdi mdi-chevron-left"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber - 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="2" />
                                                        <button class="page-link mx-1 rounded" type="submit" tabindex="-1" aria-disabled="true">
                                                            <i class="mdi mdi-chevron-left"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }

                                            @for (int i = 1; i <= Model.PageCount; i++)
                                            {
                                                if (Model.PageNumber == i)
                                                {
                                                    <li class="page-item active">
                                                        <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = i, pageSize = 8, type = 2 })">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item ">
                                                        @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                        {
                                                            <input hidden name="page" value="@i" />
                                                            <input hidden name="pageSize" value="8" />
                                                            <input hidden name="type" value="2" />
                                                            <button class="page-link mx-1 rounded" type="submit">@i</button>
                                                        }
                                                    </li>
                                                }
                                            }
                                            @if (Model.PageNumber == Model.PageCount)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1 rounded" href="@Url.Action("danhSachNhanVien", new { page = (Model.PageNumber + 1), pageSize = 8, type = 2 })">
                                                        <i class="mdi mdi-chevron-right"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @using (Ajax.BeginForm("danhSachNhanVienGridPartial", "QuanLyNhanSu", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "pagess2", InsertionMode = InsertionMode.Replace }))
                                                    {
                                                        <input hidden name="page" value="@(Model.PageNumber + 1)" />
                                                        <input hidden name="pageSize" value="8" />
                                                        <input hidden name="type" value="2" />
                                                        <button class="page-link mx-1 rounded" type="submit">
                                                            <i class="mdi mdi-chevron-right"></i>
                                                        </button>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="width: 84%; height:100%" data-simplebar>
    <div id="actionSubmit" hidden data-request-url="@Url.Action("themNhanVien", "QuanLyNhanSu")"></div>

    <div class="offcanvas-body" data-simplebar>
        <div class="offcanvas-header px-2 pt-0">
            <div style="height:30px" class="row">
                <h4 class="offcanvas-title" id="offcanvasExampleLabel"><i class="fe fe-user-plus"> </i> Thêm Nhân Viên Mới</h4>
                <br />
                <p>Nhập vào đầy đủ các thông tin bắt buộc của nhân viên mới.</p>
            </div>
            <button id="tatcanvas" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="my-4" />
        <form class="accordion accordion-flush" id="accordionExample">
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="headingOne">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="me-auto">
                            &emsp; Thông Tin Cá Nhân&ensp;<i id="hoantatttcanhan" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">

                <div id="collapseOne" class=" collapse show row" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>
                    <div class="mb-2 col-12 col-md-12">
                        <label style="font-weight:bold;" class="form-label" for="fname">Họ và Tên <span class="text-danger">*</span></label>
                        <input type="text" id="hoten" name="hoten" class="form-control" placeholder="Nguyễn Văn A" />
                        <p style="font-size: 13px; color:red;" id="hotenvalidation"></p>
                    </div>
                    <div class="py-2"></div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="fname">Số CMND/CCCD <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="cmnd" name="cmnd" data-inputmask="'mask': '9999 9999 9999'" inputmode="numeric"
                               placeholder="Nhập số chứng minh hoặc căn cước" required>
                        <p style="font-size: 13px; color:red;" id="cmndvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="quoctich">Quốc tịch <span class="text-danger">*</span></label>
                        <input type="text" id="quoctich" name="quoctich" class="form-control" placeholder="Việt Nam" />
                        <p style="font-size: 13px; color:red;" id="quoctichvalidation"></p>
                    </div>

                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" l class="form-label" for="birth"> Ngày sinh <span class="text-danger">*</span></label>
                        <input type="text" class="form-control flatpickr" placeholder="Chọn ngày sinh" id="ngaysinh" name="ngaysinh" />
                        <p style="font-size: 13px; color:red;" id="ngaysinhvalidation"></p>
                    </div>

                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="sodienthoaididong">Số điện thoại di động <span class="text-danger">*</span></label>
                        <input type="tel" id="sodienthoaididong" name="sodienthoaididong" class="form-control" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" placeholder="Nhập số điện thoại di động" />
                        <p style="font-size: 13px; color:red;" id="sodienthoaididongvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="sodienthoaikhac">Số điện thoại nhà</label>
                        <input type="tel" id="sodienthoaikhac" name="sodienthoaikhac" class="form-control" data-inputmask="'mask': '9999 999 999'" inputmode="numeric" placeholder="Nhập số điện thoại nhà" />
                        <p style="font-size: 13px; color:red;" id="sodienthoaikhacvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label">Giới tính <span class="text-danger">*</span></label>
                        <select name="gioitinh" id="gioitinh" class="selectpicker" data-width="100%">
                            <option value="">Chọn giới tính</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <p style="font-size: 13px; color:red;" id="gioitinhvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="diachiemailcongty">Email Công Ty <span class="text-danger">*</span></label>
                        <input type="text" id="diachiemailcongty" name="diachiemailcongty" class="form-control" data-inputmask="'alias': 'email'" inputmode="numeric" placeholder="example@itglobal.net" />
                        <p style="font-size: 13px; color:red;" id="diachiemailcongtyvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="diachiemailkhac">Email Khác</label>
                        <input type="text" id="diachiemailkhac" name="diachiemailkhac" class="form-control" data-inputmask="'alias': 'email'" inputmode="numeric" placeholder="example@itglobal.net" />
                        <p style="font-size: 13px; color:red;" id="diachiemailkhacvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="honnhan">Tình trạng hôn nhân <span class="text-danger">*</span></label>
                        <select data-width="100%" class="selectpicker" id="honnhan" name="honnhan">
                            <option value="">Chọn tình trạng hôn nhân</option>
                            <option value="Độc thân">Độc thân</option>
                            <option value="Đã kết hôn">Đã kết hôn</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <p style="font-size: 13px; color:red;" id="honnhanvalidation"></p>
                    </div>

                    <div class="mb-2 col-12 col-md-12">
                        <label style="font-weight:bold;" class="form-label" for="address">Địa chỉ nhà</label>
                        <textarea rows="4" id="diachinha" name="diachinha" class="form-control" placeholder="Số này/kia đường gì đó, Phường mấy, Quận gì, Thành Phố bla bla"></textarea>
                        <p style="font-size: 13px; color:red;" id="diachinhavalidation"></p>
                    </div>
                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading2">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        <span class="me-auto">
                            &emsp;Tiền Lương & Thanh Toán&ensp;<i id="hoantatttlienhe" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse2" class=" collapse row" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>

                    <div class="mb-2 col-12 col-md-6">
                        <label style="font-weight:bold;" class="form-label" for="phone">Mức lương <span class="text-danger">*</span></label>
                        <input data-inputmask="'alias': 'decimal', 'groupSeparator': ','" inputmode="numeric" style="font-weight:bold; color:brown" type="text" id="mucluong" name="mucluong" class="form-control  text-start" placeholder="Nhập mức lương đã thỏa thuận" />
                        <p style="font-size: 13px; color:red;" id="mucluongvalidation"></p>

                    </div>
                    <div class="mb-2 col-12 col-md-6">
                        <label style="font-weight:bold;" for="dsNganHang" class="form-label">Ngân hàng</label>
                        <input list="dsNganHang" id="tenNganHang" class="form-control" placeholder="Tên ngân hàng" />
                        <p style="font-size: 13px; color:red;" id="tennganhangvalidation"></p>
                        <datalist name="dsNganHang" id="dsNganHang">
                            <option value="TPBank"></option>
                            <option value="SacomBank"></option>
                            <option value="VietinBank"></option>
                        </datalist>
                        <p style="font-size: 13px; color:red;" id="tennganhangvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-6 py-2">
                        <label style="font-weight:bold;" class="form-label">Số tài khoản</label>
                        <input id="sotaikhoan" name="sotaikhoan" type="text" class="form-control" placeholder="Số tài khoản ngân hàng" />
                        <p style="font-size: 13px; color:red;" id="sotaikhoanvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-6 py-2">
                        <label style="font-weight:bold;" class="form-label">Chủ tài khoản</label>
                        <input id="chutaikhoan" name="chutaikhoan" type="text" class="form-control" placeholder="Tên người sở hữu tài khoản ngân hàng" />
                        <p style="font-size: 13px; color:red;" id="chutaikhoanvalidation"></p>
                    </div>
                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading5">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        <span class="me-auto">
                            &emsp;Kỹ Năng Chuyên Môn&ensp;<i id="hoantatttkynangchuyenmon" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>

                    <div class="accordion border" id="accordionExampleChild">
                        @foreach (var item in lstkynang)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading@(item.ID)">
                                    <button style="font-weight: bold" class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapses@(item.ID)" aria-expanded="true" aria-controls="collapses@(item.ID)">
                                        @item.Name
                                    </button>
                                </h2>
                                <div id="collapses@(item.ID)" class="accordion-collapse collapse @coll"
                                     aria-labelledby="heading@(item.ID)" data-bs-parent="#accordionExampleChild">
                                    <div class="accordion-body row">
                                        @if (item.Skills.Count > 0)
                                        {
                                            foreach (var items in item.Skills)
                                            {
                                                j++;
                                                <div class="form-check mb-2 col-12 col-md-4">
                                                    <input class="form-check-input" type="checkbox" name="checkkynang@(j)" id="@(items.ID)">
                                                    <label class="form-check-label" for="@items.ID">
                                                        @items.Name
                                                    </label>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="mb-2 col-12 col-md-12 text-center">
                                                Không có dữ liệu để hiển thị.
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            coll = "";
                        }
                    </div>
                    <input hidden value="@j" id="slkn" />
                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading6">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        <span class="me-auto">
                            &emsp;Trình Độ Ngoại Ngữ&ensp;<i id="hoantattdngoaingu" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse6" class=" collapse row" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>
                    <input hidden id="ngoaingubandau" name="ngoaingubandau" value="0" />
                    <input hidden id="demngoaingu" name="demngoaingu" value="0" />
                    <div id="appendngoaingudayne" class="col-12"></div>
                    <div style="text-align:center; margin-bottom: 10px; margin-top: 10px" class="mb-2 col-md-6 col-12">
                        <a role="button" style="width: 100%" id="themngoaingu" class="btn text-primary border-primary btn-xs">
                            <i class="fe fe-plus-circle"> </i> Thêm trình độ ngoại ngữ
                        </a>
                    </div>
                    <div style="text-align: center; margin-bottom: 10px; margin-top: 10px" class="mb-2 col-md-6 col-12">
                        <a role="button" style="width: 100%;" id="xoabotngoaingu" class="btn text-danger border-danger btn-xs">
                            <i class="fe fe-minus-circle"> </i> Xóa trình độ ngoại ngữ
                        </a>
                    </div>

                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading4">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <span class="me-auto">
                            &emsp;Người Phụ Thuộc&ensp;<i id="hoantatnguoiphuthuoc" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse4" class=" collapse row" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>
                    <input hidden id="nhanthanbandau" name="nhanthanbandau" value="0" />
                    <input hidden id="dem" name="dem" value="0" />

                    <div id="appenddayne" class="col-12"></div>

                    <div style="text-align: center; margin-bottom: 10px" class="mb-2 col-md-6 col-12">
                        <a role="button" style="width: 100%" id="themnhanthan" class="btn text-primary border-primary btn-xs">
                            <i class="fe fe-plus-circle"> </i> Thêm người phụ thuộc
                        </a>
                    </div>
                    <div style="text-align: center; margin-bottom: 10px;" class="mb-2 col-md-6 col-12">
                        <a role="button" style="width: 100%;" id="xoabotnhanthan" class="btn text-danger border-danger btn-xs">
                            <i class="fe fe-minus-circle"> </i> Xóa người phụ thuộc
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading7">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                        <span class="me-auto">
                            &emsp;Trợ Cấp & Phụ Cấp&ensp;<i id="hoantattttrocapphucap" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse7" class=" collapse row" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>

                    @foreach (var item in lsttrocap)
                    {
                        k++;
                        <div class="form-check mb-2 col-12 col-md-4">
                            <input class="form-check-input" type="checkbox" name="checktrocap@(k)" id="pc@(item.ID)">
                            @if (item.Percentage != null && item.OnBasicSalary != null)
                            {
                                if (item.OnBasicSalary == true)
                                {
                                    if (item.DateApply == 0)
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương CB)</b> - Hàng tháng
                                        </label>
                                    }
                                    else if (item.DateApply == -1)
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương CB)</b> - Sinh nhật
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương CB)</b> - Mỗi tháng @item.DateApply
                                        </label>
                                    }
                                }
                                else
                                {
                                    if (item.DateApply == 0)
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương TL)</b> - Hàng tháng
                                        </label>
                                    }
                                    else if (item.DateApply == -1)
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương TL)</b> - Tháng sinh
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="form-check-label" for="pc@(item.ID)">
                                            @item.Name: <b class="text-danger">@Convert.ToDecimal(item.Percentage).ToString("0.0")% (Lương TL)</b> - Mỗi tháng @item.DateApply
                                        </label>
                                    }
                                }

                            }
                            else
                            {
                                if (item.DateApply == 0)
                                {
                                    <label class="form-check-label" for="pc@(item.ID)">
                                        @item.Name: <b class="text-danger">@item.Price.ToString("0,0").Replace(".", ",") đ</b> - Hàng tháng
                                    </label>
                                }
                                else if (item.DateApply == -1)
                                {
                                    <label class="form-check-label" for="pc@(item.ID)">
                                        @item.Name: <b class="text-danger">@item.Price.ToString("0,0").Replace(".", ",") đ</b> - Tháng sinh
                                    </label>
                                }
                                else
                                {
                                    <label class="form-check-label" for="pc@(item.ID)">
                                        @item.Name: <b class="text-danger">@item.Price.ToString("0,0").Replace(".", ",") đ</b> - Mỗi tháng @item.DateApply
                                    </label>

                                }
                            }

                        </div>
                    }
                    <input hidden value="@k" id="sltc" />
                </div>
            </div>
            <br />
            <div class="border-bottom py-3 bg-light-primary border-1" style="border-radius: 5px;" id="heading3">
                <h4 class="mb-0 fw-bold">
                    <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        <span class="me-auto">
                            &emsp;Hợp Đồng & Tài Khoản&ensp;<i id="hoantattthopdong" class="fe fe-check-circle font-weight-bold text-success"></i>
                        </span>
                        <span class="collapse-toggle ms-4">
                            &emsp;<i class="fe fe-plus text-primary"></i>&emsp;
                        </span>
                    </a>
                </h4>
            </div>
            <div class="container">
                <div id="collapse3" class=" collapse row" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                    <div class="py-3"></div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="phone">Cấp tài khoản</label>
                        <div class="form-check form-switch form-control">
                            <label style="margin-top: 1px; margin-left: -10px" class="form-check-label" for="cungCapTaiKhoan">Cung cấp tài khoản sử dụng hệ thống</label>
                            &emsp;&emsp;&ensp;&ensp;&ensp;<input style="margin-right: -20px" class="form-check-input" type="checkbox" role="switch" id="cungCapTaiKhoan">
                        </div>
                        <p style="font-size: 13px; color:red;" id="captaikhoanvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="phone">Mật khẩu <span id="lbNhapMatKhau" hidden="hidden" class="text-danger">*</span></label>
                        <input disabled="disabled" type="password" id="matkhaudangnhap" name="matkhaudangnhap" class="form-control" placeholder="Nhập mật khẩu đăng nhập của tài khoản" />
                        <p style="font-size: 13px; color:red;" id="matkhaudangnhapvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="phone">Nhập lại mật khẩu <span id="lbNhapLaiMatKhau" hidden="hidden" class="text-danger">*</span></label>
                        <input disabled="disabled" type="password" id="nhaplaimatkhaudangnhap" name="nhaplaimatkhaudangnhap" class="form-control" placeholder="Nhập lại mật khẩu đăng nhập của tài khoản" />
                        <p style="font-size: 13px; color:red;" id="nhaplaimatkhaudangnhapvalidation"></p>
                    </div>
                    <hr class="my-1" />
                    <div class="py-2"></div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="ngayvaolam">Ngày vào làm <span class="text-danger">*</span></label>
                        <input type="text" class="form-control flatpickr" placeholder="Chọn ngày vào làm" id="ngayvaolam" name="ngayvaolam" />
                        <p style="font-size: 13px; color:red;" id="ngayvaolamvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label">Bộ phận <span class="text-danger">*</span></label>
                        <select id="bophan" name="bophan" class="selectpicker" data-width="100%">
                            <option value="">Chọn bộ phận</option>
                            @foreach (var item in department)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                        <p style="font-size: 13px; color:red;" id="bophanvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label">Chức danh <span class="text-danger">*</span></label>
                        <select disabled="disabled" id="vaitro" name="vaitro" class="form-select" data-width="100%">
                            <option value="">Chọn chức danh</option>
                        </select>
                        <p style="font-size: 13px; color:red;" id="vaitrovalidation"></p>
                    </div>

                    <div id="chonLoaiHopDong" class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="loaiHopDong">Loại hợp đồng</label>
                        <select id="loaiHopDong" name="loaiHopDong" class="selectpicker" data-width="100%">
                            <option value="">Chọn loại hợp đồng</option>
                            <option value="Hợp đồng có thời hạn">Hợp đồng có thời hạn</option>
                            <option value="Hợp đồng vô thời hạn">Hợp đồng vô thời hạn</option>
                        </select>
                        <p style="font-size: 13px; color:red;" id="loaihopdongvalidation"></p>

                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="ngayvaolam">Ngày bắt đầu hợp đồng</label>
                        <input type="text" class="form-control flatpickr" placeholder="Chọn ngày bắt đầu hợp đồng" id="ngaykyhopdong" name="ngaykyhopdong" />
                        <p style="font-size: 13px; color:red;" id="ngaykyhopdongvalidation"></p>
                    </div>
                    <div id="ketthucHopDong" hidden="hidden" class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label" for="ngayvaolam">Ngày gia hạn / kết thúc hợp đồng</label>
                        <input type="text" class="form-control flatpickr" placeholder="Chọn ngày gia hạn hợp đồng" id="ngaygiahanhopdong" name="ngaygiahanhopdong" />
                        <p style="font-size: 13px; color:red;" id="ngaygiahanhopdongvalidation"></p>
                    </div>
                    <div class="mb-2 col-12 col-md-4">
                        <label style="font-weight:bold;" class="form-label">Hình thức làm việc <span class="text-danger">*</span></label>
                        <select id="hinhthuc" name="hinhthuc" class="selectpicker" data-width="100%">
                            <option value="">Chọn hình thức làm việc</option>
                            <option value="Thử việc">Thử việc</option>
                            <option value="Thực tập sinh">Thực tập sinh</option>
                            <option value="Nhân viên chính thức">Nhân viên chính thức</option>
                        </select>
                        <p style="font-size: 13px; color:red;" id="hinhthucvalidation"></p>
                    </div>
                    <div id="taiAnhHopDong" class="mb-2 col-12 col-md-12">
                        <label style="font-weight:bold;" class="form-label" for="ngayvaolam">Tải lên hợp đồng</label>
                        <a role="button" id="chonanhhopdong" class="btn btn-outline-primary" style="width:100%">
                            <i class="fe fe-upload me-1"></i>
                            Tải Lên Hình Ảnh
                        </a>
                    </div>
                    <div class="py-3"></div>
                    <div style="margin-left: 13px ;width: 98%" class="form-control bg-gray-200 mb-4 col-12 col-md-12 text-center ">
                        <input hidden id="selectFiles" type="file" name="file" accept="image/*" onchange="ShowImageUpload(this, document.getElementById('previewImage'))" />
                        <div class="py-3"></div>
                        <figure class="gallery__item gallery__item--1 mb-0">
                            <img style="max-width: 700px;" src="~/Content/Admin/assets/images/png/hopdong-default.png" alt="Gallery image 1" class="gallery__img rounded-3" id="previewImage">
                        </figure>
                        <p style="font-size: 13px; color:red;" id="selectFilesvalidation"></p>
                        <div class="py-3"></div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <div class="row">
                <div style="text-align: right; padding-top: 20px" class="mb-3 col-12 col-md-6">
                    <button hidden id="resetDuLieu" type="reset"></button>
                    <button type="reset" id="reserData" style="width: 230px" class="btn btn-outline-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                        Hủy
                    </button>
                </div>
                <div style="padding-top: 20px" class="mb-3 col-12 col-md-6">
                    <a role="button" id="btnThemMoi" style="width: 230px" class="btn btn-success">
                        Lưu
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#hotenvalidation').hide();
    $('#cmndvalidation').hide();
    $('#sodienthoaivalidation').hide();
    $('#ngaysinhvalidation').hide();
    $('#gioitinhvalidation').hide();
    $('#vaitrovalidation').hide();
    $('#diachiemailvalidation').hide();
    $('#matkhaudangnhapvalidation').hide();

    $('[id^="Headingskillitem"]').on('click', function () {
        $("#collapse5").show();
    });


</script>
<script src="~/ValidationAlert/Admin/QuanLyNhanSu/ThemNhanVienValidation.js"></script>
<script src="~/ValidationAlert/Admin/QuanLyNhanSu/TimKiemNhanVien.js"></script>
<script src="~/Content/Admin/assets/js/reviewImage.js"></script>