@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ITGlobalProject.Models.Recruitment>
@{ Layout = null;}

@foreach (var item in Model)
{
    <div style="background-color: #dee2e6 !important; border-radius: 15px " class="job-item p-4 mb-4">
        <div class="row g-4">
            <div class="col-sm-12 col-md-8">
                <div class="row text-start ps-4">
                    <div class="col-md-12">
                        <h5 style="text-align: left; font-weight: bold; color: navy" class="mb-3"><a href="@Url.Action("thongtintuyendung", "tintuyendung", new { id = item.ID })">@item.Title</a></h5>
                    </div>
                    <div class="col-md-4">
                        <p style="text-align: left; font-style:italic; margin-bottom: -1px;" class="me-0"><u>Hình thức:</u></p>
                        <p style="text-align:left" class="me-3"><i class="far fa-clock text-primary me-2"></i> @item.Form</p>
                    </div>
                    <div class="col-md-5">
                        <p style="text-align: left; font-style: italic; margin-bottom: -1px;" class="me-0"><u>Vị trí:</u></p>
                        <p style="text-align:left" class="me-0"><i class="far fa-user text-primary me-2"></i> @item.Position.Name</p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: left; font-style: italic; margin-bottom: -1px; " class="me-0"><u>Hạn nộp CV:</u></p>
                        <p style="text-align:left" class="me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> @item.CVSubmissionDeadline.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <div class="d-flex mb-0">
                    <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="@Url.Action("thongtintuyendung", "tintuyendung", new { id = item.ID })">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                </div>
            </div>
        </div>
    </div>
}
<div id="appendMoreItemt">
    @if (Convert.ToBoolean(Session["fullPage-Sate"]) == false)
    {
        <a role="button" id="xemthems" class="dtr-btn btn-red dtr-btn-right-icon dtr-ml-30" style="width: 250px; color: white">Xem thêm</a>
    }
    else
    {
        <p>Đã hiển thị tất cả.</p>
    }
</div>

<script>

    $('#xemthems').on('click', function () {
        $.ajax({
            url: $('#requestPath').val() + 'tintuyendung/xemThemTinTuyenDung',
            type: 'POST',
            dataType: 'html'
        }).done(function (ketqua) {
            $('#appendMoreItemt').replaceWith(ketqua);
        });
    })
</script>