@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ITGlobalProject.Models.Recruitment>
@{
    ViewBag.Title = "Tin Tuyển Dụng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Scripts/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/animate.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Template Stylesheet -->
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>


<section id="about" class="dtr-section dtr-pt-100 dtr-pb-150" style="margin-top: 80px; margin-bottom: -150px">
    <!-- blue overlay -->
    <div class="container color-dark">

        <!-- row starts -->
        <div class="row">
            <!-- column 1 starts -->
            <div class="col-12 col-md-12 col-lg-12">
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                            <div class="container-fluid mb-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px; background-color: #191c2f">
                                <div class="container">
                                    <div class="row g-2">
                                        <div class="col-md-10">
                                            <div class="row g-2">
                                                <div class="col-12 col-md-12 text-left">
                                                    <input id="timkiemtintuyendungs" style="height:55px" type="text" class="form-control border-0" placeholder="Tìm kiếm tin tuyển dụng" />
                                                    <p id="timKiemValidation" style="color:lightcoral"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <button id="submittimkiemtintuyendungs" style="height:55px;width:300px" class="btn btn-dark border-0 w-100">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="AppendContent">
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <div style="background-color: #dee2e6 !important; border-radius: 15px " class="job-item p-4 mb-4">
                                                <div class="row g-4">
                                                    <div class="col-sm-12 col-md-8">
                                                        <div class="row text-start ps-4">
                                                            <div class="col-md-12">
                                                                <h5 style="text-align: left; font-weight: bold; color: navy" class="mb-3"><a href="@Url.Action("thongtintuyendung", "tintuyendung", new { id = item.ID })">@item.Title</a></h5>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <p style="text-align: left; font-style:italic; margin-bottom: -1px;" class="me-0"><u>Hình thức:</u></p>
                                                                <p style="text-align:left" class="me-3"><i class="far fa-clock text-primary me-2"></i> @item.Form</p>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <p style="text-align: left; font-style: italic; margin-bottom: -1px;" class="me-0"><u>Vị trí:</u></p>
                                                                <p style="text-align:left" class="me-0"><i class="far fa-user text-primary me-2"></i> @item.Position.Name</p>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <p style="text-align: left; font-style: italic; margin-bottom: -1px; " class="me-0"><u>Hạn nộp CV:</u></p>
                                                                <p style="text-align:left" class="me-0"><i class="fa fa-hourglass-half text-primary me-2"></i> @item.CVSubmissionDeadline.ToString("dd/MM/yyyy")</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                        <div class="d-flex mb-0">
                                                            <a role="button" style="height: 40px; margin-right: 20px" class="btn btn-dark border-0 w-100" href="@Url.Action("thongtintuyendung", "tintuyendung", new { id = item.ID })">&emsp;&emsp; Xem Tin &emsp;&emsp;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div id="appendMoreItemt">
                                            @if (Convert.ToBoolean(Session["fullPage-Sate"]) == false)
                                            {
                                                <a role="button" id="xemthems" class="dtr-btn btn-red dtr-btn-right-icon dtr-ml-30" style="width: 250px; color: white">Xem thêm</a>
                                            }
                                            else
                                            {
                                                <p>Đã hiển thị tất cả.</p>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12 col-12 mb-4 text-center">
                                                <p>Không có dữ liệu để hiển thị.</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#submittimkiemtintuyendungs').on('click', function () {
            if ($('#timkiemtintuyendungs').val().trim().length < 1) {
                $('#timkiemtintuyendungs').focus();
                $('#timKiemValidation').text("Hãy nhập nội dung tìm kiếm!").show();
            } else {
                var formData = new FormData();
                formData.append('noidung', $('#timkiemtintuyendungs').val());
                $.ajax({
                    url: $('#requestPath').val() + 'tintuyendung/timkiemtintuyendung',
                    type: 'POST',
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    data: formData
                }).done(function (ketqua) {
                    $('#AppendContent').replaceWith(ketqua);
                });
            }
        });

        $('#timkiemtintuyendungs').on('input', function () {
            $('#timKiemValidation').text("");
        })

        $('#xemthems').on('click', function () {
            $.ajax({
                url: $('#requestPath').val() + 'tintuyendung/xemThemTinTuyenDung',
                type: 'GET',
                dataType: 'html'
            }).done(function (ketqua) {
                $('#appendMoreItemt').replaceWith(ketqua);
            });
        })
    });
</script>
