@model ITGlobalProject.Models.Recruitment
@{
    ViewBag.Title = "Tin Tuyển Dụng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Scripts/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/animate.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Template Stylesheet -->
    <link href="~/Scripts/style.css" rel="stylesheet" />
</head>

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div style="padding-top:150px" class="container">
        <div class="row gy-5 gx-4">
            <div class="col-md-7 col-12">
                <h4 class="mb-3">@Model.Title</h4>
                <hr />
                <div class="mb-5">
                    <h5 class="mb-3">Mô tả công việc</h5>
                    <ul class="list-unstyled">
                        @foreach (var item in Model.JobDescription.Split('\n').ToList())
                        {
                            <li>
                                @item
                            </li>
                        }
                    </ul>
                    <h5 class="mb-3">Yêu cầu ứng viên</h5>
                    <ul class="list-unstyled">
                        @foreach (var item in Model.CandidateRequirement.Split('\n').ToList())
                        {
                            <li>
                                @item
                            </li>
                        }
                    </ul>
                    <h5 class="mb-3">Quyền lợi của ứng viên</h5>
                    <ul class="list-unstyled">
                        @foreach (var item in Model.CandidateBenefits.Split('\n').ToList())
                        {
                            <li>
                                @item
                            </li>
                        }
                    </ul>
                </div>

                <div class="">
                    <h5 class="mb-4">Ứng tuyển cho công việc này</h5>
                    <span>
                        Gửi hồ sơ ứng viên đến:
                    </span>
                    <span style="font-weight:bold">
                        info@it-global.net
                    </span>
                </div>
            </div>

            <div class="col-md-5 col-12">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h5 class="mb-4">Thông tin chung</h5>
                    <p>
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Hình thức làm việc:</u> @Model.Form.
                    </p>
                    <p>
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Vị trí:</u> @Model.Position.Name.
                    </p>
                    <p>
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Hạn nộp CV:</u> @Model.CVSubmissionDeadline.ToString("dd/MM/yyyy").
                    </p>
                    <hr />
                    @if (Model.MinimumWage == 0 && Model.MaximumWage == 0)
                    {
                        <p>
                            <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Mức lương:</u> Thõa thuận.
                        </p>
                    }
                    else if (Model.MinimumWage == Model.MaximumWage)
                    {
                        <p>
                            <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Mức lương:</u> @Model.MaximumWage.ToString("0,0").Replace(".", ",") VNĐ.
                        </p>
                    }
                    else
                    {
                        <p>
                            <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Mức lương:</u> @Model.MinimumWage.ToString("0,0").Replace(".", ",") - @Model.MaximumWage.ToString("0,0").Replace(".", ",") VNĐ.
                        </p>
                    }
                    <p>
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Số lượng tuyển:</u> @Model.Amount người.
                    </p>
                    <p>
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Giới tính:</u> @Model.Sex.
                    </p>
                    <p class="m-0">
                        <u style="font-weight:bold"><i class="fa fa-angle-right text-primary me-2"></i> Kinh nghiệm:</u> @Model.Experience.
                    </p>
                    <hr />
                    <h5 class="mb-4">Yêu cầu kỹ năng</h5>
                    @foreach (var item in Model.SkillOfRecruitment.ToList())
                    {
                        <p>
                            <i class="fa fa-angle-right text-primary me-2"></i> @item.Skills.Name.
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/easing.min.js"></script>
<script src="~/Scripts/waypoints.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="~/Scripts/main.js"></script>

