@model IEnumerable<ITGlobalProject.Models.Skills>
@using ITGlobalProject.Models
@{
    var lstDMKyNang = Session["danhSachKyNang-lstSkillCategory"] as List<SkillsCategory>;
    ViewBag.Title = "Danh Sách Kỹ Năng";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="container-fluid p-4">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Kỹ Năng </h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Overview", "Dashboard")">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("danhsachvaitro", "quanlyvaitro")">Quản Lý Kỹ năng</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Danh Sách Kỹ Năng
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="#" class="btn btn-primary me-2" style="width:250px" data-bs-toggle="modal" data-bs-target="#themVaiTroModal">
                        <i class="fe fe-award"> </i> Thêm Kỹ Năng
                    </a>

                </div>
            </div>

        </div>
    </div>
    <!-- row -->
    <div id="danhSachPartial" class="row">
        <!-- col -->
        <div class="col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card">
                <!-- table -->
                <table id="dataTableBasic" class="table table-hover"  style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class=" border-top-0">#</th>
                            <th scope="col" class=" border-top-0">Tên kỹ năng</th>
                            <th scope="col" class=" border-top-0">Danh mục</th>
                            <th scope="col" class=" border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                i++;
                                <input hidden value="@item.ID" id="ids@(item.ID)" />
                                <input hidden value="@item.Name" id="names@(item.ID)" />
                                <input hidden value="@item.ID_SkillsCategory" id="categorys@(item.ID)" />
                                <tr>
                                    <td class="align-middle">
                                        @i
                                    <td class="align-middle ">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h4 class="mb-0"><a href="#" class="text-inherit">@item.Name</a></h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle h4">
                                        @item.SkillsCategory.Name
                                    </td>
                                    <td class="text-muted align-middle text-end">
                                        <div class="dropdown dropstart">
                                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1"
                                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="Dropdown1">
                                                <span class="dropdown-header">Hành động</span>
                                                <a role="button" name="@item.ID" id="chinhsua@(item.ID)" class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                                    <i class="fe fe-edit dropdown-item-icon"></i>Chỉnh sửa kỹ năng
                                                </a>

                                                @if (item.PersonalSkills.Count < 1)
                                                {
                                                    <div class="dropdown-divider"></div>
                                                    <a role="button" name="@item.ID" id="xoa@(item.ID)" class="dropdown-item" href="#">
                                                        <i class="fe fe-trash dropdown-item-icon"></i>Xóa kỹ năng
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="align-middle text-center">
                                    Không có dữ liệu để hiển thị.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Chỉnh sửa vai trò -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="width: 800px;">

            <div class="offcanvas-body" data-simplebar>
                <div style="margin-bottom: -20px" class="offcanvas-header px-2 pt-0">
                    <h4 class="offcanvas-title" id="offcanvasExampleLabel"><i class="fe fe-edit"> </i> Chỉnh Sửa Kỹ Năng</h4>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr class="my-4" />
                <!-- card body -->
                <div class="container ">
                    <!-- form -->
                    <form class="row">
                        <!-- form group -->
                        <div class="mb-2 col-md-12">
                            <label style="font-weight:bold;" class="form-label">Danh mục kỹ năng <span class="text-danger">*</span></label>
                            <select id="kynangsua" name="kynangsua" class="form-select text-dark" data-width="100%">
                                @foreach (var item in lstDMKyNang)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                            <p style="font-size: 13px; color:red;"></p>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label style="font-weight: bold;" class="form-label">Tên kỹ năng <span class="text-danger">*</span></label>
                            <input id="name" name="name" type="text" class="form-control" placeholder="Nhập tên kỹ năng">
                            <input id="id" name="id" hidden>
                            <p style="color: red; font-size: 13px" id="EditKyNangValidateResul"></p>
                        </div>

                        <div style="text-align: right; padding-top: 20px" class="mb-2 col-12 col-md-6">
                            <button id="dongChinhSua" style="width: 230px" class="btn btn-outline-danger" type="reset" data-bs-dismiss="offcanvas" aria-label="Close">
                                Hủy
                            </button>
                        </div>
                        <div style=" padding-top: 20px" class="mb-2 col-12 col-md-6">
                            <a role="button" id="luuChinhSua" style="width: 230px" class="btn btn-success">
                                Lưu
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Thêm vai trò -->
<div class="modal fade modal-lg" id="themVaiTroModal" tabindex="-1" role="dialog"
     aria-labelledby="themVaiTroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="themVaiTroModal"><i class="fe fe-award"> </i> Thêm Kỹ Năng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <form class="modal-body">
                <!-- form -->
                <div class="row">
                    <!-- form group -->
                    <div class="mb-2 col-md-12">
                        <label style="font-weight:bold;" class="form-label">Danh mục kỹ năng <span class="text-danger">*</span></label>
                        <select id="kynang" name="kynang" class="form-select text-dark" data-width="100%">
                            <option selected disabled value="">Chọn danh mục</option>
                            @foreach (var item in lstDMKyNang)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                        <p style="font-size: 13px; color:red;" id="kynangvalidation"></p>
                    </div>
                    <div class="mb-3 col-md-12">
                        <label style="font-weight: bold;" class="form-label">Tên kỹ năng <span class="text-danger">*</span></label>
                        <input id="tenkynang" type="text" class="form-control" placeholder="Nhập tên kỹ năng">
                        <p style="color: red; font-size: 13px" id="KyNangValidateResul"></p>
                    </div>

                    <div style="text-align: right; padding-top: 20px" class="mb-2 col-12 col-md-6">
                        <button id="dongthemkynang" style="width: 230px" class="btn btn-outline-danger" type="reset" data-bs-dismiss="modal" aria-label="Close">
                            Hủy
                        </button>
                    </div>
                    <div style=" padding-top: 20px" class="mb-2 col-12 col-md-6">
                        <a role="button" id="themkynang" style="width: 230px" class="btn btn-success">
                            Lưu
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/ValidationAlert/Admin/QuanLyKyNang/SuaKyNangValidation.js"></script>
<script src="~/ValidationAlert/Admin/QuanLyKyNang/ThemKyNangValidation.js"></script>
<script src="~/ValidationAlert/Admin/QuanLyKyNang/XoaKyNangValidation.js"></script>
<script>
    $(document).ready(function () {
        $('[id^=tendaiqua]').each(function () {
            text = $(this).text();
            if (text.length > 50) {
                $(this).html(text.substr(0, 50) + '...');
            }
        });
    });
</script>

